// take away the header
.chat-room-tab {
  height: calc(100% - 40px);
}
.chat-room {
  height: calc(100%);
}

.header {
  margin-left: 55px;
}

// Messages
.message-text {
  background-color: var(--background-page);
  line-height: 18px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
  margin-right: 120px;
}
.message-text.owned {
  background-color: var(--background-header);
  margin-right: 0px;
  margin-left: 120px;
}
.profile-position {
  position: absolute;
  bottom: 2px;
  left: -3px;
}
.profile-position.owned {
  position: absolute;
  left: auto;
  right: -3px;
}
.hover-text {
  display: none;
  position: absolute;
  right: 35px;
}
.hover-text.owned {
  right: auto;
  left: 35px;
}
.message-text:hover + .hover-text {
  display: block;
}

.body {
  margin-bottom: 42px;
  overflow: auto;
}
// Content Editable
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.editor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-background);
  border-radius: 5px;

  .chat {
    flex-grow: 1;
    max-width: 100%;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  // include a placeholder for the chat
  [contenteditable='true']:empty:not(:focus):before {
    content: attr(ph);
    color: var(--input-text-ph);
    font-style: italic;
    cursor: text;
  }
  [contenteditable='true']:empty:focus:before {
    content: attr(ph);
    color: var(--input-text-ph-light);
    font-style: italic;
    cursor: text;
  }

}
