<div class="chat-room col background-container">
  <!-- Header -->
  <div class="header row-h-center margin-md">
    <span class="row-center margin-r-md">
      <i class="material-icons icon-md icon-secondary"> person </i>
      <span class="text-secondary margin-l-sm">4 -</span>
    </span>
    <span class="flex-fill">QNC (0.5km)</span>
  </div>
  <!-- Body -->
  <div class="col flex-fill padding-md">
    <div *ngFor="let message of messages" class="row-center margin-v-sm">
      <div *ngIf="!message.owned; else owned" class="row-center align-left">
        <!-- Message -->
        <div [class]="getProfilePictureClass(message.profilePictureNum)">
          <img
            [src]="
              '../../../../../assets/images/profile/' +
              message.profilePictureSrc
            "
          />
        </div>
        <span class="message row-h-center margin-l-md flex-fill">{{
          message.text
        }}</span>
      </div>
      <ng-template #owned>
        <!-- Owned Message -->
        <div class="row-center align-right">
          <span class="message row-h-center flex-fill margin-r-md">{{
            message.text
          }}</span>
          <div [class]="getProfilePictureClass(message.profilePictureNum)">
            <img
              [src]="
                '../../../../../assets/images/profile/' +
                message.profilePictureSrc
              "
            />
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- Chat Bar -->
  <div class="row-center margin-lg">
    <span
      #chat
      contenteditable="true"
      attr.ph="{{ 'MAIN.CHAT_ROOM.CHAT_PLACEHOLDER' | translate }}"
      class="chat"
      (input)="onTextInput($event)"
    ></span>
    <button class="button-primary margin-l-md" (click)="submit()">
      {{ 'MAIN.CHAT_ROOM.SUBMIT' | translate }}
    </button>
  </div>
</div>
