<div class="chat-room col background-container">
  <!-- Header -->
  <div class="header row-h-center margin-md">
    <span class="row-center margin-r-md">
      <i class="material-icons icon-md icon-secondary"> person </i>
      <span class="text-secondary margin-l-sm">4 -</span>
    </span>
    <span class="flex-fill">QNC (0.5km)</span>
  </div>

  <!-- Body -->
  <div
    #chat
    class="col flex-fill padding-md overflow-auto"
    (scroll)="onScroll()"
  >
    <!-- Chat Start -->
    <div *ngIf="!beforeCursor" class="row-center text-secondary text-sm">
      {{ 'MAIN.CHAT_ROOM.CHAT_HISTORY_START' | translate }}
    </div>
    <div class="observer" #anchor></div>
    <div *ngFor="let message of messages; let i = index" class="col-center">
      <!-- Date -->
      <div
        *ngIf="showDate(i)"
        class="row-center text-secondary text-sm padding-v-sm"
      >
        {{ formatTimestamp(message.insertedAt) }}
      </div>

      <!-- Message -->
      <div
        *ngIf="!message.owned; else owned"
        class="row-center relative align-left"
      >
        <!-- Profile Picture -->
        <div
          *ngIf="showProfilePicture(i, message.owned)"
          [class]="getProfilePictureClass(message.profilePictureNum, message.owned)"
        >
          <img [src]="'assets/images/profile/' + message.profilePictureSrc" />
        </div>
        <!-- Text -->
        <span class="message-text row-h-center flex-fill">{{
          message.text
        }}</span>
        <span class="hover-text padding-sm">
          {{ formatTimestamp(message.insertedAt) }}
        </span>
      </div>

      <!-- Owned Message -->
      <ng-template #owned>
        <div class="row-center relative align-right">
          <!-- Text -->
          <span class="message-text owned row-h-center flex-fill">{{
            message.text
          }}</span>
          <span class="hover-text owned padding-sm">
            {{ formatTimestamp(message.insertedAt) }}
          </span>
          <!-- Profile Picture -->
          <div
            *ngIf="showProfilePicture(i, message.owned)"
            [class]="getProfilePictureClass(message.profilePictureNum, message.owned)"
          >
            <img [src]="'assets/images/profile/' + message.profilePictureSrc" />
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Chat Bar -->
  <div class="row-center margin-lg">
    <span
      #create
      contenteditable="true"
      attr.ph="{{ 'MAIN.CHAT_ROOM.CHAT_PLACEHOLDER' | translate }}"
      class="chat"
      (input)="onTextInput($event)"
    ></span>
    <button class="button-primary margin-l-md" (click)="submit()">
      {{ 'MAIN.CHAT_ROOM.SEND' | translate }}
    </button>
  </div>
</div>
