// Global Colors

// Social

$facebook-blue: #4267B2;
$google-white: #FFFFFF;

// Good colors

$subtle-grey: #9E9E9E;
$lighter-grey: #E0E0E0;
$background-grey: #EEEEEE;

$error-red: #D32F2F;
$error-red-light: #FF8A65;
$success-green: #81C784;
$info-blue: #4FC3F7;
$warning-yellow: #FFF59D;

// FORMS

$button-black: #212121;
$button-font-white: #FFFFFF;
$button-highlight: #00BFA5;

// PROFILE PICTURE COLORS
$profileop: #424242;
$profile0: #EF9A9A;
$profile1: #880E4F;
$profile2: #4A148C;
$profile3: #EA80FC;
$profile4: #311B92;
$profile5: #1976D2;
$profile6: #8484FF;
$profile7: #004D40;
$profile8: #DD2C00;
$profile9: #CDDC39;
$profile10: #43A047;
$profile11: #FFA726;
$profile12: #6D4C41;
$profile13: #78909C;
