// Global Colors

$primary-color: #20232a;
$secondary-color: #00BCD4;

$header-color: #006064;
$description-color: #757575;
$background: #F5F5F5;

$success-green: #4CAF50;
$error-red: #D32F2F;

$button-color: #006064;

$facebook-blue: #4267B2;
$google-white: #FFFFFF;

// Good colors

$subtle-grey: #9E9E9E;
$background-grey: #EEEEEE;

$error-red: #D32F2F;
$error-red-light: #FF8A65;
$success-green: #81C784;
$info-blue: #4FC3F7;
$warning-yellow: #FFF59D;

// FORMS

$button-black: #212121;
$button-font-white: #FFFFFF;
$button-highlight: #00BFA5;

// PROFILE PICTURE COLORS
$profileop: #424242;
$profile1: #EF9A9A;
$profile2: #880E4F;
$profile3: #4A148C;
$profile4: #EA80FC;
$profile5: #311B92;
$profile6: #1976D2;
$profile7: #84FFFF;
$profile8: #004D40;
$profile9: #DD2C00;
$profile10: #CDDC39;
$profile11: #43A047;
$profile12: #FFA726;
$profile13: #6D4C41;
$profile14: #FFEE58;
