// Global Colors

// DEPRECATED, use themes

// Social

$facebook-blue: #5890FF;
$google-white: #FFFFFF;

// Good colors

$subtle-grey: #9E9E9E;
$lighter-grey: #E0E0E0;
$background-grey: #EEEEEE;

$error-red: #b71c1c;
$error-red-light: #f05545;
$success-green: #1b5e20;
$info-blue: #4FC3F7;
$warning-yellow: #f9a825;

// FORMS

$button-black: #212121;
$button-font-white: #FFFFFF;
$button-highlight: #00BFA5;
$item-highlight: #e0fffb;

// PROFILE PICTURE COLORS
$profileop: #E0E0E0;
$profile0: #D2C3C3;
$profile1: #CFAFAF;
$profile2: #E9D2D2;
$profile3: #E7C4C4;
$profile4: #FFAD99;
$profile5: #F5AC8E;
$profile6: #FFB86D;
$profile7: #FFD199;
$profile8: #FFE9CD;
$profile9: #FEF0AD;
$profile10: #E2E095;
$profile11: #E0E9BB;
$profile12: #C2D6A1;
$profile13: #CCFF99;
$profile14: #BDD6A9;
$profile15: #AFCFAF;
$profile16: #ACCFB9;
$profile17: #B5FFD5;
$profile18: #B8D5D5;
$profile19: #C6EAEA;
$profile20: #A6C3D3;
$profile21: #AAB3DC;
$profile22: #AAAAFF;
$profile23: #C5BDF8;
$profile24: #D8C4FF;
$profile25: #FBB3B6;
