@import 'colors';

.profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-owned {
  border: 3px solid $button-highlight;
}

.pop {
  background-color: $profileop;
}

.p0 {
  background-color: $profile0;
}

.p1 {
  background-color: $profile1;
}

.p2 {
  background-color: $profile2;
}

.p3 {
  background-color: $profile3;
}

.p4 {
  background-color: $profile4;
}

.p5 {
  background-color: $profile5;
}

.p6 {
  background-color: $profile6;
}

.p7 {
  background-color: $profile7;
}

.p8 {
  background-color: $profile8;
}

.p9 {
  background-color: $profile9;
}

.p10 {
  background-color: $profile10;
}

.p11 {
  background-color: $profile11;
}

.p12 {
  background-color: $profile12;
}

.p13 {
  background-color: $profile13;
}

.p14 {
  background-color: $profile14;
}

.p15 {
  background-color: $profile15;
}

.p16 {
  background-color: $profile16;
}

.p17 {
  background-color: $profile17;
}

.p18 {
  background-color: $profile18;
}

.p19 {
  background-color: $profile19;
}

.p20 {
  background-color: $profile20;
}

.p21 {
  background-color: $profile21;
}

.p22 {
  background-color: $profile22;
}

.p23 {
  background-color: $profile23;
}

.p24 {
  background-color: $profile24;
}

.p25 {
  background-color: $profile25;
}
