<div class="chat-password">
  <!-- Header -->
  <div class="row-center padding-sm background-header container-t-rounded">
    <span class="flex-fill">
      {{ 'MAIN.CHAT_PASSWORD.TITLE' | translate }}
    </span>
    <span class="material-icons icon-close" (click)="close()"> close </span>
  </div>

  <!-- Body -->
  <div class="col padding-lg container-b-rounded">
    <!-- Input -->
    <div class="row-center margin-r-md">
      <span class="material-icons icon-sm"> lock </span>
      <input
        [(ngModel)]="password"
        class="input-border-bottom-sm margin-l-sm"
        placeholder="{{
          'MAIN.CHAT_DISCOVER.PASSWORD_PLACEHOLDER' | translate
        }}"
        type="text"
      />
    </div>

    <!-- Join button -->
    <button class="button align-right" (click)="join()">
      {{ 'MAIN.CHAT_PASSWORD.JOIN' | translate }}
    </button>
  </div>
</div>
