<div class="margin-b-md">
  <div class="row" [class.linked]="spot.startCommentLink === comment.link">
    <!-- profile picture -->
    <div
      class="profile-comment margin-r-md"
      [class.owned]="comment.owned"
      [ngClass]="
        comment.profilePictureNum == -1
          ? 'profile-op'
          : 'profile-' + comment.profilePictureNum
      "
    >
      <img [src]="'/assets/images/profile/' + comment.profilePictureSrc" />
    </div>

    <!-- content -->
    <div class="col full-width">
      <!-- Top bar -->
      <div class="header row-h-center justify-content-between">

        <!-- like/dislike -->
        <div class="row-h-center">
          <span
            class="material-icons icon-sm icon-primary-highlight margin-r-xs"
            (click)="like()"
            [class.primary]="comment.myRating === eCommentRatingType.LIKE"
          >
            keyboard_arrow_up
          </span>
          <div class="points">{{ comment.likes - comment.dislikes }}</div>
          <span
            class="material-icons icon-sm icon-primary-highlight margin-l-xs"
            (click)="dislike()"
            [class.error]="comment.myRating === eCommentRatingType.DISLIKE"
          >
            keyboard_arrow_down
          </span>
        </div>

        <!-- right -->
        <div class="row-h-center">
          <!-- time -->
          <div class="text-sm text-secondary margin-r-md">
            {{ timeMessage }}
          </div>

          <!-- Add reply -->
          <div
            class="reply margin-r-md margin-t-sm"
            (click)="toggleShowAddReply()"
            [ngClass]="{
              disabled: !(
                comment.tag.tagged ||
                (spot.inRange &&
                  (isAuthenticated$ | async) &&
                  (isVerified$ | async) &&
                  location)
              )
            }"
          >
            <span class="material-icons icon-md icon-secondary-highlight"> reply </span>
          </div>

          <!-- Dropdown -->
          <div #options class="relative">
            <span class="material-icons icon-md icon-primary-highlight margin-t-sm" (click)="toggleDropdown()">
              more_horiz
            </span>
            <div class="dropdown align-bottom">
              <div
                class="dropdown-content"
                [class.show-dropdown]="showDropdown"
              >
                <div
                  class="dropdown-button"
                  (click)="openReportModal(comment.spotId, comment.commentId)"
                >
                  <span class="material-icons icon"> outlined_flag </span>
                  {{ 'MAIN.COMMENTS.REPORT' | translate }}
                </div>
                <div
                  class="dropdown-button"
                  (click)="
                    openShareModal(
                      spot.spotId,
                      spot.link,
                      comment.commentId,
                      comment.link
                    )
                  "
                >
                  <span class="material-icons icon"> share </span>
                  {{ 'MAIN.COMMENTS.SHARE' | translate }}
                </div>
                <div
                  *ngIf="
                    comment.owned ||
                    user.role === 'ADMIN' ||
                    user.role === 'OWNER'
                  "
                  class="dropdown-button"
                  (click)="deleteComment()"
                >
                  <span class="material-icons icon"> delete </span>
                  {{ 'MAIN.COMMENTS.DELETE' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="overflow-hidden flex-fill">
        <div class="row">
          <div class="tagger" *ngIf="comment.tag.tagged">
            <span class="highlight"> {{ comment.tag.tagger }} </span>
            {{ 'MAIN.COMMENTS.TAGGER' | translate }}
          </div>

          <div class="text">
            <span #text class="text-content"></span>
            <span *ngIf="isExpandable">
              <span *ngIf="expanded; else notExpanded">
                <span class="text-secondary-highlight" (click)="setExpanded(false)">
                  {{ 'MAIN.COMMENTS.SEE_LESS' | translate }}
                </span>
              </span>
              <ng-template #notExpanded>
                <span class="text-secondary-highlight" (click)="setExpanded(true)">
                  {{ 'MAIN.COMMENTS.SEE_MORE' | translate }}
                </span>
              </ng-template>
            </span>
          </div>

          <div *ngIf="userMetadata$ | async as userMetadata">
            <div
              *ngIf="comment.imageSrc !== null"
              (click)="imageClicked()"
              class="image"
            >
              <img
                [src]="comment.imageSrc"
                [ngClass]="{
                  'image-blur': imageBlurred && userMetadata.matureFilter
                }"
              />
              <div
                *ngIf="imageBlurred && userMetadata.matureFilter"
                class="image-blur-text"
              >
                <span class="material-icons icon"> error_outline </span>
                <span class="text">
                  {{ 'MAIN.COMMENTS.MATURE_CONTENT' | translate }}
                </span>
                <span class="text highlight">
                  {{ 'MAIN.COMMENTS.MATURE_CONTENT_SHOW' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add reply -->
      <div [hidden]="!showAddReply" class="row-center margin-b-md margin-r-md margin-t-md">
        <div class="editor">
          <span
            #reply
            contenteditable="true"
            attr.ph="{{ 'MAIN.COMMENTS.ADD_REPLY_PLACEHOLDER' | translate }}"
            class="reply-content"
            (input)="onTextInput($event)"
            (keydown.enter)="onEnter()"
          ></span>
          <div *ngIf="imgSrc !== null" class="image">
            <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
          </div>
          <div class="row-h-center flex-fill" *ngIf="imgSrc !== null">
            <span class="margin-h-md">
              {{ 'MAIN.COMMENTS.FILE_TITLE' | translate }}
            </span>
            <span class="file-name">
              {{ getDisplayFilename(imageFile.name) }}
            </span>
              <span class="material-icons icon-close" (click)="removeFile()"> delete </span>
          </div>
          <div class="align-right row-h-center margin-h-md">
            <span
              class="text-secondary margin-r-sm"
              [class.text-error]="invalidLength()"
            >
              {{ MAX_COMMENT_LENGTH - currentLength }}
            </span>
            <input
              style="display: none"
              type="file"
              (change)="onFileChanged($event)"
              #fileInput
            />
            <span class="material-icons text-secondary-highlight margin-r-sm" (click)="fileInput.click()">
              insert_photo
            </span>
            <span class="loading" *ngIf="addReplyLoading; else showsend">
              <spot-spinner size="small" light="true"> </spot-spinner>
            </span>
            <ng-template #showsend>
              <span class="material-icons icon-secondary" (click)="addReply()"> send </span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="text-error" *ngIf="addReplyError">
        {{ addReplyError }}
      </div>
    </div>
  </div>

  <span class="tag-relative">
    <spot-tag
      #tag
      *ngIf="showTag"
      [name]="tagName"
      [postLink]="spot.link"
      (tag)="addTag($event)"
    ></spot-tag>
  </span>

  <div *ngIf="loadingReplies; else loadedReplies">
    <div
      *ngIf="showLoadingRepliesIndicator$ | async"
      class="col-center"
    >
      <span> {{ 'MAIN.COMMENTS.LOADING_REPLIES' | translate }} </span>
      <div class="margin-v-lg">
        <spot-spinner size="small" type="dot"></spot-spinner>
      </div>
    </div>
  </div>
  <ng-template #loadedReplies>
    <div *ngFor="let reply of replies">
      <spot-reply
        [reply]="reply"
        [comment]="comment"
        [spot]="spot"
        [detailed]="detailed"
      ></spot-reply>
    </div>
  </ng-template>

  <div *ngIf="totalRepliesAfter > 0" class="row-center padding-b-md">
    <div class="row-h-center text-secondary-highlight relative" (click)="loadMoreReplies()">
      {{ 'MAIN.COMMENTS.LOAD' | translate }}
      {{ loadMoreRepliesNum() }}
      {{
        loadMoreRepliesNum() > 1
          ? STRINGS.MORE_REPLIES
          : STRINGS.MORE_REPLIES_SINGULAR
      }}
      <div *ngIf="loadingMoreReplies" class="load-more-replies">
        <spot-spinner size="small"></spot-spinner>
      </div>
    </div>
  </div>
</div>
