@import '../../../../styles/colors';


// Comment
.comment {
  display: flex;
}

// Content
.content-wrapper {
  width: 100%;
}

.content {
  margin-top: 15px;
}

.highlight {
  color: $button-highlight;
}

// left bar
.left-bar {
  margin-left: 20px;
  width: 50px;
  margin-right: 8px;
}

.left-bar-alignment {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 3px;
}

.vote {
    cursor: pointer;
    font-size: 16px;
    &:hover {
      @extend .highlight;
    }
}

.profile {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

// right-bar
.right-bar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}


.reply {
  cursor: pointer;
  color: $subtle-grey;
  visibility: hidden;
  &:hover {
    @extend .highlight;
  }
}

.comment:hover .reply {
  visibility: visible;
}

.time {
  font-size: 12px;
  color: $subtle-grey;
}

.dropdown {
  cursor: pointer;
  margin-left: auto;
  position: relative;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  &:hover {
    @extend .highlight;
  }
}

.comment:hover .dropdown {
  visibility: visible;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  top: 20px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .button:hover {background-color: #ddd}

.show {
  display:block;
}

.icon-size {
  font-size: 20px;
}

// Add reply form

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send {
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

input {
  padding: 6px 10px;
  margin: 6px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $subtle-grey;
  outline: none;
}

input.ng-dirty.ng-invalid {
  border: 1px solid $error-red;
}

// replies

.load-more {
  display: flex;
  justify-content: center;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

// Profile picture color styles
.pop {
  background-color: $profileop;
}

.p0 {
  background-color: $profile0;
}

.p1 {
  background-color: $profile1;
}

.p2 {
  background-color: $profile2;
}

.p3 {
  background-color: $profile3;
}

.p4 {
  background-color: $profile4;
}

.p5 {
  background-color: $profile5;
}

.p6 {
  background-color: $profile6;
}

.p7 {
  background-color: $profile7;
}

.p8 {
  background-color: $profile8;
}

.p9 {
  background-color: $profile9;
}

.p10 {
  background-color: $profile10;
}

.p11 {
  background-color: $profile11;
}

.p12 {
  background-color: $profile12;
}

.p13 {
  background-color: $profile13;
}
