<div class="container">
  <div class="comment">
    <div class="left-bar">
      <div class="left-bar-alignment">
        <div class="column">
          <i class="material-icons vote" (click)="like()" [ngClass]="{'highlight': comment.rated == 1}"> keyboard_arrow_up </i>
          <div class="points"> {{ comment.likes - comment.dislikes }} </div>
          <i class="material-icons vote" (click)="dislike()" [ngClass]="{'highlight': comment.rated == 0}"> keyboard_arrow_down </i>
        </div>
        <div [class]="getProfilePictureClass(comment.profilePicture)"> {{ getProfilePictureSymbol(comment.profilePicture) }} </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        {{ getContent() }}
        <span *ngIf="expandable()">
          <span *ngIf="!expanded; else notExpanded">
            <span class="expand" (click)="setExpanded(true)"> {{ STRINGS.SEE_MORE }} </span>
          </span>
          <ng-template #notExpanded>
              <span class="expand" (click)="setExpanded(false)"> {{ STRINGS.SEE_LESS }} </span>
          </ng-template>
        </span>
      </div>
      <div *ngIf="showAddReply" class="add">
        <form [formGroup]="form">
          <fieldset>
            <div class="input-container">
              <input autocomplete="off" name="comment" (keyup)="onKey($event)" formControlName="comment" [placeholder]="STRINGS.ADD_REPLY_PLACEHOLDER" required />
              <span class="counter" [ngClass]="{'counter-error': invalidLength() }"> {{ MAX_COMMENT_LENGTH - currentLength }} </span>
              <i class="material-icons photo"> insert_photo </i>
              <span class="send" (click)="addReply()">
                <i class="material-icons"> send </i>
              </span>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="right-bar">
      <div #options class="dropdown align-bottom" (click)="setOptions(true)">
        <i class="material-icons icon-size"> more_horiz </i>
        <div  class="dropdown-content" [ngClass]="{'show': optionsEnabled }">
          <div class="button" (click)="deleteComment()"> {{ STRINGS.DELETE }} </div>
          <div class="button"> {{ STRINGS.REPORT }} </div>
        </div>
      </div>
      <div class="time">
        {{ timeMessage }}
      </div>
      <div class="reply" (click)="setShowAddReply(true)">
        <i class="material-icons"> reply </i>
      </div>
    </div>
  </div>
  <div *ngFor="let reply of replies">
    <spot-reply [reply]="reply" [detailed]="detailed"></spot-reply>
  </div>
  <div *ngIf="numLoaded < totalReplies" class="load-more" (click)="loadMoreReplies()"> {{ STRINGS.LOAD_MORE_REPLIES }} </div>
</div>
