
.header {
  height: 15px;
}

.linked {
  background-color: var(--item-highlight);
  border-radius: 15px;
}

.load-more-replies {
  position: absolute;
  top: 0px;
  right: -20px;
}

.disabled {
  display: none;
}

[hidden] {
  display: none !important;
}

// Tag
.tag-relative {
  position: relative;
  z-index: 999;
}

spot-tag {
  position: absolute;
  left: 74px;
}

.content-tag-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .tag-name-container {
    display: flex;
    flex-flow: row wrap;
  }

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 6px;
    margin: 1px 3px 1px 0px;
    background-color: var(--background-primary);

    .person {
      color: var(--text-secondary);
      font-size: 20px;
    }

    .highlight {
      color: var(--primary);
    }
  }
}

:host ::ng-deep .tag-inline-comment {
  line-height: 1.2em;
  font-weight: 700;
}

:host ::ng-deep .tag-inline-comment-icon {
  line-height: 1.2em;
  font-size: 1.2em;
  vertical-align: bottom;
}

// text content
.text-content {
  line-height: 1.2em;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.editor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-header);
  border-radius: 3px;

  .reply-content {
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
    padding: 6px 6px;
    border: 0;
    outline: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  // include a placeholder
  [contenteditable='true']:empty:not(:focus):before {
    content: attr(ph);
    color: var(--input-text-ph);
    font-style: italic;
    cursor: text;
  }

  [contenteditable='true']:empty:focus:before {
    content: attr(ph);
    color: var(--input-text-ph-light);
    font-style: italic;
    cursor: text;
  }
}

// image content
.image {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 500px;
}

.image-blur {
  opacity: 0.4;
  filter: blur(10px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-filter: blur(10px);
}

.image-blur-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 225px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-page);
  padding: 10px 5px;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  .icon {
    font-size: 42px;
    margin-bottom: 5px;
    color: var(--primary);
  }

  .text {
    font-size: 16px;
    color: black;
    text-align: center;
  }

  .text.highlight {
    color: var(--text-secondary);
  }
}

.image:hover .image-blur-text .text.highlight {
  color: var(--primary);
}


