<spot-main-nav></spot-main-nav>
<div class="friends row-v-center full-width background-page border-box">
  <div class="friends-content col">
    <!-- Pending Friends -->
    <div *ngIf="pendingFriendRequests.length > 0">
      <div class="row-h-center background-header padding-md">
        <span class="material-icons icon-lg icon-primary"> hourglass_top </span>
        <span class="title-sm margin-l-md">
          {{ 'MAIN.FRIENDS.PENDING' | translate }}
        </span>
      </div>
      <div
        class="full-width padding-md border-box background-container margin-b-lg"
      >
        <div
          class="row-h-center justify-content-between padding-sm margin-v-lg container-shadow"
          *ngFor="let pendingFriendRequest of pendingFriendRequests"
        >
          <div>
            <span class="text-info margin-l-lg">
              {{ pendingFriendRequest.username }}
            </span>
          </div>
          <div class="row">
            <button
              class="button-cancel mobile-button"
              (click)="
                deletePendingFriendRequest(pendingFriendRequest.friendId)
              "
            >
              <span class="mobile-hide">{{
                'MAIN.FRIENDS.CANCEL' | translate
              }}</span>
              <span class="material-icons mobile-show"> close </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Friend Requests -->
    <div *ngIf="friendRequests.length > 0">
      <div class="row-h-center background-header padding-md">
        <span class="material-icons icon-lg icon-primary"> flaky </span>
        <span class="title-sm margin-l-md">
          {{ 'MAIN.FRIENDS.REQUESTS' | translate }}
        </span>
      </div>
      <div
        class="full-width padding-md border-box background-container margin-b-lg"
      >
        <div
          class="row-h-center justify-content-between padding-sm margin-v-lg container-shadow"
          *ngFor="let friendRequest of friendRequests"
        >
          <div>
            <span class="text-info margin-l-lg">
              {{ friendRequest.username }}
            </span>
          </div>
          <div class="row">
            <button
              class="button-primary margin-r-md mobile-button"
              (click)="acceptFriendRequest(friendRequest.friendId)"
            >
              <span class="mobile-hide"
                >{{ 'MAIN.FRIENDS.FRIEND_REQUEST_ACCEPT' | translate }}
              </span>
              <span class="material-icons mobile-show"> done </span>
            </button>
            <button
              class="button-cancel mobile-button"
              (click)="declineFriendRequest(friendRequest.friendId)"
            >
              <span class="mobile-hide"
                >{{ 'MAIN.FRIENDS.FRIEND_REQUEST_DECLINE' | translate }}
              </span>
              <span class="material-icons mobile-show"> close </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Friends -->
    <div
      class="row-h-center justify-content-between background-header padding-sm"
    >
      <div class="row-center">
        <span class="material-icons icon-lg icon-primary"> person_add </span>
        <div class="title-sm margin-l-md">
          {{ 'MAIN.FRIENDS.ADD' | translate }}
        </div>
      </div>
      <button
        *ngIf="facebookLoaded && (facebookConnected$ | async) === false"
        class="button-facebook"
        (click)="facebookConnect()"
      >
        <img
          src="assets/images/facebook_logo_white.png"
          class="icon-facebook"
        />
        <span class="text-facebook">
          {{ 'MAIN.FRIENDS.FACEBOOK_CONNECT' | translate }}
        </span>
      </button>
    </div>
    <div class="full-width border-box background-container margin-b-lg">
      <div
        class="row-h-center justify-content-between border-box margin-v-sm margin-h-xl"
      >
        <input
          [(ngModel)]="friendRequestUsername"
          placeholder="{{
            'MAIN.FRIENDS.FRIEND_REQUEST_PLACEHOLDER' | translate
          }}"
          type="text"
          class="input-borderless full-width"
          (keyup.enter)="addFriendRequest()"
        />
        <span class="row-h-center margin-l-lg" (click)="addFriendRequest()">
          <i class="material-icons icon-submit"> send </i>
        </span>
      </div>
    </div>
    <div *ngIf="friendRequestsError" class="text-sm text-error margin-b-md">
      {{ friendRequestsError }}
    </div>
    <div *ngIf="friendRequestsSuccess" class="text-sm text-success margin-b-md">
      {{ friendRequestsSuccess }}
    </div>

    <!-- Friends List Header w/ Search -->
    <div
      class="row-h-center justify-content-between background-header padding-sm"
    >
      <div class="row-center">
        <span class="material-icons icon-lg icon-primary"> people_alt </span>
        <div class="title-sm margin-l-md">
          {{ 'MAIN.FRIENDS.FRIENDS' | translate }}
        </div>
      </div>
      <div class="row-h-center">
        <span class="material-icons icon-lg icon-primary"> search </span>
        <input
          [(ngModel)]="friendSearch"
          class="input-border-bottom-sm margin-l-sm"
          placeholder="{{
            'MAIN.FRIENDS.FRIEND_SEARCH_PLACEHOLDER' | translate
          }}"
          type="text"
        />
      </div>
    </div>
    <!-- Friends List -->
    <div
      class="full-width padding-md border-box background-container margin-b-lg"
    >
      <div
        *ngIf="
          friends$
            | async
            | filter: { filter: friendSearch, field: 'username' } as friends
        "
      >
        <div *ngIf="friends.length > 0; else noFriends">
          <div
            class="row-h-center justify-content-between container-shadow padding-md margin-v-lg"
            *ngFor="let friend of friends"
          >
            <span class="text-info margin-l-lg"> {{ friend.username }} </span>
            <button
              class="button-cancel mobile-button"
              (click)="deleteFriend(friend.friendId)"
            >
              <span class="mobile-hide">{{
                'MAIN.FRIENDS.REMOVE' | translate
              }}</span>
              <span class="material-icons mobile-show"> delete_outline </span>
            </button>
          </div>
        </div>

        <!-- No Friends -->
        <ng-template #noFriends>
          <div *ngIf="friendSearch; else addFriends">
            <span class="row-center text-center flex-wrap padding-lg overflow-hidden">
              <span class="material-icons icon"> search_off </span>
              {{ 'MAIN.FRIENDS.NO_FRIENDS_FOUND' | translate }}
              {{ friendSearch }}
            </span>
          </div>
          <ng-template #addFriends>
            <span
              *ngIf="showNoFriendsIndicator$ | async"
              class="row-center padding-lg"
            >
              <span class="material-icons icon-lg"> person_add </span>
              <span class="margin-l-md">
                {{ 'MAIN.FRIENDS.NO_FRIENDS' | translate }}
              </span>
            </span>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
