@import '../../../styles/colors';

// default

.small {
  width: 12px;
  height: 12px;
  border: 2px solid $lighter-grey;
  border-top: 2px solid $button-highlight;
}

.medium {
  width: 30px;
  height: 30px;
  border: 5px solid $lighter-grey;
  border-top: 5px solid $button-highlight;
}

.large {
  width: 50px;
  height: 50px;
  border: 7px solid $lighter-grey;
  border-top: 7px solid $button-highlight;
}

.spinner {
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.light {
  border-color: $background-grey;
  border-top-color: $button-highlight;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// dot  pulse

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $button-highlight;
  color: $button-highlight;
  box-shadow: 9999px 0 0 -5px $button-highlight;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $button-highlight;
  color: $button-highlight;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $button-highlight;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $button-highlight;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $button-highlight;
  }
  30% {
    box-shadow: 9984px 0 0 2px $button-highlight;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $button-highlight;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $button-highlight;
  }
  30% {
    box-shadow: 9999px 0 0 2px $button-highlight;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $button-highlight;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $button-highlight;
  }
  30% {
    box-shadow: 10014px 0 0 2px $button-highlight;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $button-highlight;
  }
}
