<spot-main-nav (titleEvent)="refresh()"></spot-main-nav>
<div class="locationToggle">
  <div class="local" [ngClass]="{'selectedLocation': isSelectedLocation('local') }" (click)="setLocal()"> <i class="material-icons"> home </i> </div>
  <div class="global" [ngClass]="{'selectedLocation': isSelectedLocation('global') }" (click)="setGlobal()"> <i class="material-icons"> language </i> </div>
</div>
<div class="postFilterToggle">
  <div class="hot" [ngClass]="{'selectedSort': isSelectedPostSort('hot') }" (click)="setHot()"> {{ STRINGS.HOT }} </div>
  <div class="new" [ngClass]="{'selectedSort': isSelectedPostSort('new') }" (click)="setNew()"> {{ STRINGS.NEW }} </div>
</div>
<div class="container">
  <div *ngIf="myLocation || postlocation == 'global'; else noLocation" class="content">
      <div class="max-width" *ngIf="account$ | async as account">
        <div class="max-width" *ngIf="account.verified_date !== null; else verify">
          <spot-create></spot-create>
        </div>

        <ng-template #verify>
          <div class="verify">
            {{ STRINGS.VERIFY }}
            <div *ngIf="verificationSent == false; else sent" class="verify-click verify-container" (click)="verifyAccount()">
              <span class="verify-text"> {{ STRINGS.VERIFY_SEND }} </span>
              <span class="material-icons verify-icon"> email </span>
            </div>
            <ng-template #sent>
              <div class="verify-container">
                <span class="verify-text"> {{ STRINGS.VERIFY_SENT }}. </span>
                <div class="verify-click" (click)="verifyAccount()">
                  <span class="verify-text"> {{ STRINGS.VERIFY_RESEND }} </span>
                  <span class="material-icons verify-icon"> redo </span>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>

      </div>
      <div class="posts">
        <spot-infinite-scroll (scrolled)="onScroll()">
          <div *ngFor="let post of posts$ | async">
              <spot-post [post]="post" [detailed]="false"></spot-post>
          </div>
          <div class="loading">
            <span class="text"> {{ STRINGS.LOADING_POSTS }} </span>
            <spot-spinner size="medium"></spot-spinner>
          </div>
        </spot-infinite-scroll>
      </div>
  </div>
  <ng-template #noLocation>
    <div *ngIf="(loadingLocation$ | async) !== false; else enableLocation" class="loading-location">
      <span class="loading-location-text"> Location is loading </span>
      <spot-spinner size="medium"></spot-spinner>
    </div>
    <ng-template #enableLocation>
      <span class="nolocation"> {{ STRINGS.ENABLE_LOCATION }} </span>
    </ng-template>
  </ng-template>
</div>
