@import '../../../styles/colors';
@import '../../../styles/sizes';

.container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding-top: 60px;
    background-color: $background-grey;
    box-sizing: border-box;

    .max-width {
      width: 100%;
    }

}

.content {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    width: 50%;
    max-width: 750px;
    min-width: 450px;
    padding-top: 20px;
}

// For Mobile
@media screen and (max-width: $mobile-width) {
  .content {
    width: 95%;
    min-width: 0;
  }
}

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.verify {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  // color: $subtle-grey;
  text-align: center;
  font-size: 16px;
}

.verify-container {
  font-size: 16px;
  color: $subtle-grey;
  display: flex;
  align-items: center;
}

.verify-text {
  margin-right: 3px;
}

.verify-icon {
  font-size: 16px;
}

.verify-icon-highlight {
  font-size: 16px;
  color: $button-highlight;
}

.verify-click {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $button-highlight;
  }
}

.locationToggle {
  position: fixed;
  display: flex;
  top: 18px;
  left: 115px;
  z-index: 100;
}

.global {
  cursor: pointer;
}

.local {
  cursor: pointer;
  margin-right: 5px;
}

.selectedLocation {
  color: $button-highlight;
}

.postFilterToggle {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 80px;
  top: 12px;
  left: calc(50% - 40px);
  z-index: 100;
}

.new {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 8px 8px;
  min-width: 50px;
  background-color: $lighter-grey;
}

.hot {
  display: flex;
  justify-content: center;
  min-width: 50px;
  cursor: pointer;
  padding: 8px 8px;
  background-color: $lighter-grey;
}

.selectedSort {
  color: white;
  background-color: $button-highlight;
}

spot-create {
    width: 100%;
    height: auto;
}

.posts {
    margin-top: 20px;
    width: 100%;
}

// loading

.loading {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 10px;

  .text {
    margin-bottom: 5px;
  }

}

.empty-no-posts {
  text-align: center;
  padding: 5px 0px
}

.no-posts {
  text-align: center;
  padding: 5px 0px
}

// When location is disabled

.loading-location {

  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;

  .loading-location-text {
    margin-bottom: 5px;
  }

}

.no-location-container {

  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;

  .text {
    margin-top: 5px;
    font-size: 18px;
  }

  .icon {
    margin: 5px 0px;
    font-size: 52px;
    color: $button-highlight;
  }

}

.no-location-container-create {

  display: flex;
  flex-flow: column;
  align-items: center;

  .text {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
  }

  .icon {
    margin: 5px 0px;
    font-size: 42px;
    color: $button-highlight;
  }

}


// mobile dropdowns

.postFilterToggleMobile {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 24px;
  top: 18px;
  left: 175px;
  z-index: 100;
  font-size: 18px;
}

.locationToggleMobile {
  position: fixed;
  display: flex;
  height: 24px;
  top: 18px;
  left: 120px;
  z-index: 100;
}

.mobile-dropdown-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown-content-sort {

    display: none;
    position: absolute;
    background-color: white;
    width: 60px;
    top: 32px;
    left: -52px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
    z-index: 1;
    font-size: 18px;

  }

  .dropdown-content-location {

    display: none;
    position: absolute;
    background-color: white;
    width: 60px;
    top: 32px;
    left: -47px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
    z-index: 1;

  }

  .button {

    background-color: #efefef;
    color: black;
    padding: 12px 8px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $lighter-grey;
    cursor: pointer;

    &:hover {
      background: $lighter-grey;
      color: $button-highlight;
    }

    .icon {
      margin-right: 6px;
    }

  }

  .show {
    display:block;
  }

  .selected-highlight {
    color: $button-highlight;
  }

}

.mobile {
  display: none;
}

@media screen and (max-width: $mobile-width) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }
}
