@import '../../../styles/colors';
@import '../../../styles/sizes';

.container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding-top: 60px;
    background-color: $background-grey;
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    width: 50%;
    min-width: 500px;
    padding-top: 20px;
}

// For Mobile
@media screen and (max-width: $tablet-width) {
  .content {
    width: 95%;
    min-width: 0;
  }
}

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.locationToggle {
  position: fixed;
  display: flex;
  top: 20px;
  left: 100px;
  z-index: 100;
}

.global {
  cursor: pointer;
  margin-right: 5px;
}

.local {
  cursor: pointer;
}

.selectedLocation {
  color: $button-highlight;
}

.postFilterToggle {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 80px;
  top: 15px;
  left: calc(50% - 40px);
  z-index: 100;
}

.new {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px 3px;
  width: 100%;
  background-color: $lighter-grey;
}

.hot {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding: 5px 3px;
  background-color: $lighter-grey;
}

.selectedSort {
  color: white;
  background-color: $button-highlight;
}

spot-create {
    width: 100%;
    height: auto;
}

.posts {
    margin-top: 20px;
    width: 100%;
}

// loading

.loading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

// When location is disabled

.nolocation {
  font-size: 20px;
  margin-top: 20px;
}
