<div class="container">
  <div class="comments-container">

    <div class="load-more-container">
      <div class="load-more" (click)="loadRecentComments()">
        <span *ngIf="comments.length > 0; else refresh"> {{ STRINGS.LOAD_RECENT_COMMENTS }} </span>
        <ng-template #refresh>
          <span> {{ STRINGS.REFRESH_COMMENTS }} </span>
        </ng-template>
        <div *ngIf="loadingCommentsAfter$ | async as loadingCommentsAfter" class="load-comments-after">
          <spot-spinner *ngIf="loadingCommentsAfter.id == post.id" size="small"></spot-spinner>
        </div>
      </div>
    </div>

    <div *ngIf="comments.length > 0; else noComments">
      <div *ngFor="let comment of comments">
          <spot-comment [comment]="comment" [postLink]="post.link" [inRange]="post.inRange" [detailed]="detailed"></spot-comment>
      </div>
    </div>
    <ng-template #noComments>
      <div class="no-comments">
        <span class="material-icons icon"> chat </span>
        {{ STRINGS.NO_COMMENTS }}
      </div>
    </ng-template>

    <div *ngIf="totalCommentsBefore > 0" class="load-more" (click)="loadMoreComments()"> {{ STRINGS.LOAD_MORE_COMMENTS }} </div>
  </div>

  <div class="add" *ngIf="(isAuthenticated$ | async) && post.inRange">
    <div class="editor">

      <div *ngFor="let tag of tags" class="tag">
        {{ tag.receiver }}
        <i class="material-icons tag-close" (click)="removeTag(tag.id)"> close </i>
      </div>

      <div #comment contenteditable="true" attr.ph="{{STRINGS.ADD_COMMENT_PLACEHOLDER}}" class="comment-content" (input)="onTextInput($event)" (keydown.enter)="onEnter()"></div>
      <div class="image" *ngIf="imgSrc != null">
        <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
      </div>

      <div class="file-options" *ngIf="imgSrc != null">
        <span class="file-title"> {{ STRINGS.FILE_TITLE }} </span>
        <span class="file-name"> {{ imageFile.name }} </span>
        <span class="file-remove" (click)="removeFile()">
          <i class="material-icons"> delete </i>
        </span>
      </div>

      <div class="comment-options">
        <span class="counter" [ngClass]="{'counter-error': invalidLength() }"> {{ MAX_COMMENT_LENGTH - currentLength }} </span>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <i class="material-icons photo" (click)="fileInput.click()"> insert_photo </i>
        <span class="send" (click)="addComment()">
          <i class="material-icons"> send </i>
        </span>
      </div>

    </div>
  </div>
  <span class="tag-relative" #tag><spot-tag *ngIf="showTag" [name]="tagName" [postLink]="post.link" (tag)="addTag($event)"></spot-tag></span>

</div>
