<div class="container">
  <div class="comments-container">

    <div class="load-recent-container">
      <div *ngIf="loadedAfter > 0; else initialloadafter">
        <div class="load-more" (click)="loadRecentComments()">
          <span *ngIf="comments.length > 0; else refresh"> {{ STRINGS.LOAD_RECENT_COMMENTS_AGAIN }} </span>
          <ng-template #refresh>
            <span> {{ STRINGS.REFRESH_COMMENTS_AGAIN }} </span>
          </ng-template>
        </div>      </div>
      <ng-template #initialloadafter>
        <div class="load-more" (click)="loadRecentComments()">
          <span *ngIf="comments.length > 0; else refresh"> {{ STRINGS.LOAD_RECENT_COMMENTS }} </span>
          <ng-template #refresh>
            <span> {{ STRINGS.REFRESH_COMMENTS }} </span>
          </ng-template>
        </div>
      </ng-template>
      <div *ngIf="loadingCommentsAfter" class="load-comments-after">
        <spot-spinner size="small"></spot-spinner>
      </div>
    </div>

    <div *ngIf="comments.length > 0; else noComments">
      <div *ngFor="let comment of comments">
          <spot-comment [comment]="comment" [postLink]="post.link" [inRange]="post.inRange" [detailed]="detailed"></spot-comment>
      </div>
    </div>
    <ng-template #noComments>
      <div class="no-comments">
        <span class="material-icons icon"> chat </span>
        {{ STRINGS.NO_COMMENTS }}
      </div>
    </ng-template>

    <div class="load-more-container" *ngIf="totalCommentsBefore > 0">
      <div class="load-more" (click)="loadMoreComments()"> {{ STRINGS.LOAD_MORE_COMMENTS }} </div>
      <div *ngIf="loadingCommentsBefore" class="load-comments-before">
        <spot-spinner size="small"></spot-spinner>
      </div>
    </div>

  </div>

  <div class="add" *ngIf="(isAuthenticated$ | async) && post.inRange">

    <div class="editor">

      <div #comment contenteditable="true" attr.ph="{{STRINGS.ADD_COMMENT_PLACEHOLDER}}" class="comment-content" (input)="onTextInput($event)" (keydown.enter)="onEnter()"></div>
      <div class="image" *ngIf="imgSrc != null">
        <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
      </div>

      <div class="file-options" *ngIf="imgSrc != null">
        <span class="file-title"> {{ STRINGS.FILE_TITLE }} </span>
        <span class="file-name"> {{ imageFile.name }} </span>
        <span class="file-remove" (click)="removeFile()">
          <i class="material-icons"> delete </i>
        </span>
      </div>

      <div class="comment-options">
        <span class="counter" [ngClass]="{'counter-error': invalidLength() }"> {{ COMMENTS_CONSTANTS.MAX_CONTENT_LENGTH - currentLength }} </span>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <i class="material-icons photo" (click)="fileInput.click()"> insert_photo </i>
        <span class="send" (click)="addComment()">
          <i class="material-icons"> send </i>
        </span>
      </div>

    </div>
  </div>
  <span *ngIf="addCommentError" class="add-comment-error">
    {{ addCommentError }}
  </span>
  <span class="tag-relative" #tag><spot-tag #tagelem *ngIf="showTag" [name]="tagName" [postLink]="post.link" (tag)="addTag($event)"></spot-tag></span>

</div>
