@import '../../../../styles/colors';

// Comments container

.comments-container {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 0px 12px 0px 12px;

  .no-comments {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 0px;

    .icon {
      font-size: 18px;
      margin-right: 5px;
    }

  }

}

.highlight {
  color: $button-highlight;
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.load-more {
  display: flex;
  justify-content: center;
  position: relative;
  color: $subtle-grey;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }

  .load-comments-after {
    position: absolute;
    top: 0px;
    right: -20px;
  }

}

// Add a comment

.add {
  display: flex;
  padding: 0px 12px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.send {
  display: flex;
  align-items: center;
  width: 30px;
  color: $subtle-grey;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.photo {
  cursor: pointer;
  color: $subtle-grey;
  margin-right: 3px;
  &:hover {
    @extend .highlight;
  }
}

.counter {
  color: $subtle-grey;
  margin-right: 3px;
}

.counter-error {
  color: $error-red;
}

// the content

.editor {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: $lighter-grey;
  border-radius: 3px;
  max-height: 300px;

  .comment-content {
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
    // display: block;
    padding: 6px 6px;
    border: 0;
    outline: 0;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  // include a placeholder
  [contentEditable=true]:empty:not(:focus):before{
    content:attr(ph);
    color: $subtle-grey;
    font-style: italic;
    cursor: text;
  }

  [contenteditable=true]:empty:focus:before{
    content: attr(ph);
    color: lighten($subtle-grey, 20%);
    font-style: italic;
    cursor: text;
  }

}



.image {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 6px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 500px;
}



.comment-options {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.file-options {
  flex: 1;
  display: flex;
  align-items: center;
}

.file-title {
  margin-right: 5px;
  margin-left: 5px;
}

.file-remove {
  color: $subtle-grey;
  cursor: pointer;
  &:hover {
    color: $error-red;
  }
}

// Tag

.tag-container {

  display: flex;
  justify-content: center;
  align-items: center;

  .tag {
    padding: 3px;
    margin: 1px 2px;
    background-color: $lighter-grey;
  }

  .tag-close {

    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: $error-red;
    }

  }

}

