// Comments container

.container {
  padding: 0px 12px 6px 12px;
}

.comments-container {
  display: flex;
  flex-flow: column;
  background-color: var(--background-container);

  .no-comments {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;

    .icon {
      font-size: 18px;
      margin-right: 5px;
      padding-top: 3px;
    }
  }
}

.highlight {
  color: var(--primary);
}

.load-recent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;

  .load-recent__position {
    position: relative;
  }

  .load-recent__recent {
    cursor: pointer;
    color: var(--text-secondary);
    &:hover {
      color: var(--primary);
    }
  }

  .load-recent__refresh {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .load-recent__dummy {
    visibility: hidden;
  }

  .load-recent__text {
    visibility: hidden;
    font-size: 14px;
    color: var(--text-secondary);
    opacity: 1;
  }

  .load-recent__text--hide {
    visibility: visible;
    opacity: 0;
    transition: opacity 2000ms;
    transition-timing-function: ease-in;
  }

  .load-recent__icon {
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }

  .load-recent__loading {
    position: absolute;
    right: -22px;
    top: 3px;
  }

  .load-recent__loading-refresh {
    position: absolute;
    right: 23px;
    top: 3px;
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.load-more {
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--text-secondary);
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }

  .load-comments-before {
    position: absolute;
    top: 0px;
    right: -20px;
  }
}

.no-comments-loading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .loading {
    margin: 10px 0px;
  }
}

// Add a comment

.add {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.send {
  display: flex;
  align-items: center;
  width: 30px;
  color: var(--text-secondary);
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}

.photo {
  cursor: pointer;
  color: var(--text-secondary);
  margin-right: 3px;
  &:hover {
    @extend .highlight;
  }
}

.counter {
  color: var(--text-secondary);
  margin-right: 3px;
}

.counter-error {
  color: var(--error);
}

// the content

:host ::ng-deep .tag-inline {
  background-color: var(--item-highlight);
  font-weight: bold;
}

.editor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-header);
  border-radius: 3px;

  .comment-content {
    min-height: 30px;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
    padding: 6px 6px;
    border: 0;
    outline: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  // include a placeholder
  [contentEditable='true']:empty:not(:focus):before {
    content: attr(ph);
    color: var(--input-text-ph);
    font-style: italic;
    cursor: text;
  }

  [contenteditable='true']:empty:focus:before {
    content: attr(ph);
    color: var(--input-text-ph-light);
    font-style: italic;
    cursor: text;
  }
}

.tag-relative {
  position: relative;
  z-index: 999;
}

spot-tag {
  position: absolute;
  bottom: 8px;
  left: 2px;
}

.tag-bottom {
  top: 51px;
}

.image {
  // display: flex;
  width: 100%;
  // justify-content: center;
  padding: 6px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 500px;
}

.comment-options {
  min-height: 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.file-options {
  flex: 1;
  display: flex;
  align-items: center;
}

.file-title {
  margin-right: 5px;
  margin-left: 5px;
}

.file-remove {
  color: var(--text-secondary);
  cursor: pointer;
  &:hover {
    color: var(--error);
  }
}

.auth-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--background-primary);
  border-radius: 3px;
  margin-top: 5px;

  .text {
    min-height: 30px;
    padding: 6px 6px;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    color: var(--text-secondary);
  }

  .icon {
    display: flex;
    align-items: center;
    width: 30px;
    color: var(--icon-secondary);
    &:hover {
      cursor: not-allowed;
    }
  }
}

.comment-reminder {
  margin-top: 5px;
  color: var(--text-secondary);
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}

// error

.add-comment-error {
  display: flex;
  box-sizing: border-box;
  padding-top: 2px;
  color: var(--error);
  background-color: var(--background-container);
}
