@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.verify {

  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: $background-grey;
  box-sizing: border-box;

  .section {

    display: flex;
    flex-flow: column;
    align-items: center;

    .text {
      font-size: 18px;
      text-align: center;
    }

    .button {
      color: $subtle-grey;
      cursor: pointer;
      &:hover {
        color: $button-highlight;
      }
    }

    .sent {
      color: $subtle-grey;
    }

    .icon {
      font-size: 42px;
      color: $button-highlight;
      margin-bottom: 10px;
    }

  }

}
