<spot-main-nav></spot-main-nav>
<div class="verify">
  <div class="container" *ngIf="user$ | async as user">
    <div class="section" *ngIf="successMessage">
      <span class="material-icons icon"> done </span>
      <span class="text"> {{ successMessage }} </span>
      <a class="link" [routerLink]="'/home'">
        <button>{{ 'MAIN.VERIFY.CONTINUE' | translate }}</button>
      </a>
    </div>

    <div class="section" *ngIf="errorMessage">
      <span class="material-icons icon"> error </span>
      <span class="text"> {{ errorMessage }} </span>
      <div *ngIf="verificationSent === false; else sentverify">
        <div class="text clickable" (click)="sendVerification()">
          {{ 'MAIN.VERIFY.VERIFY_SEND' | translate }}
        </div>
        <span class="small-text">
          {{ user.email }} (
          <a class="clickable small-text" [routerLink]="'/account'">
            Change Email
          </a>
          )
        </span>
      </div>
      <ng-template #sentverify>
        <span class="small-text">
          {{ 'MAIN.VERIFY.VERIFY_SENT' | translate }} {{ user.email }}
        </span>
      </ng-template>
    </div>
  </div>
</div>
