@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.verify {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: $background-grey;
  box-sizing: border-box;
}
