<div class="upload-photo">
  <div class="header">
    <span class="title">Upload a photo</span>
    <i class="material-icons photo" (click)="close()"> close </i>
  </div>
  <div class="body">
    <div class="description">
      <span> {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_1' | translate }} </span>
      <span>
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_2' | translate }}
      </span>
      <span> {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_3' | translate }} </span>
    </div>

    <div *ngIf="croppedImage" class="preview-header">
      <span> {{ 'MAIN.UPLOAD_PHOTO.CROP_TITLE' | translate }} </span>
      <span class="scale-container">
        <button (click)="scaleUp()">
          <i class="material-icons"> add </i>
        </button>
        <button (click)="scaleDown()">
          <i class="material-icons"> remove </i>
        </button>
        <button (click)="reset()">
          <i class="material-icons"> restart_alt </i>
        </button>
      </span>
    </div>

    <div #cropper>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [cropperStaticWidth]="100"
        [cropperStaticHeight]="100"
        [roundCropper]="true"
        [transform]="transform"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>

    <div class="preview-container">
      <div class="button-container">
        <input
          style="display: none"
          type="file"
          (change)="fileChangeEvent($event)"
          #fileInput
        />
        <button class="upload" (click)="fileInput.click()">
          <span *ngIf="!croppedImage" class="text">
            {{ 'MAIN.UPLOAD_PHOTO.UPLOAD' | translate }}
          </span>
          <span *ngIf="croppedImage" class="text">
            {{ 'MAIN.UPLOAD_PHOTO.CHOOSE_ANOTHER' | translate }}
          </span>
          <i class="material-icons photo"> upload </i>
        </button>
        <div class="response-container">
          <button
            class="confirm"
            [ngClass]="{ disabled: loading }"
            (click)="confirm()"
          >
            <span class="text">
              {{ 'MAIN.UPLOAD_PHOTO.CONFIRM' | translate }}
            </span>
          </button>
          <button
            class="remove"
            [ngClass]="{ disabled: loading }"
            (click)="remove()"
          >
            <span *ngIf="!confirmRemove" class="text">
              {{ 'MAIN.UPLOAD_PHOTO.REMOVE' | translate }}
            </span>
            <span *ngIf="confirmRemove" class="text">
              {{ 'MAIN.UPLOAD_PHOTO.DELETE' | translate }}
            </span>
          </button>
        </div>
      </div>
      <div class="preview">
        <img
          *ngIf="croppedImage || data.profilePictureSrc"
          [src]="croppedImage || data.profilePictureSrc"
        />
        <img
          class="default"
          *ngIf="!croppedImage && !data.profilePictureSrc"
          src="../../../../assets/images/op_large.png"
        />
      </div>
    </div>

    <div class="confirm-remove" *ngIf="confirmRemove">
      <span class="text">
        {{ 'MAIN.UPLOAD_PHOTO.DELETE_MESSAGE' | translate }}</span
      >
    </div>

    <div *ngIf="loading" class="loading">
      <span class="text"> {{ 'MAIN.UPLOAD_PHOTO.LOADING' | translate }} </span>
      <spot-spinner size="small"></spot-spinner>
    </div>
  </div>
</div>
