<div class="upload-photo">
  <!-- HEADER -->
  <div class="row-center padding-sm background-header">
    <span class="flex-fill">
      {{ 'MAIN.UPLOAD_PHOTO.TITLE' | translate }}
    </span>
    <i class="material-icons icon-close" (click)="close()"> close </i>
  </div>
  <!-- BODY -->
  <div class="col-center padding-lg">
    <!-- Description -->
    <div *ngIf="data.type === 'profile-picture'" class="col-center">
      <span class="text-secondary text-center">
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_PP_1' | translate }}
      </span>
      <span class="text-secondary text-center">
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_PP_2' | translate }}
      </span>
      <span class="text-secondary text-center">
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_PP_3' | translate }}
      </span>
    </div>
    <div *ngIf="data.type === 'create-chat'" class="col-center">
      <span class="text-secondary text-center">
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_CC_1' | translate }}
      </span>
      <span class="text-secondary text-center">
        {{ 'MAIN.UPLOAD_PHOTO.DESCRIPTION_CC_2' | translate }}
      </span>
    </div>

    <!-- The Cropped Image -->
    <div class="cropper-container margin-v-md" #cropper>
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [cropperStaticWidth]="100"
        [cropperStaticHeight]="100"
        [roundCropper]="true"
        [transform]="transform"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <!-- Crop controls -->
      <div
        *ngIf="croppedImage"
        class="cropper-controls row-center justify-content-end"
      >
        <button class="button-transparent" (click)="scaleUp()">
          <span class="material-icons button-icon"> zoom_in </span>
        </button>
        <button class="button-transparent" (click)="scaleDown()">
          <span class="material-icons button-icon"> remove </span>
        </button>
        <button class="button-transparent" (click)="reset()">
          <span class="material-icons button-icon"> restart_alt </span>
        </button>
      </div>
    </div>

    <div class="row-center">
      <!-- Buttons -->
      <div class="col-center margin-md">
        <input
          style="display: none"
          type="file"
          (change)="fileChangeEvent($event)"
          #fileInput
        />
        <!-- Upload -->
        <button
          class="button"
          [class.button-disabled]="uploadLoading || removeLoading"
          [class.disabled-background]="uploadLoading || removeLoading"
          (click)="!uploadLoading && !removeLoading ? fileInput.click() : null"
        >
          <span *ngIf="!croppedImage" class="text">
            {{ 'MAIN.UPLOAD_PHOTO.UPLOAD' | translate }}
          </span>
          <span *ngIf="croppedImage" class="text">
            {{ 'MAIN.UPLOAD_PHOTO.CHOOSE_ANOTHER' | translate }}
          </span>
          <i class="material-icons photo"> upload </i>
        </button>

        <!-- Confirm and Cancel -->
        <div class="row-center margin-md">
          <button
            class="button-primary margin-r-md"
            [class.button-loading]="uploadLoading"
            [class.button-disabled]="removeLoading"
            (click)="confirm()"
          >
            <span class="text">
              {{ 'MAIN.UPLOAD_PHOTO.CONFIRM' | translate }}
            </span>
          </button>
          <button
            class="button-cancel"
            [class.button-disabled]="uploadLoading"
            [class.button-loading]="removeLoading"
            (click)="remove()"
          >
            <span *ngIf="!confirmRemove" class="text">
              {{ 'MAIN.UPLOAD_PHOTO.REMOVE' | translate }}
            </span>
            <span *ngIf="confirmRemove" class="text">
              {{ 'MAIN.UPLOAD_PHOTO.DELETE' | translate }}
            </span>
          </button>
        </div>
      </div>

      <!-- Preview the image -->
      <div class="preview" [class.no-image]="!croppedImage && !data.imageSrc">
        <img
          *ngIf="croppedImage || data.imageSrc"
          [src]="croppedImage || data.imageSrc"
        />
      </div>
    </div>

    <!-- Confirm removal message -->
    <span *ngIf="confirmRemove" class="text-error text-center margin-t-md">
      {{ 'MAIN.UPLOAD_PHOTO.DELETE_MESSAGE' | translate }}</span
    >
    <span *ngIf="errorUploading" class="text-error text-center margin-t-md">
      {{ 'MAIN.UPLOAD_PHOTO.ERROR_UPLOADING' | translate }}</span
    >
    <span *ngIf="errorRemoving" class="text-error text-center margin-t-md">
      {{ 'MAIN.UPLOAD_PHOTO.ERROR_REMOVING' | translate }}</span
    >
  </div>
</div>
