// Preview
.preview {
  margin: 0px 5px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100px;
    height: 100px;
  }
}
.preview.no-image {
  background-color: transparent;
  border: 2px dashed var(--background-primary);
}

// Cropper
.cropper-container {
  position: relative;
}
image-cropper {
  padding: 0px;
  img {
    width: 300px;
  }
}
.cropper-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  background-color: var(--background-page);
  opacity: 0.3;
  border-bottom-left-radius: 5px;
}
.button-transparent {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 2px;
  font-size: var(--text-md);
  .button-icon {
    font-size: var(--icon-md);
    color: var(--text-primary);
  }
}
