<div class="chat-discover">
  <!-- HEADER -->
  <div class="row-center padding-sm background-header container-t-rounded">
    <span class="flex-fill">
      {{ 'MAIN.CHAT_DISCOVER.TITLE' | translate }}
    </span>
    <span class="material-icons icon-close" (click)="close()"> close </span>
  </div>

  <!-- BODY -->
  <div class="col background-container padding-lg container-b-rounded">
    <!-- Search && refresh -->
    <div class="row-h-center justify-content-between">
      <div class="row-h-center">
        <span class="material-icons icon-lg icon-primary"> search </span>
        <input
          [(ngModel)]="search"
          class="input-border-bottom-sm margin-l-sm"
          placeholder="{{
            'MAIN.CHAT_DISCOVER.SEARCH_PLACEHOLDER' | translate
          }}"
          type="text"
        />
      </div>
      <div
        *ngIf="!loadingChatRooms"
        class="row-h-center text-secondary-highlight"
        (click)="refresh()"
      >
        <span class="material-icons icon-sm"> refresh </span>
        <span class="margin-l-xs">
          {{ 'MAIN.CHAT_DISCOVER.REFRESH' | translate }}
        </span>
      </div>
    </div>
    <div class="margin-md text-error">
      {{ errorMessage }}
    </div>

    <!-- Selected Row -->
    <div
      *ngIf="selectedChat"
      class="row-h-center margin-b-md background-page container-rounded padding-md"
    >
      <div class="profile-md background-container row-center">
        <img *ngIf="selectedChat.imageSrc" [src]="selectedChat.imageSrc" />
        <span *ngIf="!selectedChat.imageSrc"> C </span>
      </div>
      <div class="col-h-center margin-l-md">
        <span class="row-h-center">
          <span class="material-icons icon-sm icon-primary"> chat </span>
          <span class="margin-l-xs">{{ selectedChat.name }} </span>
        </span>
        <span class="row-h-center">
          <span class="material-icons icon-sm icon-primary"> description </span>
          <span
            *ngIf="selectedChat.description; else noDesc"
            class="margin-l-xs text-secondary"
          >
            {{ selectedChat.description }}
          </span>
          <ng-template #noDesc>
            <span class="margin-l-xs text-secondary"> None </span>
          </ng-template>
        </span>
      </div>
    </div>

    <!-- Table -->
    <ng-container
      *ngIf="chatRooms | filter: { filter: search, field: 'name' } as chatRooms"
    >
      <table
        *ngIf="chatRooms.length > 0; else noChatRooms"
        class="full-width"
        cellSpacing="0"
        cellPadding="0"
      >
        <thead>
          <tr>
            <th style="width: 40px" scope="col"></th>
            <th
              scope="col"
              [spotSort]="chatRooms"
              data-order="desc"
              data-name="name"
            >
              <div class="row-h-center">
                <span class="material-icons icon-sm icon-primary"> chat </span>
                <span class="margin-l-xs">
                  {{ 'MAIN.CHAT_DISCOVER.NAME' | translate }}
                </span>
              </div>
            </th>
            <th
              scope="col"
              [spotSort]="chatRooms"
              data-order="desc"
              data-name="distance"
            >
              <div class="row-h-center">
                <span class="material-icons icon-sm icon-primary"> place </span>
                <span class="margin-l-xs">
                  {{ 'MAIN.CHAT_DISCOVER.LOCATION' | translate }}
                </span>
              </div>
            </th>
            <th
              scope="col"
              [spotSort]="chatRooms"
              data-order="desc"
              data-name="numUsers"
              style="width: 65px"
            >
              <div class="row-h-center">
                <span class="material-icons icon-sm icon-primary"> group </span>
                <span class="margin-l-xs">
                  {{ 'MAIN.CHAT_DISCOVER.USERS' | translate }}
                </span>
              </div>
            </th>
            <th style="width: 80px" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let chatRoom of chatRooms; let i = index">
            <tr
              (click)="selectRow(i, chatRoom)"
              [class.selected]="selectedRow === i"
            >
              <td class="padding-sm full-height">
                <div class="profile-sm row-center">
                  <img *ngIf="chatRoom.imageSrc" [src]="chatRoom.imageSrc" />
                  <span *ngIf="!chatRoom.imageSrc"> C </span>
                </div>
              </td>
              <td class="padding-sm full-height">
                <div class="row-h-center">
                  <span class="margin-r-xs"> {{ chatRoom.name }} </span>
                  <span *ngIf="chatRoom.private" class="material-icons icon-sm">
                    lock
                  </span>
                </div>
              </td>
              <td class="padding-sm full-height">
                {{ chatRoom.geolocation }} {{ getDistance(chatRoom.distance) }}
              </td>
              <td class="padding-sm full-height">
                {{ chatRoom.numUsers }} / {{ chatRoom.capacity }}
              </td>
              <td class="padding-sm full-height">
                <button class="button" (click)="joinChatRoom(chatRoom.id)">
                  Join
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <!-- No Chats // Loading Chats -->
      <ng-template #noChatRooms>
        <div *ngIf="!location; else hasLocation" class="row-center margin-xl">
          <span class="material-icons icon-primary"> location_off </span>
          <span class="text-secondary">
            {{ 'MAIN.CHAT_DISCOVER.NO_LOCATION' | translate }}
          </span>
        </div>
        <ng-template #hasLocation>
          <div
            *ngIf="!loadingChatRooms; else loading"
            class="row-center margin-xl"
          >
            <span class="material-icons icon-primary"> search_off </span>
            <span class="text-secondary">
              {{ 'MAIN.CHAT_DISCOVER.NO_ROOMS' | translate }}
            </span>
          </div>
          <ng-template #loading>
            <div class="col-center margin-xl">
              <spot-spinner type="dot"> </spot-spinner>
              <div class="margin-t-md text-secondary">
                {{ 'MAIN.CHAT_DISCOVER.LOADING' | translate }}
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-container>
  </div>
</div>
