table {
  display: block;
  table-layout: fixed;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
}

th {
  text-align: left;
  // font-weight: normal;
}

tr:nth-child(even) {
  background: var(--background-page);
  td .profile-sm {
    background-color: var(--background-container);
  }
}
tr:nth-child(odd) {
  background: var(--background-container);
  td .profile-sm {
    background-color: var(--background-page);
  }
}

tr.selected {
  background: var(--background-header);
  td .profile-sm {
    background-color: var(--background-container);
  }
}
