th {
  text-align: left;
  // font-weight: normal;
}

tr:nth-child(even) {
  background: var(--background-page);
  td .profile-sm {
    background-color: var(--background-container);
  }
}
tr:nth-child(odd) {
  background: var(--background-container);
  td .profile-sm {
    background-color: var(--background-page);
  }
}
