<div class="terms">

  <div class="header">
    <span class="title"> Terms And Conditions & Privacy Policy </span>
    <span class="close" (click)="close()"> <span class="material-icons"> clear </span> </span>
  </div>

  <div #body class="body">
    <div class="heading"> Terms and Conditions </div>

    <div class="subtitle">
      Introduction
    </div>
    <div class="text">
      These Website Standard Terms and Conditions written on this webpage shall manage your use of our website,
      Spot accessible at spottables.com.
    </div>
    <div class="text">
      These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept
      all terms and conditions written in here. You must not use this Website if you disagree with any of these Website
      Standard Terms and Conditions.
    </div>
    <div class="text">
      Minors or people below 18 years old are not allowed to use this Website.
    </div>

    <div class="subtitle">
      Intellectual Property Rights
    </div>
    <div class="text">
      Other than the content you own, under these Terms, Spot and/or its licensors own all the intellectual property
      rights and materials contained in this Website.
    </div>
    <div class="text">
      You are granted limited license only for purposes of viewing the material contained on this Website.
    </div>

    <div class="subtitle">
      Restrictions
    </div>
    <div class="text">
      You are specifically restricted from all of the following:
    </div>
    <div class="text">
      <ul>
        <li> publishing any Website material in any other media; </li>
        <li> selling, sublicensing and/or otherwise commercializing any Website material; </li>
        <li> publicly performing and/or showing any Website material; </li>
        <li> using this Website in any way that is or may be damaging to this Website; </li>
        <li> using this Website in any way that impacts user access to this Website; </li>
        <li> using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity; </li>
        <li> engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website; </li>
        <li> using this Website to engage in any advertising or marketing. </li>
        <li> Certain areas of this Website are restricted from being access by you and Spot may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well. </li>
      </ul>
    </div>

    <div class="subtitle">
      Your Content
    </div>
    <div class="text">
      In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text,
      images or other material you choose to display on this Website. By displaying Your Content, you grant Spot
      a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate
      and distribute it in any and all media.
    </div>
    <div class="text">
      Your Content must be your own and must not be invading any third-party's rights.
      Spot reserves the right to remove any of Your Content from this Website at any time without notice.
    </div>

    <div class="subtitle">
      No warranties
    </div>
    <div class="text">
      This Website is provided “as is,” with all faults, and Spot express no representations or warranties, of any kind
      related to this Website or the materials contained on this Website. Also, nothing contained on
      this Website shall be interpreted as advising you.
    </div>

    <div class="subtitle">
      Limitation of liability
    </div>
    <div class="text">
      In no event shall Spot, nor any of its officers, directors and employees, shall be held liable for anything
      arising out of or in any way connected with your use of this Website whether such liability is under contract.
      Spot, including its officers, directors and employees shall not be held liable for any
      indirect, consequential or special liability arising out of or in any way related to your use of this Website.
    </div>

    <div class="subtitle">
      Indemnification
    </div>
    <div class="text">
      You hereby indemnify to the fullest extent Spot from and against any and/or all liabilities, costs, demands, causes
      of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
    </div>

    <div class="subtitle">
      Severability
    </div>
    <div class="text">
      If any provision of these Terms is found to be invalid under any applicable law, such
      provisions shall be deleted without affecting the remaining provisions herein.
    </div>

    <div class="subtitle">
      Variation of Terms
    </div>
    <div class="text">
      Spot is permitted to revise these Terms at any time as it sees fit, and by using this Website you
      are expected to review these Terms on a regular basis.
    </div>

    <div class="subtitle">
      Assignment
    </div>
    <div class="text">
      Spot is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms
      without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights
      and/or obligations under these Terms.
    </div>

    <div class="subtitle">
      Entire Agreement
    </div>
    <div class="text">
      These Terms constitute the entire agreement between Spot and you in relation to your use of this Website, and
      supersede all prior agreements and understandings.
    </div>

    <div class="subtitle">
      Governing Law & Jurisdiction
    </div>
    <div class="text">
      These Terms will be governed by and interpreted in accordance with the laws of the State of Country, and you submit
       to the non-exclusive jurisdiction of the state and federal courts located in Country for the resolution of any disputes.
    </div>

    <div class="heading"> Privacy Policy </div>

    <div class="subtitle">
      Last Update of This Privacy Policy - April 7, 2021
    </div>
    <div class="text">
      BEFORE USING OUR SITES, PLEASE READ THIS PRIVACY POLICY CAREFULLY.
    </div>
    <div class="text">
      This Privacy Policy is applicable to [Spot]("Company") and sets out our policy on the gathering and use of
      information on this site and our other sites (collectively "Sites"). The Company is committed to
      providing safe web sites for visitors of all ages and has implemented this Privacy Policy to demonstrate
      our firm commitment to your privacy. The Company complies with Canadian Federal and Provincial privacy
      laws and regulations including the Personal Information and Electronic Documents Act.
    </div>
    <div class="text">
      There may be links from our Sites to other web sites; note that this Privacy Policy applies only to our Sites
      and not to web sites of other companies or organizations to which our Sites may be linked. You must check on
      any linked sites for the privacy policy that applies to that site and/or make any necessary inquiries in
      respect of that privacy policy with the operator of the linked site. These links to third party websites
      are provided as a convenience and are for informational purposes only. The Company does not endorse, and
      is not responsible for, these linked websites.
    </div>
    <div class="text">
      Although you are not required to register to access our Sites, you may be asked to provide us with personal
      information when you visit certain sections of our Sites. Your use of our Sites signifies your acknowledgement
      and consent to our Privacy Policy. If you do not agree to this Privacy Policy, please do not continue to
      use our Sites. Your continued use of the Sites signifies your acceptance of these terms and any changes
      in effect at the time of use.
    </div>

    <div class="subtitle">
      Collection of Personal Information
    </div>
    <div class="text">
      Personal Information is information about you that identifies you as an individual, for example,
      your name, address, e-mail address, or telephone number.
    </div>
    <div class="text">
      We collect information that you voluntarily provide to us through responses to surveys, search functions,
      questionnaires, feedback, Tell Your Story forms and the like. On some of our Sites, we offer health assessment
      tools that ask you to provide self-assessment information. We may also ask you to provide additional information
      such as your e-mail address if you want to obtain additional services, information, participate in a contest or to
      resolve complaints or concerns.
    </div>

    <div class="subtitle">
      How Does Company Use Information Gathered About Online Visitors?
    </div>
    <div class="text">
      Before forwarding us any personal information, please be advised that any information gathered on our
      Sites may be used in the aggregate for research and development relating to our Sites and/or for future
      site development and, if you ask us to, to send you promotional materials. In particular, we may use information
      gathered about you for the following purposes: to monitor interest in our range of products and to assist us
      to tailor the content of our Sites to your needs by collecting information about your preferences through
      tracking of patterns page views on our Sites; to create a profile relating to you in order to show you the
      content that might be of interest to you and to display the content according to your preferences; and, in
      circumstances where you have indicated that you wish to receive additional information, to send you information
      about us and promotional material about our products together with details of any offers we may have available
      from time to time.
    </div>

    <div class="subtitle">
      Promotional And Informational Offers
    </div>
    <div class="text">
      With the permission of an online visitor, information submitted at the time of registration or submission
      may be used for marketing and promotional purposes by the Company provided notice of this fact is made
      available online. If a visitor objects to such use for any reason, he/she may prevent that use, either
      by e-mail request or by modifying the registration information provided. The Company uses reasonable
      efforts to maintain visitors' information in a secure environment. If you have submitted personal
      information and want to change it or opt-out, please contact us as described below.
    </div>

    <div class="subtitle">
      Disclosure of Information
    </div>
    <div class="text">
      The Company will not disclose personal information that you provide on its Sites to any third parties
      other than to a Company agent except: i) in accordance with the terms of this Privacy Policy, or ii) to comply
      with legal requirements such as a law, regulation, warrant, subpoena or court order, and/or iii) if you are
      reporting an adverse event/side effect, in which case the Company may be required to disclose such information
      to bodies such as, but not limited to, Canadian and/or international regulatory authorities. Please note that
      any of these disclosures may involve the storage or processing of personal information outside of Canada and
      may therefore be subject to different privacy laws than those applicable in Canada, including laws that require
      the disclosure of personal information to governmental authorities under circumstances that are different than
      those that apply in Canada.
    </div>

    <div class="subtitle">
      Cookies
    </div>
    <div class="text">
      The Company, in common with many web site operators, may use standard technology called "cookies" on its Sites.
      Cookies are small data files that are downloaded onto your computer when you visit a particular web site.
      You can disable cookies by turning them off in your browser; however, some areas of the Sites may not
      function properly if you do so.
    </div>

    <div class="subtitle">
      Protection of Children Online
    </div>
    <div class="text">
      The Company considers the protection of children's privacy, especially online, to be of the utmost importance.
      We do not knowingly collect or solicit personal information from children nor do we allow them to become
      registered users of, or to request information through, our Sites or help-seeking information lines.
    </div>

    <div class="subtitle">
      Additional Terms for Certian Websites
    </div>
    <div class="text">
      The following additional information applies to our Sites that require registration. Generally, you are not
      required to provide personal information as a condition of using our Sites, except as may be necessary to
      provide you with a product or service that you have requested. However, some of our Sites are restricted
      to certain individuals such as health care professionals or our prescription drug patients and we may
      require these individuals to register upon entry by providing us with certain information.
    </div>

    <div class="subtitle">
      Protection of Information
    </div>
    <div class="text">
      Our Commitment to Security
    </div>
    <div class="text">
      We have put in place physical, electronic, and managerial procedures to safeguard and help prevent
      unauthorized access, maintain data security, and correctly use the information we collect online. The
      Company applies security safeguards appropriate to the sensitivity of the information, such as retaining
      information in secure facilities and making personal information accessible only to authorized employees
      on a need-to-know basis.
    </div>

    <div class="subtitle">
      Storage of Information
    </div>
    <div class="text">
      Personal information you share with us is stored on our database servers at Company data centers
      (in whatever country they may be located), or hosted by third parties who have entered into agreements
      with us that require them to observe our Privacy Policy.
    </div>

    <div class="subtitle">
      Policy Change
    </div>
    <div class="text">
      If we alter our Privacy Policy, any changes will be posted on this page of our Site so that you are always
      informed of the information we collect about you, how we use it and the circumstances under which we may disclose it.
    </div>

    <div class="subtitle">
      Acceptance of Our Privacy Policy
    </div>
    <div class="text">
      By using this Site or any other The Company Site or interactive banner ads, you signify your acceptance of our
      Privacy Policy, and you adhere to the terms and conditions posted on the Site. By submitting your information,
      you agree that it will be governed by our Privacy Policy.
    </div>

    <button (click)="close()"> I understand and agree to the above terms </button>

  </div>
</div>
