@import '../../../styles/colors';
@import '../../../styles/sizes';

.terms {

  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $background-grey;
  min-height: calc(100% - 84px);
  box-sizing: border-box;

  .container {

    background-color: white;
    padding: 25px;
    margin: 25px;
    max-width: 1200px;

  }

  .heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
  }

  .text {

    color: $subtle-grey;
    margin-bottom: 10px;

  }

}

.copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .terms {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

}
