<div class="tag">
  <div class="content">

    <div class="heading">
      {{ STRINGS.TAG }}
    </div>

    <div class="name" *ngIf="name" (click)="sendTag()">
      {{ name }}
    </div>

    <div class="heading">
      {{ STRINGS.FRIENDS }}
    </div>

    <div class="friend-container" *ngIf="friendsList.length > 0; else noFriends">
      <div class="name" (click)="sendTag()" *ngFor="let friend of filteredFriendsList">
        {{ friend.username }}
      </div>
    </div>
    <ng-template #noFriends>
      <div class="no-friends"> {{ STRINGS.NO_FRIENDS }} </div>
    </ng-template>

  </div>
</div>
