.tag {
  width: 235px;
}

.friend-container {
  max-height: 156px;
  overflow-y: auto;

  .name {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 3px 5px;
    background-color: var(--background-primary);

    &:hover {
      color: white;
      background-color: var(--primary);
    }
  }
}

.no-friends {
  margin: 3px 0px;
  text-align: center;
}
