<div class="chat-create">
  <!-- HEADER -->
  <div class="row-center padding-sm background-header container-t-rounded">
    <span class="flex-fill"> {{ 'MAIN.CHAT_CREATE.TITLE' | translate }} </span>
    <span class="material-icons icon-close" (click)="close()"> close </span>
  </div>
  <!-- BODY -->
  <div class="col-center background-container padding-lg container-b-rounded">
    <!-- Photo -->
    <div
      class="row-center photo"
      [class.image-selected]="imageSrc"
      (click)="openPhotoModal()"
    >
      <span *ngIf="!imageSrc" class="material-icons icon-md icon-secondary">
        add_a_photo
      </span>
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>

    <!-- Description -->
    <div class="padding-v-md text-secondary text-center">
      {{ 'MAIN.CHAT_CREATE.PHOTO_DESCRIPTION' | translate }}
    </div>

    <!-- Form -->
    <form class="form" [formGroup]="createChatForm" autocomplete="off">
      <fieldset class="fieldset">
        <!-- Name -->
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.NAME_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input-border-bottom"
              type="text"
              id="name"
              formControlName="name"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.NAME_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>
          <!-- Name Errors -->
          <div *ngIf="name.invalid && name.dirty && name.touched">
            <div
              *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.NAME_INVALID_LENGTH' | translate }}
            </div>
            <div
              *ngIf="name.errors?.['forbiddenName'] || name.errors?.['required']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.NAME_INVALID_TEXT' | translate }}
            </div>
            <div
              *ngIf="name.errors?.['taken']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.NAME_TAKEN' | translate }}
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.DESCRIPTION_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input-border-bottom"
              type="text"
              id="description"
              formControlName="description"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.DESCRIPTION_PLACEHOLDER' | translate
              }}"
            />
          </div>
          <!-- Description Errors -->
          <div
            *ngIf="
              description.invalid && description.dirty && description.touched
            "
          >
            <div
              *ngIf="description.errors?.['maxlength']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.DESCRIPTION_INVALID_LENGTH' | translate }}
            </div>
            <div
              *ngIf="description.errors?.['forbiddenName']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.DESCRIPTION_INVALID_TEXT' | translate }}
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="private" [class.private-show]="isPrivate">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.PASSWORD_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input-border-bottom"
              type="text"
              id="password"
              formControlName="password"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.PASSWORD_PLACEHOLDER' | translate
              }}"
            />
          </div>
          <!-- Password Errors -->
          <div *ngIf="password.invalid && password.dirty && password.touched">
            <div
              *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.PASSWORD_INVALID_LENGTH' | translate }}
            </div>
            <div
              *ngIf="password.errors?.['forbiddenName'] || password.errors?.['required']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.PASSWORD_INVALID_TEXT' | translate }}
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Public / Private -->
      <div class="row-center">
        <button
          class="button-switch left"
          [class.selected]="!isPrivate"
          (click)="toggleIsPrivate()"
        >
          <div class="row-center">
            <span class="material-icons button-icon"> meeting_room </span>
            <span class="padding-l-xs"
              >{{ 'MAIN.CHAT_CREATE.PUBLIC' | translate }}
            </span>
          </div>
        </button>
        <button
          class="button-switch right"
          [class.selected]="isPrivate"
          (click)="toggleIsPrivate()"
        >
          <div class="row-center">
            <span class="material-icons button-icon"> lock </span>
            <span class="padding-l-xs">
              {{ 'MAIN.CHAT_CREATE.PRIVATE' | translate }}
            </span>
          </div>
        </button>
      </div>

      <!-- Form error message -->
      <div class="padding-v-md text-error text-center">
        {{ errorMessage }}
      </div>

      <!-- Create Button -->
      <div class="align-right">
        <button
          class="button"
          [class.button-loading]="createLoading"
          type="button"
          (click)="createRoom()"
        >
          {{ 'MAIN.CHAT_CREATE.CREATE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<spot-modal [id]="'create-chat-photo'"></spot-modal>
