<div class="chat-create">
  <div class="row-center padding-sm background-header">
    <span class="flex-fill"> {{ 'MAIN.CHAT_CREATE.TITLE' | translate }} </span>
    <span class="material-icons icon-close" (click)="close()"> close </span>
  </div>
  <div class="col-center padding-lg">
    <div class="row-center photo" (click)="openPhotoModal()">
      <span class="material-icons icon-md icon-secondary"> add_a_photo </span>
    </div>
    <div class="padding-v-md text-secondary text-center">
      {{ 'MAIN.CHAT_CREATE.PHOTO_DESCRIPTION' | translate }}
    </div>
    <form class="form" [formGroup]="createChatForm" autocomplete="off">
      <fieldset class="fieldset">
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.NAME_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input-border-bottom"
              type="text"
              id="name"
              formControlName="name"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.NAME_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>
          <div *ngIf="name.invalid && name.dirty && name.touched">
            <div
              *ngIf="name.errors?.['minlength'] || name.errors?.['maxlength']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.NAME_INVALID_LENGTH' | translate }}
            </div>
            <div *ngIf="name.errors?.['forbiddenName']" class="form-text-error">
              {{ 'MAIN.CHAT_CREATE.NAME_INVALID_TEXT' | translate }}
            </div>
          </div>
        </div>
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.DESCRIPTION_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input-border-bottom"
              type="text"
              id="description"
              formControlName="description"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.DESCRIPTION_PLACEHOLDER' | translate
              }}"
            />
          </div>
          <div
            *ngIf="
              description.invalid && description.dirty && description.touched
            "
          >
            <div
              *ngIf="description.errors?.['maxlength']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.DESCRIPTION_INVALID_LENGTH' | translate }}
            </div>
            <div
              *ngIf="description.errors?.['forbiddenName']"
              class="form-text-error"
            >
              {{ 'MAIN.CHAT_CREATE.DESCRIPTION_INVALID_TEXT' | translate }}
            </div>
          </div>
        </div>
      </fieldset>
      <div class="row-center">
        <button
          class="button-switch left"
          [class.selected]="isPublic"
          (click)="toggleIsPublic()"
        >
          <div class="row-center">
            <span class="material-icons button-icon"> meeting_room </span>
            <span class="padding-l-xs"
              >{{ 'MAIN.CHAT_CREATE.PUBLIC' | translate }}
            </span>
          </div>
        </button>
        <button
          class="button-switch right"
          [class.selected]="!isPublic"
          (click)="toggleIsPublic()"
        >
          <div class="row-center">
            <span class="material-icons button-icon"> lock </span>
            <span class="padding-l-xs">
              {{ 'MAIN.CHAT_CREATE.PRIVATE' | translate }}
            </span>
          </div>
        </button>
      </div>
      <div class="padding-v-md text-error text-center">
        {{ errorMessage }}
      </div>
      <div class="align-right">
        <button
          class="button"
          [class.button-loading]="createLoading"
          type="button"
          (click)="createRoom()"
        >
          {{ 'MAIN.CHAT_CREATE.CREATE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<spot-modal [id]="'create-chat-photo'"></spot-modal>
