.background-primary {
  background-color: var(--primary);
}
.background-secondary {
  background-color: var(--background-secondary);
}
.background-page {
  background-color: var(--background-page);
}
.background-container {
  background-color: var(--background-container);
}
.background-header {
  background-color: var(--background-header);
}
.background-modal {
  background-color: var(--background-container);
}
.background-reset {
  background-color: transparent;
}

// Shadows
.container-shadow {
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
