.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// Contains form-titles and form-fields
.fieldset {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}
// Text and Icons
.form-title {
  font-size: var(--text-md);
}
// Contains the inputs
.form-field {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

// Errors
.form-text-error {
  font-size: var(--text-sm);
  color: var(--error);
}