.content-tag-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .tag-name-container {
    display: flex;
    flex-flow: row wrap;
  }

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 6px;
    margin: 1px 3px 1px 0px;
    background-color: var(--background-primary);

    .person {
      color: var(--text-secondary);
      font-size: 20px;
    }

    .highlight {
      color: var(--primary);
    }
  }
}

