.chat-menu {
  position: fixed;
  top: 60px;
  right: 0px;
  bottom: 0;
  border-top: 1px solid var(--background-primary);
}

// Container
.container {
  position: absolute;
  height: 100%;
  display: flex;
  right: -230px;
  transition: all 0.75s ease;
}
.container.expanded-semi {
  right: 0px;
}
.container.expanded-full {
  right: 0px;
}

// Expander
.expander {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 0px;
  height: 55px;
  border-right: 25px solid var(--background-container);
  border-bottom: 15px solid var(--background-page);
  .expander-icon {
    color: var(--icon-primary);
    position: absolute;
    left: 15px;
    top: 19px;
    font-size: 18px;
  }
  &:hover {
    .expander-icon {
      color: var(--primary);
    }
  }
}

// MENU
.menu.expanded-semi {
  width: 70px;
}
.menu.expanded-full {
  width: 230px;
}
.menu {
  width: 230px;
  transition: all 0.75s ease;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  .header {
    margin-top: 8px;
  }
  .header.expanded-full {
    flex-direction: row;
  }
}
.menu-button {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-sizing: border-box;
  margin: 5px;
  &:hover {
    color: var(--primary);
  }
}
.menu-button.selected {
  color: var(--primary);
}
.menu-item {
  cursor: pointer;
  &:hover .text {
    color: var(--primary)
  }
}

// IMAGE
.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-primary);
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

// MINI TABS
.mini-tabs {
  position: absolute;
  transition: all 0.75s ease;
  bottom: 5px;
  right: 5px;
}
.mini-tabs.expanded-full {
  right: 235px;
}
.mini-tabs.expanded-semi {
  right: 75px;
}
.mini-tab {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--background-container);
  margin-top: 5px;
  cursor: pointer;
}

// TABS
.tabs {
  position: absolute;
  bottom: 0px;
  right: 35px;
  transition: all 0.75s ease;
}
.tabs.expanded-full {
  right: 265px;
}
.tabs.expanded-semi {
  right: 105px;
}
