<div class="chat-menu">
  <div
    class="container"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <!-- Expander -->
    <div class="col">
      <button
        class="expander row-center background-page"
        (click)="toggleMenu()"
      >
        <span class="material-icons-outlined expander-icon">insert_comment</span>
      </button>
      <div class="flex-fill background-page"></div>
    </div>

    <!-- Menu -->
    <div
      class="menu col background-container full-height"
      [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
      [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    >
      <!-- Menu Buttons -->
      <div
        class="header col-center full-width"
        [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
      >
        <button
          class="menu-button"
          [class.selected]="selectedChatOption === eChatType.ROOM"
          (click)="selectRooms()"
        >
          <i class="material-icons button-icon"> groups </i>
          <span
            class="margin-l-sm"
            *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
            >{{ 'MAIN.CHAT_MENU.ROOMS' | translate }}</span
          >
        </button>
        <button
          class="menu-button"
          [class.selected]="selectedChatOption === eChatType.FRIEND"
          (click)="selectFriends()"
        >
          <span class="material-icons button-icon"> forum </span>
          <span
            class="margin-l-sm"
            *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
            >{{ 'MAIN.CHAT_MENU.FRIENDS' | translate }}</span
          >
        </button>
      </div>

      <!-- Search -->
      <div *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL" class="input-search-container">
        <span class="material-icons icon-md icon-primary margin-r-xs">
          search
        </span>
        <input
          [(ngModel)]="search"
          class="input-search"
          placeholder="{{ 'MAIN.CHAT_MENU.SEARCH_PLACEHOLDER' | translate }}"
          type="text"
        />
      </div>

      <!-- Chat Rooms -->
      <div *ngIf="selectedChatOption === eChatType.ROOM" class="flex-fill">
        <!-- Room Buttons -->
        <div class="col-center padding-sm">
          <button
            class="button full-width margin-b-md"
            (click)="discoverRooms()"
          >
            <span
              *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
              class="text margin-r-sm"
              >{{ 'MAIN.CHAT_MENU.DISCOVER_ROOMS' | translate }}</span
            >
            <i class="material-icons button-icon">travel_explore</i>
          </button>
          <button class="button full-width margin-b-md" (click)="createRoom()">
            <span
              *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
              class="text margin-r-sm"
              >{{ 'MAIN.CHAT_MENU.CREATE_ROOM' | translate }}</span
            >
            <i class="material-icons button-icon">add_circle_outline</i>
          </button>
        </div>

        <!-- Rooms -->
        <div *ngIf="userChatRooms$ | async as userChatRooms">
          <div *ngIf="userChatRooms.length > 0; else noRooms">
            <div
              class="menu-item row-center padding-md"
              *ngFor="let chatRoom of userChatRooms"
              (click)="createRoomTab(chatRoom)"
            >
              <span
                class="profile-md"
                [ngClass]="
                  chatRoom.imageSrc ? '' : 'chat-' + chatRoom.defaultImageNum
                "
              >
                <img
                  *ngIf="!chatRoom.imageSrc"
                  [src]="'/assets/images/chat/' + chatRoom.defaultImageSrc"
                />
                <img *ngIf="chatRoom.imageSrc" [src]="chatRoom.imageSrc" />
              </span>
              <span
                *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
                class="col flex-fill margin-l-md"
              >
                <span class="text">{{ chatRoom.name }}</span>
                <span class="text-secondary">testing</span>
              </span>
            </div>
          </div>
          <ng-template #noRooms>
            <div class="col-center margin-t-xl">
              <span class="text-center text-secondary">{{
                'MAIN.CHAT_MENU.ADD_ROOMS' | translate
              }}</span>
              <span class="material-icons"> group_add </span>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Friends -->
      <div *ngIf="selectedChatOption === eChatType.FRIEND" class="flex-fill">
        <div *ngIf="friends$ | async as friends">
          <div *ngIf="friends.length > 0; else noFriends">
            <div
              class="menu-item row-center padding-md"
              *ngFor="let friend of friends"
              (click)="createFriendTab(friend)"
            >
              <span class="row-center image">
                <span
                  *ngIf="!friend.profilePictureSrc"
                  class="row-center full-size"
                  >{{ getMinimizedName(friend.username) }}</span
                >
                <img
                  *ngIf="friend.profilePictureSrc"
                  [src]="friend.profilePictureSrc"
                />
              </span>
              <span
                *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
                class="col flex-fill margin-l-md"
              >
                <span class="text">{{ friend.username }}</span>
                <span class="text-secondary">testing</span>
              </span>
            </div>
          </div>
          <ng-template #noFriends>
            <div class="col-center margin-t-xl">
              <span class="text-center text-secondary">{{
                'MAIN.CHAT_MENU.ADD_FRIENDS' | translate
              }}</span>
              <span class="material-icons"> person_add </span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Mini Tabs -->
  <div
    class="mini-tabs col justify-content-end"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <div
      class="mini-tab profile-md"
      [ngClass]="mchat.data.imageSrc ? '' : 'chat-' + mchat.data.defaultImageNum"
      *ngFor="let mchat of minimizedChats"
      (click)="openMinimizedTab(mchat.tabId)"
    >
      <img *ngIf="mchat.data.imageSrc" [src]="mchat.data.imageSrc" />
      <img
        *ngIf="!mchat.data.imageSrc"
        [src]="'/assets/images/chat/' + mchat.data.defaultImageSrc"
      />
    </div>
  </div>
  <!-- Tabs -->
  <div
    class="tabs row justify-content-end align-items-end"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <div class="margin-r-xl" *ngFor="let chat of chats">
      <spot-chat-tab [tab]="chat"> </spot-chat-tab>
    </div>
  </div>
</div>
