<div class="container">
  <div
    class="menu-expander-container"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <button class="expander" (click)="toggleMenu()">
      <i class="material-icons icon">comment</i>
    </button>
    <div
      class="menu"
      [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
      [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    >
      <div
        class="list-header"
        [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
      >
        <button
          class="rooms"
          [ngClass]="{ selected: selectedChatOption === eChatType.ROOM }"
          (click)="selectRooms()"
        >
          <i class="material-icons">groups</i>
          <span class="text" *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL">{{
            'MAIN.CHAT_MENU.ROOMS' | translate
          }}</span>
        </button>
        <button
          class="friends"
          [ngClass]="{ selected: selectedChatOption === eChatType.FRIEND }"
          (click)="selectFriends()"
        >
          <i class="material-icons">forum</i>
          <span class="text" *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL">{{
            'MAIN.CHAT_MENU.FRIENDS' | translate
          }}</span>
        </button>
      </div>
      <div *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL" class="search">
        <span class="material-icons icon"> search </span>
        <input
          [(ngModel)]="search"
          placeholder="{{ 'MAIN.CHAT_MENU.SEARCH_PLACEHOLDER' | translate }}"
          type="text"
        />
      </div>

      <!-- Chat Rooms -->
      <div *ngIf="selectedChatOption === eChatType.ROOM" class="list-body">
        <div class="button-container">
          <button (click)="searchRooms()">
            <span
              *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
              class="text"
              >{{ 'MAIN.CHAT_MENU.DISCOVER_ROOMS' | translate }}</span
            >
            <i class="material-icons">travel_explore</i>
          </button>
          <button (click)="createRoom()">
            <span
              *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
              class="text"
              >{{ 'MAIN.CHAT_MENU.CREATE_ROOM' | translate }}</span
            >
            <i class="material-icons">add_circle_outline</i>
          </button>
        </div>
        <div *ngIf="chatRooms$ | async as chatRooms">
          <div *ngIf="chatRooms.length > 0; else noRooms">
            <div
              class="room"
              *ngFor="let chatRoom of chatRooms"
              (click)="createRoomTab(eChatType.ROOM, room)"
            >
              <span class="image">
                <span *ngIf="!chatRoom.imageSrc">{{
                  getMinimizedName(chatRoom.name)
                }}</span>
                <img
                  *ngIf="chatRoom.imageSrc"
                  [src]="chatRoom.imageSrc"
                />
              </span>
              <span
                *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
                class="text-container"
              >
                <span class="name">{{ chatRoom.name }}</span>
                <span class="last-message">testing</span>
              </span>
            </div>
          </div>
          <ng-template #noRooms>
            <div class="empty">
              <span>{{ 'MAIN.CHAT_MENU.ADD_ROOMS' | translate }}</span>
              <i class="material-icons">group_add</i>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Friends -->
      <div *ngIf="selectedChatOption === eChatType.FRIEND" class="list-body">
        <div *ngIf="friends$ | async as friends">
          <div *ngIf="friends.length > 0; else noFriends">
            <div
              class="friend"
              *ngFor="let friend of friends"
              (click)="createFriendTab(eChatType.FRIEND, friend.username)"
            >
              <span class="profile">
                <span *ngIf="!friend.profilePictureSrc">{{
                  getMinimizedName(friend.username)
                }}</span>
                <img
                  *ngIf="friend.profilePictureSrc"
                  [src]="friend.profilePictureSrc"
                />
              </span>
              <span
                *ngIf="menuStatus === eMenuStatus.EXPANDED_FULL"
                class="text-container"
              >
                <span class="username">{{ friend.username }}</span>
                <span class="last-message">testing</span>
              </span>
            </div>
          </div>
          <ng-template #noFriends>
            <div class="empty">
              <span>{{ 'MAIN.CHAT_MENU.ADD_FRIENDS' | translate }}</span>
              <i class="material-icons">person_add</i>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mini-tabs"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <div
      class="mini-tab"
      *ngFor="let mtab of minimizedTabs"
      (click)="openTab(mtab.id)"
    >
      <div class="mtab">
        <span>{{ getMinimizedName(mtab.name) }}</span>
      </div>
    </div>
  </div>
  <div
    class="tabs"
    [class.expanded-full]="menuStatus === eMenuStatus.EXPANDED_FULL"
    [class.expanded-semi]="menuStatus === eMenuStatus.EXPANDED_SEMI"
  >
    <div class="tab" *ngFor="let tab of tabs">
      <spot-chat-tab [tab]="tab" [close]="closeTab" [minimize]="minimizeTab">
        <spot-chat-room
          *ngIf="tab.type === eChatType.ROOM"
          [chatRoom]="tab.data"
        ></spot-chat-room>
        <spot-chat-friend
          *ngIf="tab.type === eChatType.FRIEND"
        ></spot-chat-friend>
      </spot-chat-tab>
    </div>
  </div>
</div>
