<div class="chat-create">
  <div class="row-center padding-sm background-header">
    <span class="flex-fill"> {{ 'MAIN.CHAT_CREATE.TITLE' | translate }} </span>
    <span class="material-icons icon-close" (click)="close()"> close </span>
  </div>
  <div class="col-center padding-lg">
    <div class="row-center photo" (click)="openPhotoModal()">
      <span class="material-icons icon-md icon-secondary"> add_a_photo </span>
    </div>
    <form class="form" [formGroup]="form" autocomplete="off">
      <fieldset class="fieldset">
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.NAME_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input"
              name="name"
              formControlName="name"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.NAME_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>
        </div>
        <div class="col-h-center">
          <div class="form-title">
            {{ 'MAIN.CHAT_CREATE.DESCRIPTION_TITLE' | translate }}
          </div>
          <div class="form-field">
            <input
              class="input"
              name="description"
              formControlName="description"
              autocomplete="off"
              placeholder="{{
                'MAIN.CHAT_CREATE.DESCRIPTION_PLACEHOLDER' | translate
              }}"
              type="password"
            />
          </div>
        </div>
      </fieldset>
      <div class="text-error">
        {{ errorMessage }}
      </div>
      <div class="align-right">
        <button
          class="button"
          [class.button-loading]="createLoading"
          type="button"
          (click)="createRoom()"
        >
          {{ 'MAIN.CHAT_CREATE.CREATE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<spot-modal [id]="'create-chat-photo'"></spot-modal>
