@use '~sass-mq/mq';

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.text-content {
  line-height: 1.2em;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

// Images
.image {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 200px;

  img {
    max-width: 100%;
    max-height: 500px;
  }

  .image-blur {
    opacity: 0.4;
    filter: blur(10px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-filter: blur(10px);
  }

  .image-blur-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-page);
    padding: 10px 5px;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    @include mq.mq($until: tablet) {
      width: 150px;
    }

    .icon {
      font-size: 42px;
      margin-bottom: 5px;
      color: var(--primary);
    }
  }
}

.image:hover .image-blur-text .text-secondary {
  color: var(--primary);
}

