<div class="container">
  <div class="post">
    <div class="left-bar">
      <i
        class="material-icons vote"
        (click)="like()"
        [ngClass]="{ highlight: post.rated === 1 }"
      >
        keyboard_arrow_up
      </i>
      <div class="points">{{ post.likes - post.dislikes }}</div>
      <i
        class="material-icons vote"
        (click)="dislike()"
        [ngClass]="{ highlight: post.rated === 0 }"
      >
        keyboard_arrow_down
      </i>
      <a class="time" [routerLink]="'/posts/' + post.link">
        {{ time }}
      </a>
    </div>

    <div class="content-container">
      <!-- places beside to avoid extra space since style is whitespace: pre-wrap -->
      <div class="text">
        {{ getContent() }}
        <span *ngIf="isExpandable">
          <span *ngIf="expanded; else notExpanded">
            <span class="expand" (click)="setExpanded(false)">
              {{ 'MAIN.POST.SEE_LESS' | translate }}
            </span>
          </span>
          <ng-template #notExpanded>
            <span class="expand" (click)="setExpanded(true)">
              {{ 'MAIN.POST.SEE_MORE' | translate }}
            </span>
          </ng-template>
        </span>
      </div>

      <!-- Image -->
      <div
        *ngIf="post.image_src !== null"
        (click)="imageClicked()"
        class="image"
      >
        <img
          #postimage
          [src]="post.image_src"
          [ngClass]="{
            'image-blur':
              (accountMetadata === null && imageBlurred) ||
              (imageBlurred && accountMetadata.mature_filter)
          }"
        />
        <div
          *ngIf="
            (accountMetadata === null && imageBlurred) ||
            (imageBlurred && accountMetadata.mature_filter)
          "
          class="image-blur-text"
        >
          <span class="material-icons icon"> error_outline </span>
          <span class="text"> {{ 'MAIN.POST.MATURE_CONTENT' | translate }} </span>
          <span class="text highlight">
            {{ 'MAIN.POST.MATURE_CONTENT_SHOW' | translate }}
          </span>
        </div>
      </div>

      <div class="options">
        <span class="comment-number">
          {{ post.comments }}
          <span *ngIf="post.comments === 1; else plural">
            {{ 'MAIN.POST.COMMENTS_SINGLE' | translate }}
          </span>
          <ng-template #plural>
            {{ 'MAIN.POST.COMMENTS' | translate }}
          </ng-template>
        </span>
        <div class="distance">
          <span *ngIf="post.distance">
            {{ getDistance(post.distance) }} -
          </span>
          {{ post.geolocation }}
        </div>
      </div>
    </div>

    <div class="right-bar">
      <div #options>
        <i class="material-icons icon-size" (click)="setOptions(true)">
          more_horiz
        </i>
        <div class="dropdown align-bottom">
          <div class="dropdown-content" [ngClass]="{ show: optionsEnabled }">
            <a
              *ngIf="!detailed"
              class="button"
              [routerLink]="'/posts/' + post.link"
            >
              <span class="material-icons icon"> chevron_right </span>
              {{ 'MAIN.POST.OPEN_POST' | translate }}
            </a>
            <div class="button" (click)="openReportModal(post.id)">
              <span class="material-icons icon"> outlined_flag </span>
              {{ 'MAIN.POST.REPORT' | translate }}
            </div>
            <div
              class="button"
              (click)="openShareModal(post.id, post.link)"
            >
              <span class="material-icons icon"> share </span>
              {{ 'MAIN.POST.SHARE' | translate }}
            </div>
            <div
              *ngIf="
                post.owned ||
                account.role === 'admin' ||
                account.role === 'owner'
              "
              class="button"
              (click)="deletePost()"
            >
              <span class="material-icons icon"> delete </span>
              {{ 'MAIN.POST.DELETE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div>
        <i
          class="material-icons share"
          (click)="openShareModal(post.id, post.link)"
        >
          share
        </i>
      </div>
    </div>
  </div>

  <div class="bar-container">
    <div class="bar"></div>
  </div>

  <spot-comments-container
    [post]="post"
    [detailed]="detailed"
  ></spot-comments-container>
</div>
