<div class="col background-container container-rounded margin-b-xl">
  <div class="col padding-h-lg padding-t-lg padding-b-md">
    <!-- Top bar -->
    <div class="row-h-center justify-content-between">
      <!-- Left -->
      <div class="row-h-center">
        <span
          class="material-icons icon-secondary-highlight margin-r-sm"
          [class.icon-primary]="spot.myRating === eSpotRatingType.LIKE"
          (click)="like()"
        >
          {{
            spot.myRating === eSpotRatingType.LIKE
              ? 'favorite'
              : 'favorite_border'
          }}
        </span>
        <div class="text-center">{{ spot.likes - spot.dislikes }}</div>
        <span
          class="material-icons icon-secondary-highlight margin-l-sm margin-r-lg"
          [class.icon-primary]="spot.myRating === eSpotRatingType.DISLIKE"
          (click)="dislike()"
        >
          {{
            spot.myRating === eSpotRatingType.DISLIKE
              ? 'thumb_down_alt'
              : 'thumb_down_off_alt'
          }}
        </span>
        <div class="material-icons icon-sm icon-primary"> location_on </div>
        <div class="text-secondary margin-l-xs">
          {{ spot.geolocation }}
          <span *ngIf="spot.distance">
            ({{ getDistance(spot.distance) }})
          </span>
        </div>
      </div>

      <!-- Right -->
      <div class="row-h-center">
        <div #options>
          <span
            class="material-icons icon-primary-highlight"
            (click)="setOptions(true)"
          >
            more_horiz
          </span>
          <div class="dropdown align-bottom">
            <div
              class="dropdown-content"
              [class.dropdown-show]="optionsEnabled"
            >
              <a
                *ngIf="!detailed"
                class="dropdown-button"
                [routerLink]="'/spot/' + spot.link"
              >
                <span class="material-icons icon"> chevron_right </span>
                {{ 'MAIN.POST.OPEN_POST' | translate }}
              </a>
              <div
                class="dropdown-button"
                (click)="openReportModal(spot.spotId)"
              >
                <span class="material-icons icon"> outlined_flag </span>
                {{ 'MAIN.POST.REPORT' | translate }}
              </div>
              <div
                class="dropdown-button"
                (click)="openShareModal(spot.spotId, spot.link)"
              >
                <span class="material-icons icon"> share </span>
                {{ 'MAIN.POST.SHARE' | translate }}
              </div>
              <div
                *ngIf="
                  spot.owned ||
                  user.role === eUserRole.ADMIN ||
                  user.role === eUserRole.OWNER
                "
                class="dropdown-button"
                (click)="deleteSpot()"
              >
                <span class="material-icons-outlined icon"> delete </span>
                {{ 'MAIN.POST.DELETE' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Text content and image -->
    <div class="col justify-content-between flex-fill">
      <!-- places beside to avoid extra space since style is whitespace: pre-wrap -->
      <div *ngIf="spot.content" class="text-content padding-t-md">
        {{ getContent() }}
        <span *ngIf="isExpandable">
          <span *ngIf="expanded; else notExpanded">
            <span
              class="text-secondary-highlight text-center flex-fill"
              (click)="setExpanded(false)"
            >
              {{ 'MAIN.POST.SEE_LESS' | translate }}
            </span>
          </span>
          <ng-template #notExpanded>
            <span
              class="text-secondary-highlight text-center flex-fill"
              (click)="setExpanded(true)"
            >
              {{ 'MAIN.POST.SEE_MORE' | translate }}
            </span>
          </ng-template>
        </span>
      </div>

      <!-- Image -->
      <div
        *ngIf="spot.imageSrc !== null"
        (click)="imageClicked()"
        class="image"
      >
        <img
          #spotimage
          [src]="spot.imageSrc"
          [class.image-blur]="
            (userMetadata === null && imageBlurred) ||
            (imageBlurred && userMetadata.matureFilter)
          "
        />
        <div
          *ngIf="
            (userMetadata === null && imageBlurred) ||
            (imageBlurred && userMetadata.matureFilter)
          "
          class="image-blur-text"
        >
          <span class="material-icons icon"> error_outline </span>
          <span class="text-center">
            {{ 'MAIN.POST.MATURE_CONTENT' | translate }}
          </span>
          <span class="text-center text-secondary">
            {{ 'MAIN.POST.MATURE_CONTENT_SHOW' | translate }}
          </span>
        </div>
      </div>
    </div>

    <!-- Bot row -->
    <div class="row-v-center justify-content-between margin-l-md">
      <div class="row-h-center">
        <span class="text-secondary margin-r-lg">
          {{ spot.totalComments }}
          <span *ngIf="spot.totalComments === 1; else plural">
            {{ 'MAIN.POST.COMMENTS_SINGLE' | translate }}
          </span>
          <ng-template #plural>
            {{ 'MAIN.POST.COMMENTS' | translate }}
          </ng-template>
        </span>
      </div>
      <div class="row-h-center">
        <a
          class="text-sm text-secondary-highlight margin-r-lg"
          [routerLink]="'/spot/' + spot.link"
        >
          {{ time }}
        </a>
        <span
          class="material-icons icon-primary-highlight"
          (click)="openShareModal(spot.spotId, spot.link)"
        >
          share
        </span>
      </div>
    </div>
  </div>

  <spot-comments-container
    [spot]="spot"
    [detailed]="detailed"
  ></spot-comments-container>
</div>
