@import '../../../styles/colors';

.container {
  display: flex;
  flex-flow: column;
  background-color: white;
  margin-bottom: 20px;

  .bar-container {

    display: flex;
    justify-content: center;

    .bar {
      width: 90%;
      border-bottom: 1px solid $lighter-grey;
    }

  }

}

.post {
    display: flex;
    padding: 12px 12px 6px 12px;
}

.left-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30px;
    margin-right: 5px;
}

.highlight {
  color: $button-highlight;
}

.vote {
    cursor: pointer;
    &:hover {
      @extend .highlight;
    }
}

.time {
  font-size: 12px;
  color: $subtle-grey;
}

.distance {
  color: $subtle-grey;
}

.content-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 5px;
}

.text {
  line-height: 1.2em;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.image {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 500px;
}



.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

.comment-number {
    color: $subtle-grey;
    text-align: left;
}

.highlight {
  color: $button-highlight;
}

.expand {
    flex: 1;
    text-align: center;
    color: $subtle-grey;
    cursor: pointer;
    &:hover {
        @extend .highlight;
    }
}

// right-bar

.right-bar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.share {
  color: $subtle-grey;
  cursor: pointer;
  text-align: right;
  &:hover {
    @extend .highlight;
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100px;
  top: 5px;
  right: 0;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
  z-index: 1;
}

.dropdown-content .button {

  background-color: #efefef;
  color: black;
  padding: 12px 8px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $lighter-grey;
  cursor: pointer;

  &:hover {
    background: $lighter-grey;
    color: $button-highlight;
  }

  .icon {
    margin-right: 6px;
  }

}

.show {
  display:block;
}

.icon-size {
  cursor: pointer;
  font-size: 20px;
  &:hover {
    @extend .highlight;
  }
}
