<div
  class="col background-container relative container-b-rounded"
  [ngClass]="isTab ? 'chat-room-tab' : 'chat-room'"
>
  <!-- Body -->
  <div
    #chat
    class="body col flex-fill padding-lg overflow-auto"
    (scroll)="onScroll($event)"
  >
    <!-- Chat Start -->
    <div *ngIf="!beforeCursor" class="row-center text-secondary text-sm">
      {{ 'MAIN.CHAT_ROOM.CHAT_HISTORY_START' | translate }}
    </div>
    <div #anchor></div>

    <!-- Message Blocks -->
    <div
      *ngFor="let messageBlock of messageBlocks"
      class="col-center padding-t-sm"
    >
      <!-- Date -->
      <div
        *ngIf="messageBlock.showDate"
        class="row-center text-secondary text-sm padding-v-sm"
      >
        {{ formatTimestamp(messageBlock.insertedAt) }}
      </div>

      <!-- Unowned messages are formatted on the left -->
      <div
        *ngIf="!messageBlock.owned; else owned"
        class="row-center relative full-width justify-content-start align-items-end"
      >
        <!-- Profile Picture -->
        <div class="full-height">
          <!-- Done with margin top so we can use a transition later -->
          <div
            class="profile-sm background-header row-center"
            [style.margin-top.px]="32 * (messageBlock.messages.length - 1)"
          >
            <img
              *ngIf="chatFriend.profilePictureSrc; else name"
              [src]="chatFriend.profilePictureSrc"
            />
            <ng-template #name>
              <div class="row-center">
                {{ getMinimizedName(chatFriend.username) }}
              </div>
            </ng-template>
          </div>
        </div>
        <div class="col-h-center align-items-start margin-l-sm">
          <div
            *ngFor="let message of messageBlock.messages"
            class="row-center relative"
          >
            <div class="message-text">
              {{ message.text }}
            </div>
            <span class="hover-text text-secondary text-sm padding-sm">
              {{ formatTimestamp(message.insertedAt) }}
            </span>
          </div>
        </div>
      </div>

      <!-- owned messages are formatted on the right-->
      <ng-template #owned>
        <div
          class="row-center relative full-width justify-content-end align-items-end"
        >
          <!-- Messages -->
          <div class="col-h-center align-items-end margin-r-sm">
            <div
              *ngFor="let message of messageBlock.messages"
              class="row-center relative"
            >
              <div class="message-text owned">
                {{ message.text }}
              </div>
              <span class="hover-text owned text-secondary text-sm padding-sm">
                {{ formatTimestamp(message.insertedAt) }}
              </span>
            </div>
          </div>
          <!-- Profile Picture -->
          <div class="full-height">
            <!-- Done with margin top so we can use a transition later -->
            <div
              class="profile-sm background-header row-center"
              [style.margin-top.px]="32 * (messageBlock.messages.length - 1)"
            >
              <img
                *ngIf="user.profilePictureSrc; else name"
                [src]="user.profilePictureSrc"
              />
              <ng-template #name>
                <div class="row-center">
                  {{ getMinimizedName(user.username) }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div #anchor></div>
  </div>

  <!-- Chat Bar -->
  <div class="footer row-h-center container-b-rounded">
    <div class="editor">
      <span
        #create
        contenteditable="true"
        attr.ph="{{ 'MAIN.CHAT_ROOM.CHAT_PLACEHOLDER' | translate }}"
        class="chat"
        (input)="onTextInput($event)"
        (keydown.enter)="onEnter()"
      ></span>
      <span
        class="material-icons icon-lg icon-secondary-highlight margin-h-md"
        (click)="submit()"
      >
        send
      </span>
    </div>
  </div>
</div>
