@import '../../styles/colors';

.container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}

.title {
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 300;
}

input {
    width: 60%;
    max-width: 400px;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #9E9E9E;
    outline: none;
}

input.ng-dirty.ng-invalid {
    border-bottom: 2px solid $error-red;
}

fieldset {
    border: none;
}

.error-message {
    text-align: center;
    color: $error-red;
    min-height: 1.25em;
}

.form-field {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: $header-color;
    border-radius: 12px;
    width: 30%;
    max-width: 200px;
    border: none;
    color: white;
    padding: 16px 8px;
    text-decoration: none;
    margin: 4px 2px;
    outline: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: lighten($header-color, 3%);
    }
}

.login {
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight {
    color: $secondary-color;
    &:hover {
        text-decoration: underline;
    }
}

.login-text {
    text-align: center;
    color: $primary-color;
    cursor: pointer;
}
