<div class="container" tabindex="-1">
  <div class="edit-buttons">
    <input type="button" class="button" (click)="heading()" value="H"/>
    <input type="button" class="button" (click)="bold()" value="B"/>
    <input type="button" class="button" (click)="underline()" value="U"/>
  </div>
  <div contenteditable="true" data-ph="Click to start making a post!" class="content" spellcheck="false"></div>
  <div class="submit-buttons">
      <input type="button" class="button" (click)="submit()" value="Submit"/>
  </div>
</div>
