@import '../../styles/colors';

.edit-buttons {
    display: flex;
    background-color: $primary-color;
    padding: 5px;
    align-content: center;
}

.submit-buttons {
    display: flex;
    background-color: $primary-color;
    padding: 5px;
    align-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 20px;
    color: white;
    background-color: $button-color;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.content {
    border: 1px black solid;
    padding: 10px;
    height: 25px;
    transition: height 0.3s ease-out;
    overflow: scroll;
}

// include a placeholder
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
    color: $description-color;
    font-style: italic;
}

.container:focus-within {
    [contenteditable] {
        outline: 0px solid transparent;
        height: 300px;
        transition: height 0.3s ease-out
    }
}

