<div class="background-container relative container-b-rounded flex-fill">
  <!-- Sticky Header -->
  <div
    class="header background-header row-h-center justify-content-between padding-lg"
  >
    <div class="row-center">
      <button
        class="menu-button row-center margin-r-lg"
        [class.text-primary]="selectedPage === eSelectedPage.CHATS"
        (click)="selectChatRooms()"
      >
        <span class="material-icons icon-md"> groups </span>
        <span class="row-center margin-l-sm"> Chats </span>
      </button>
      <button
        class="menu-button row-center margin-l-lg"
        [class.text-primary]="selectedPage === eSelectedPage.FRIENDS"
        (click)="selectFriends()"
      >
        <span class="material-icons icon-md"> forum </span>
        <span class="row-center margin-l-sm"> Friends </span>
      </button>
    </div>
  </div>

  <!-- Search -->
  <div class="input-search-container">
    <span class="material-icons icon-md icon-primary margin-r-xs">
      search
    </span>
    <input
      [(ngModel)]="search"
      class="input-search"
      placeholder="{{ 'MAIN.FRIENDS.FRIEND_SEARCH_PLACEHOLDER' | translate }}"
      type="text"
    />
  </div>

  <!-- Chat list -->
  <div
    *ngIf="selectedPage === eSelectedPage.CHATS; else friends"
    class="scroll-list padding-h-lg"
  >
    <!-- Chats need location and are filtered by search -->
    <div *ngIf="location; else noLocation">
      <div
        *ngIf="
          userChatRooms
            | filter: { filter: search, field: 'name' } as chatRooms;
          else noChats
        "
      >
        <div *ngIf="chatRooms.length > 0; else noChats" class="col-h-center">
          <div
            *ngFor="let chatRoom of userChatRooms"
            class="chat row-h-center margin-b-lg"
            (click)="openChat(chatRoom)"
          >
            <!-- Image -->
            <span
              class="profile-md"
              [ngClass]="
                chatRoom.imageSrc ? '' : 'chat-' + chatRoom.defaultImageNum
              "
            >
              <img *ngIf="chatRoom.imageSrc" [src]="chatRoom.imageSrc" />
              <img
                *ngIf="!chatRoom.imageSrc"
                [src]="'/assets/images/chat/' + chatRoom.defaultImageSrc"
              />
            </span>

            <!-- Name + Last message -->
            <div class="col-h-center margin-l-md">
              <span class="">
                {{ chatRoom.name }}
              </span>
              <span class="text-secondary"> last message </span>
            </div>
          </div>
        </div>

        <!-- No Chats rooms -->
        <ng-template #noChats>
          <div class="top-margin col-center">
            <span class="material-icons icon-sm icon-primary">
              comments_disabled
            </span>
            <span class="margin-t-sm"> You do not have any active chats </span>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- Location is loading or is off -->
    <ng-template #noLocation>
      <div *ngIf="locationLoading; else locationOff">
        <div class="top-margin col-center">
          <spot-spinner type="dot"></spot-spinner>
          <span class="margin-t-sm"> Loading your location </span>
        </div>
      </div>
      <ng-template #locationOff>
        <div class="top-margin col-center">
          <span class="material-icons icon-sm icon-primary">
            location_off
          </span>
          <span class="margin-t-sm"> No Location </span>
        </div>
      </ng-template>
    </ng-template>
  </div>

  <!-- Friends list -->
  <ng-template #friends>
    <div class="scroll-list"></div>
  </ng-template>

  <div class="footer row-h-center justify-content-around">
    <button class="footer-button" (click)="discoverRooms()">
      <i class="material-icons icon-md">travel_explore</i>
      <span class="text margin-l-sm"> Discover rooms </span>
    </button>
    <button class="footer-button" (click)="createRoom()">
      <i class="material-icons icon-md">add_circle_outline</i>
      <span class="text margin-l-sm"> Create room </span>
    </button>
  </div>
</div>
<spot-modal [id]="'chat-menu'"></spot-modal>
