<div>
  <spot-nav></spot-nav>
  <div class="about">
    <div class="heading"> What is Spot? </div>
    <div class="text">
      text text text
    </div>
    <div class="heading"> Anonymous </div>
    <div class="text">
      text text text
    </div>
    <div class="heading"> See whats happening in your Area </div>
    <div class="text">
      text text text
    </div>
    <div class="heading"> Terms and Conditions </div>
    <div class="text">
      terms and condtions
    </div>
    <div class="heading"> Privacy Policy </div>
    <div class="text">
      privacy policy
    </div>
  </div>
</div>
