<spot-nav></spot-nav>
<div class="about">
  <div class="container">
    <div class="heading-wrapper">
      <div class="main heading">About</div>
    </div>
    <div class="text">
      Spot is a social media website which allows you to share your ideas
      anonymously and at the same time with the friends you choose.
    </div>
    <div class="heading-wrapper">
      <div class="heading">Be Anonymous</div>
      <img class="op" src="../../../../assets/images/profile/op.png" />
    </div>
    <div class="text">
      All spots and comments you make are anonymous by default. If you want to
      share with friends, @tag them in a comment and only they will know who you
      are. If they tag you back then you will know each other while still
      remaining anonymous to everyone else. If you are the owner of a spot your
      profile picture will be the spy above to let everyone else know you made
      the Spot.
    </div>
    <div class="heading-wrapper">
      <div class="heading">See What's Happening Around You</div>
      <i class="material-icons heading-icon"> location_city </i>
    </div>
    <div class="text">
      You can only comment on Spots that are in a 10 mile radius, or if you are
      out of range only in a comment chain you were tagged in. Sort by home or
      global to see what's happening around you and in the world. Your location
      information will always be private and will never be given away to anyone
      for any reason.
    </div>
    <div class="heading">Icons8 Attribution</div>
    <div class="text">Profile icons provided by icons8.com</div>
    <button class="link" (click)="openTerms()">
      <span> Click to view </span>
      <span> Terms and Condtions & Privacy Policy </span>
    </button>
  </div>
</div>
<div class="copyright">
  <span> &#169; {{ STRINGS.COPYRIGHT }} </span>
</div>
