@import '../../../styles/sizes';

spot-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-page);
  padding-top: 84px;
  min-height: calc(100vh);
  box-sizing: border-box;

  .container {
    background-color: white;
    padding: 25px;
    margin: 25px;
    max-width: 900px;
    min-width: 50%;
  }

  .logo {
    width: 50px;
  }

  .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .heading {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    margin-right: 5px;
  }

  .heading-icon {
    font-size: 42px;
  }

  .heading.main {
    font-size: 50px;
    color: var(--primary);
    font-weight: 600;
    margin-right: 15px;
  }

  .text {
    display: flex;
    justify-content: center;
    color: var(--text-secondary);
    margin-bottom: 10px;
    text-align: center;
  }

  button {
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 12px 24px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    &:hover {
      background-color: var(--button-background-highlight);
    }
  }
}

.copyright {
  background-color: var(--background-page);
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {
  .about {
  }
}
