@import '../../../styles/colors';
@import '../../../styles/sizes';

.about {

  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 25px 50px;
  background-color: $background-grey;
  height: calc(100% - 84px);
  box-sizing: border-box;

  .container {

    background-color: white;
    padding: 20px;
    margin: 10px;
    max-width: 600px;

  }

  .heading {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .text {
    color: $subtle-grey;
    margin-bottom: 10px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    width: 350px;
    &:hover {
      cursor: pointer;
      background-color: lighten(black, 10%);
    }
  }

}

.copyright {
  background-color: $background-grey;
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .about {

  }

}
