<spot-main-nav></spot-main-nav>
<div class="account">
  <div class="account-info">
    <div *ngIf="account$ | async as account; else noAccount">
      <div class="title"> {{ STRINGS.MY_ACCOUNT }}</div>
      <div class="subheading"> {{ STRINGS.EMAIL }} </div>
      <div class="value"> {{ account.email }} </div>
      <div class="subheading"> {{ STRINGS.USERNAME }} </div>
      <div class="value username"> {{ account.username }} <span class="link"> {{ STRINGS.EDIT_USERNAME }} </span> </div>
      <div class="subheading"> {{ STRINGS.PHONE }} </div>
      <div class="value"> {{ account.phone }} </div>
      <div class="subheading"> {{ STRINGS.SCORE }} </div>
      <div class="value"> <i class="material-icons hot"> whatshot </i> {{ account.score }} </div>
      <div class="description"> {{ STRINGS.SCORE_DESCRIPTION }} </div>
      <br/>
      <div class="title">
        {{ STRINGS.ACCOUNT_OPTIONS }}
        <label class="checkbox-container">
          <span> {{ STRINGS.ENABLE_OPTIONS }} </span>
          <input type="checkbox" [(ngModel)]="accountOptionsEnabled">
          <span class="checkmark"> <span class="checkmark-inner"> </span> </span>
        </label>
      </div>
      <div class="button" [ngClass]="{'disabled': !accountOptionsEnabled}" (click)="deleteUser()"> {{ STRINGS.DELETE }} </div>
    </div>
    <ng-template #noAccount>
        <span class="no-account"> {{ STRINGS.NO_ACCOUNT }} </span>
    </ng-template>
  </div>
</div>
