<spot-main-nav></spot-main-nav>
<div class="account">
  <div class="account-content">
    <div *ngIf="user$ | async as user; else noUser">
      <div *ngIf="user.role === eUserRole.GUEST" class="text-error text-center margin-v-sm">
        {{ 'MAIN.ACCOUNT.GUEST' | translate }}
      </div>

      <!-- Account -->
      <div class="col margin-t-lg">
        <div
          class="row-h-center background-header padding-md container-t-rounded"
        >
          <span class="material-icons icon-lg icon-primary"> person </span>
          <span class="title-sm margin-l-sm">
            {{ 'MAIN.ACCOUNT.MY_ACCOUNT' | translate }}
          </span>
        </div>
        <div class="col background-container container-b-rounded">
          <div class="row padding-xl mobile-col">
            <!-- Col 1 -->
            <div class="col-center profile-margin">
              <!-- Profile Picture -->
              <div class="profile-lg margin-b-md background-page">
                <img
                  *ngIf="user.profilePictureSrc"
                  [src]="user.profilePictureSrc"
                />
                <img
                  *ngIf="!user.profilePictureSrc"
                  src="assets/images/op_large.png"
                />
              </div>
              <div
                class="text-secondary-highlight margin-b-md"
                (click)="openUploadPhotoModal()"
              >
                {{ 'MAIN.ACCOUNT.CHANGE' | translate }}
              </div>

              <!-- Age -->
              <div class="row-h-center margin-b-md">
                <span class="material-icons icon-primary"> cake </span>
                <span class="margin-l-sm">
                  {{ formatBirthday(user.createdAt) }}
                </span>
              </div>

              <!-- Verified Status -->
              <div *ngIf="user.verifiedAt" class="row-h-center margin-b-md">
                <span class="material-icons icon-primary"> verified </span>
                <span class="margin-l-sm text-center">
                  {{ 'MAIN.ACCOUNT.VERIFY_CHECK' | translate }}
                </span>
              </div>
              <div
                *ngIf="!user.verifiedAt && verificationSent"
                class="row-h-center margin-b-md"
              >
                <span class="material-icons icon-primary"> check_circle </span>
                <span class="margin-l-sm text-center">
                  {{ 'MAIN.ACCOUNT.VERIFY_SENT' | translate }}
                </span>
              </div>
              <div
                *ngIf="!user.verifiedAt && !verificationSent"
                class="row-h-center margin-b-md"
                (click)="verifyUser()"
              >
                <span class="material-icons icon-primary"> email </span>
                <span class="margin-l-sm text-secondary-highlight text-center">
                  {{ 'MAIN.ACCOUNT.VERIFY' | translate }}
                </span>
              </div>

              <!-- Spot Score -->
              <div *ngIf="userMetadata" class="row-h-center margin-b-md">
                <span class="material-icons icon-lg icon-error">
                  whatshot
                </span>
                <span class="margin-l-sm">{{ userMetadata.score }}</span>
              </div>
            </div>

            <!-- Col 2 / Account Details -->
            <div class="col padding-xl flex-fill">
              <span class=""> {{ 'MAIN.ACCOUNT.USERNAME' | translate }}: </span>
              <span
                class="background-page padding-md margin-b-lg container-rounded"
              >
                {{ user.username }}
              </span>
              <span class=""> {{ 'MAIN.ACCOUNT.EMAIL' | translate }}: </span>
              <span
                class="background-page padding-md margin-b-lg container-rounded"
              >
                {{ user.email }}
              </span>
              <span class=""> {{ 'MAIN.ACCOUNT.PHONE' | translate }}: </span>
              <span
                class="background-page padding-md margin-b-lg container-rounded"
              >
                {{ user.phone }}
              </span>
            </div>
          </div>
          <!-- Update Account Options -->
          <div class="row-center padding-xl">
            <!-- <span class="text-secondary-highlight text-center margin-r-xl"> -->
            <!-- {{ 'MAIN.ACCOUNT.CHANGE_PASSWORD' | translate }} -->
            <!-- </span> -->
            <!-- | -->
            <span
              class="text-secondary-highlight text-center margin-r-xl"
              (click)="changeAccountDetail('username')"
            >
              {{ 'MAIN.ACCOUNT.CHANGE_USERNAME' | translate }}
            </span>
            |
            <span
              class="text-secondary-highlight text-center margin-h-xl"
              (click)="changeAccountDetail('email')"
            >
              {{ 'MAIN.ACCOUNT.CHANGE_EMAIL' | translate }}
            </span>
            |
            <span
              class="text-secondary-highlight text-center margin-l-xl"
              (click)="changeAccountDetail('phone')"
            >
              {{ 'MAIN.ACCOUNT.CHANGE_PHONE' | translate }}
            </span>
          </div>
        </div>
      </div>

      <!-- Settings & Social -->
      <div class="col margin-t-lg">
        <div
          class="row-h-center background-header padding-md container-t-rounded"
        >
          <span class="material-icons icon-lg icon-primary"> settings </span>
          <span class="title-sm margin-l-sm">
            {{ 'MAIN.ACCOUNT.SETTINGS' | translate }}
          </span>
        </div>
        <div
          class="row-v-center background-container container-b-rounded mobile-col"
        >
          <!-- Settings -->
          <div
            *ngIf="userMetadata"
            class="col-center padding-xl settings-margin-left flex-fill"
          >
            <!-- Unit -->
            <div class="col">
              <div class="margin-b-sm">
                {{ 'MAIN.ACCOUNT.UNIT' | translate }}:
              </div>
              <div class="row-h-center margin-b-md">
                <div class="row-center">
                  <button
                    class="button-switch left"
                    [class.selected]="
                      userMetadata.unitSystem === eUnitSystem.IMPERIAL
                    "
                    (click)="toggleUnitSystem()"
                  >
                    {{ 'MAIN.ACCOUNT.IMPERIAL' | translate }}
                  </button>
                  <button
                    class="button-switch right"
                    [class.selected]="
                      userMetadata.unitSystem === eUnitSystem.METRIC
                    "
                    (click)="toggleUnitSystem()"
                  >
                    {{ 'MAIN.ACCOUNT.METRIC' | translate }}
                  </button>
                </div>
              </div>

              <!-- Mature Filter -->
              <div class="margin-b-sm">
                {{ 'MAIN.ACCOUNT.MATURE' | translate }}:
              </div>
              <div class="row-h-center margin-b-md">
                <div class="row-center">
                  <button
                    class="button-switch left"
                    [class.selected]="userMetadata.matureFilter === true"
                    (click)="toggleMatureFilter()"
                  >
                    {{ 'MAIN.ACCOUNT.MATURE_TRUE' | translate }}
                  </button>
                  <button
                    class="button-switch right"
                    [class.selected]="userMetadata.matureFilter === false"
                    (click)="toggleMatureFilter()"
                  >
                    {{ 'MAIN.ACCOUNT.MATURE_FALSE' | translate }}
                  </button>
                </div>
              </div>

              <!-- Web Theme -->
              <div class="margin-b-sm">
                {{ 'MAIN.ACCOUNT.THEME' | translate }}:
              </div>
              <div class="row-h-center">
                <div class="row-center">
                  <button
                    class="button-switch left"
                    [class.selected]="userMetadata.themeWeb === eThemeWeb.LIGHT"
                    (click)="toggleTheme()"
                  >
                    {{ 'MAIN.ACCOUNT.LIGHT' | translate }}
                  </button>
                  <button
                    class="button-switch right"
                    [class.selected]="userMetadata.themeWeb === eThemeWeb.DARK"
                    (click)="toggleTheme()"
                  >
                    {{ 'MAIN.ACCOUNT.DARK' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Social -->
          <div class="col-center padding-xl settings-margin-right">
            <!-- Facebook -->
            <div
              *ngIf="
                (facebookConnected$ | async) === false;
                else facebookConnected
              "
              class="col-center"
            >
              <button
                *ngIf="facebookLoaded"
                class="button-facebook margin-b-sm"
                (click)="facebookConnect()"
              >
                <img
                  src="assets/images/facebook_logo_white.png"
                  class="icon-facebook"
                />
                <span class="text-facebook">{{
                  'MAIN.ACCOUNT.FACEBOOK_CONNECT' | translate
                }}</span>
              </button>
              <div class="text-secondary text-center facebook-description">
                {{ 'MAIN.ACCOUNT.FACEBOOK_DESCRIPTION' | translate }}
              </div>
            </div>
            <ng-template #facebookConnected>
              <div class="row-h-center">
                <img
                  src="assets/images/facebook_logo.png"
                  class="facebook-logo"
                />
                <span class="margin-h-sm text-center">
                  {{ 'MAIN.ACCOUNT.FACEBOOK_CONNECTED' | translate }}
                </span>
                <button
                  *ngIf="user.googleId || user.email"
                  class="button"
                  (click)="facebookDisconnect()"
                >
                  {{ 'MAIN.ACCOUNT.DISCONNECT' | translate }}
                </button>
              </div>
            </ng-template>
            <!-- Google -->
            <!-- TODO: Dont use ngIf here use hidden so it renders -->
            <div
              *ngIf="(googleConnected$ | async) === false; else googleConnected"
              class="margin-t-xl"
            >
              <div id="googleButtonAccount"></div>
            </div>
            <ng-template #googleConnected>
              <div class="row-h-center margin-t-md">
                <img src="assets/images/google_logo.png" class="google-logo" />
                <span class="margin-h-sm text-center">
                  {{ 'MAIN.ACCOUNT.GOOGLE_CONNECTED' | translate }}
                </span>
                <button
                  *ngIf="user.facebookId || user.email"
                  class="button"
                  (click)="googleDisconnect()"
                >
                  {{ 'MAIN.ACCOUNT.DISCONNECT' | translate }}
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col margin-t-lg">
        <div
          class="row-h-center justify-content-between background-header padding-md container-t-rounded"
        >
          <span class="row-center">
            <span class="material-icons icon-lg icon-primary"> security </span>
            <span class="title-sm margin-l-sm">
              {{ 'MAIN.ACCOUNT.ACCOUNT_OPTIONS' | translate }}
            </span>
          </span>
          <label class="checkbox-container">
            <span class="text-secondary-highlight text-md">
              {{ 'MAIN.ACCOUNT.ENABLE_OPTIONS' | translate }}
            </span>
            <input type="checkbox" [(ngModel)]="userOptionsEnabled" />
            <span class="checkmark">
              <span class="checkmark-inner"> </span>
            </span>
          </label>
        </div>
        <div class="background-container container-b-rounded padding-xl">
          <button
            class="button"
            [class.button-disabled]="!userOptionsEnabled"
            [class.disabled-background]="!userOptionsEnabled"
            (click)="deleteUser()"
          >
            {{ 'MAIN.ACCOUNT.DELETE' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- No User -->
    <ng-template #noUser>
      <div *ngIf="showUserIndicator$ | async" class="row-center margin-t-lg">
        <span class="material-icons icon-lg icon-primary"> person </span>
        <span class="text-center">
          {{ 'MAIN.ACCOUNT.NO_ACCOUNT' | translate }}
        </span>
      </div>
    </ng-template>
  </div>
</div>
