@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.account {

  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: $background-grey;
  box-sizing: border-box;

  .account-content {
    width: 70%;
    max-width: 650px;
  }

  .mobile-column {
    display: flex;
  }

  .no-account {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;

    .icon {
      font-size: 42px;
      color: $button-highlight;
    }

    .text {
      font-size: 18px;
    }

  }

}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.verify-container {
  font-size: 16px;
  color: $subtle-grey;
  display: flex;
  align-items: center;
}

.verify-text {
  margin-right: 3px;
}

.verify-icon {
  font-size: 16px;
}

.verify-icon-highlight {
  font-size: 16px;
  color: $button-highlight;
}

.verify-click {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $button-highlight;
  }
}

.facebook {

  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $facebook-blue;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-bottom: 5px;

  &:hover {
    background-color: lighten($facebook-blue, 3%);
  }

  .facebook-logo {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

}



.facebook-connected {
  display: flex;
  justify-content: center;
  align-items: center;

  .text {

    margin-right: 3px;

    &:hover {
      color: $button-highlight;
      cursor: pointer;
    }

  }

  .check {
    color: $success-green;
    margin-right: 3px;
  }

}

.subheading {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;

  .subheading-text {
    margin-right: 5px;
  }

}

.value {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 5px;
}

.link {
  font-size: 14px;
  color: $subtle-grey;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: $button-highlight;
  }
}

.username {
  justify-content: space-between;
}

input {
  border: none;
  outline: none;
  color: black;
  padding: 0px 0px;
  font-size: 14px;
  background-color: white;
}

.description {
  color: $subtle-grey;
  margin-bottom: 5px;
}

.hot {
  color: $error-red;
  margin-right: 5px;
}



.delete {

  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  background-color: $button-black;
  border: none;
  color: $button-font-white;
  padding: 12px 12px;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
      background-color: lighten($button-black, 10%);
  }

}

.distance-button {
  color: black;
  background-color: $lighter-grey;
  padding: 8px 10px;
  cursor: pointer;
}

.distance-selected {
  color: white;
  background-color: $button-highlight;
}

.disabled {
  background-color: $subtle-grey;
  cursor: not-allowed;
  &:hover {
    background-color: $subtle-grey;
  }
}

// Checkbox stuff

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  height: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $subtle-grey;
}

.checkmark-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: $background-grey;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: $subtle-grey;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $error-red;
}

.checkbox-container input:checked ~ .checkmark .checkmark-inner {
  display: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.enable-text {
  &:hover {
    color: $button-highlight;
  }
}

// For Mobile
@media screen and (max-width: $mobile-width) {

  .account-info  {
    width: 95%;
    min-width: 0;
  }

  .mobile-column {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
