<spot-main-nav></spot-main-nav>
<div class="account">
  <div class="account-content">
    <div *ngIf="account$ | async as account; else noAccount">
      <div *ngIf="account.role === 'guest'" class="guest">
        {{ 'MAIN.ACCOUNT.GUEST' | translate }}
      </div>

      <div class="section">
        <div class="header profile">
          <span class="title-container">
            <span class="material-icons title-icon"> person </span>
            <span class="title">
              {{ 'MAIN.ACCOUNT.MY_ACCOUNT' | translate }}
            </span>
          </span>
          <!-- Photo -->
          <div class="photo">
            <img src="../../../../assets/images/op_large.png" />
          </div>
          <!-- Age -->
          <div class="age">
            <span class="material-icons icon"> cake </span>
            <span class="text">
              {{ formatBirthday(account.creation_date) }}
            </span>  
          </div>
          <!-- Verification -->
          <div *ngIf="account.verified_date === null; else verified">
            <div *ngIf="account.email">
              <div
                *ngIf="verificationSent === false; else sent"
                class="verify-click verify-container"
                (click)="verifyAccount()"
              >
                <span class="verify-text">
                  {{ 'MAIN.ACCOUNT.VERIFY' | translate }}
                </span>
                <span class="material-icons verify-icon"> email </span>
              </div>
              <ng-template #sent>
                <div class="verify-container">
                  <span class="verify-text">
                    {{ 'MAIN.ACCOUNT.VERIFY_SENT' | translate }}
                  </span>
                </div>
              </ng-template>
            </div>
          </div>
          <ng-template #verified>
            <div class="verify-container">
              <span class="material-icons verify-icon-highlight">
                check_circle
              </span>
              <span class="verify-text">
                {{ 'MAIN.ACCOUNT.VERIFY_CHECK' | translate }}
              </span>
            </div>
          </ng-template>
        </div>
        <div class="body">
          <!-- Email -->
          <div class="info-container">
            <span class="subheader">
              {{ 'MAIN.ACCOUNT.EMAIL' | translate }}:
            </span>
            <div class="value editable">
              <span *ngIf="!email && !editEmailEnabled" class="no-value">
                {{ 'MAIN.ACCOUNT.NO_EMAIL' | translate }}
              </span>
              <input
                #editEmail
                [disabled]="!editEmailEnabled"
                [(ngModel)]="email"
                type="text"
                spellcheck="false"
              />
              <div *ngIf="editEmailEnabled; else elseEmailBlock">
                <span class="link" (click)="submitEditEmail()">
                  {{ 'MAIN.ACCOUNT.SUBMIT' | translate }}
                </span>
              </div>
              <ng-template #elseEmailBlock>
                <span
                  *ngIf="email; else add"
                  class="material-icons edit-icon"
                  (click)="enableEditEmail()"
                >
                  edit
                </span>
                <ng-template #add>
                  <span class="link" (click)="enableEditEmail()">
                    {{ 'MAIN.ACCOUNT.ADD' | translate }}
                  </span>
                </ng-template>
              </ng-template>
            </div>
          </div>
          <div *ngIf="emailErrorMessage" class="error">
            {{ emailErrorMessage }}
          </div>
          <div *ngIf="emailSuccessMessage" class="success">
            {{ emailSuccessMessage }}
          </div>
          <div *ngIf="account.verified_date === null">
            <div class="description">
              {{ 'MAIN.ACCOUNT.EMAIL_VERIFY_DESCRIPTION' | translate }}
            </div>
          </div>

          <!-- Username -->
          <div class="info-container">
            <div class="subheader">
              {{ 'MAIN.ACCOUNT.USERNAME' | translate }}:
            </div>
            <div class="value editable">
              <input
                #editUsername
                [disabled]="!editUsernameEnabled"
                [(ngModel)]="username"
                type="text"
                spellcheck="false"
              />
              <div *ngIf="editUsernameEnabled; else elseBlock">
                <span class="link" (click)="submitEditUsername()">
                  {{ 'MAIN.ACCOUNT.SUBMIT' | translate }}
                </span>
              </div>
              <ng-template #elseBlock>
                <span
                  class="material-icons edit-icon"
                  (click)="enableEditUsername()"
                >
                  edit
                </span>
              </ng-template>
            </div>
          </div>
          <div *ngIf="usernameErrorMessage" class="error">
            {{ usernameErrorMessage }}
          </div>
          <div *ngIf="usernameSuccessMessage" class="success">
            {{ usernameSuccessMessage }}
          </div>

          <!-- Phone -->
          <div class="info-container">
            <div class="subheader">{{ 'MAIN.ACCOUNT.PHONE' | translate }}:</div>
            <div class="value editable">
              <span *ngIf="!phone && !editPhoneEnabled" class="no-value">
                {{ 'MAIN.ACCOUNT.NO_PHONE' | translate }}
              </span>
              <input
                #editPhone
                [disabled]="!editPhoneEnabled"
                [(ngModel)]="phone"
                type="text"
                spellcheck="false"
              />
              <div *ngIf="editPhoneEnabled; else elsePhoneBlock">
                <span class="link" (click)="submitEditPhone()">
                  {{ 'MAIN.ACCOUNT.SUBMIT' | translate }}
                </span>
              </div>
              <ng-template #elsePhoneBlock>
                <div *ngIf="phone; else add">
                  <span
                    class="material-icons edit-icon"
                    (click)="enableEditPhone()"
                  >
                    edit
                  </span>
                </div>
                <ng-template #add>
                  <span class="link" (click)="enableEditPhone()">
                    {{ 'MAIN.ACCOUNT.ADD' | translate }}
                  </span>
                </ng-template>
              </ng-template>
            </div>
          </div>
          <div *ngIf="phoneErrorMessage" class="error">
            {{ phoneErrorMessage }}
          </div>
          <div *ngIf="phoneSuccessMessage" class="success">
            {{ phoneSuccessMessage }}
          </div>
        </div>
      </div>

      <!-- Settings -->
      <div *ngIf="accountMetadata$ | async as accountMetadata" class="section">
        <div class="header">
          <span class="material-icons title-icon"> settings </span>
          <span class="title">
            {{ 'MAIN.ACCOUNT.SETTINGS' | translate }}
          </span>
        </div>
        <div class="body">
          <!-- Score -->
          <div class="info-container">
            <div class="subheader">{{ 'MAIN.ACCOUNT.SCORE' | translate }}:</div>
            <div class="value">
              <i class="material-icons hot"> whatshot </i>
              {{ accountMetadata.score }}
            </div>
          </div>
          <div class="description">
            {{ 'MAIN.ACCOUNT.SCORE_DESCRIPTION' | translate }}
          </div>

          <!-- Distance Unit -->
          <div class="info-container">
            <div class="subheader">{{ 'MAIN.ACCOUNT.UNIT' | translate }}:</div>
            <div class="value">
              <button
                class="left"
                [ngClass]="{
                  'button-selected':
                    accountMetadata.distance_unit === 'imperial'
                }"
                (click)="setUnit('imperial')"
              >
                {{ 'MAIN.ACCOUNT.IMPERIAL' | translate }}
              </button>
              <button
                class="right"
                [ngClass]="{
                  'button-selected': accountMetadata.distance_unit === 'metric'
                }"
                (click)="setUnit('metric')"
              >
                {{ 'MAIN.ACCOUNT.METRIC' | translate }}
              </button>
            </div>
          </div>

          <!--  Mature Content Filter -->
          <div class="info-container">
            <div class="subheader">
              {{ 'MAIN.ACCOUNT.MATURE' | translate }}:
            </div>
            <div class="value">
              <button
                class="left"
                [ngClass]="{
                  'button-selected': accountMetadata.mature_filter === 1
                }"
                (click)="setMature(true)"
              >
                {{ 'MAIN.ACCOUNT.MATURE_TRUE' | translate }}
              </button>
              <button
                class="right"
                [ngClass]="{
                  'button-selected': accountMetadata.mature_filter === 0
                }"
                (click)="setMature(false)"
              >
                {{ 'MAIN.ACCOUNT.MATURE_FALSE' | translate }}
              </button>
            </div>
          </div>

          <!-- Set Theme -->
          <div class="info-container">
            <div class="subheader">{{ 'MAIN.ACCOUNT.THEME' | translate }}:</div>
            <div class="value">
              <button
                class="left"
                [ngClass]="{
                  'button-selected': accountMetadata.theme_web === 'light'
                }"
                (click)="setTheme('light')"
              >
                {{ 'MAIN.ACCOUNT.LIGHT' | translate }}
              </button>
              <button
                class="right"
                [ngClass]="{
                  'button-selected': accountMetadata.theme_web === 'dark'
                }"
                (click)="setTheme('dark')"
              >
                {{ 'MAIN.ACCOUNT.DARK' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <span class="material-icons title-icon"> people_alt </span>
          <span class="title">
            {{ 'MAIN.ACCOUNT.SOCIAL' | translate }}
          </span>
        </div>
        <div class="body">
          <div class="social-container">
            <div
              class="social-button"
              *ngIf="
                (facebookConnected$ | async) === false;
                else facebookconnected
              "
            >
              <button
                *ngIf="facebookLoaded"
                class="facebook"
                (click)="facebookConnect()"
              >
                <img
                  src="../../../assets/images/facebook_logo_white.png"
                  class="facebook-logo"
                />
                {{ 'MAIN.ACCOUNT.FACEBOOK_CONNECT' | translate }}
              </button>
            </div>
            <ng-template #facebookconnected>
              <div class="facebook-connected">
                <img
                  src="../../../assets/images/facebook_logo.png"
                  class="facebook-logo"
                />
                <span class="text"> Logged in with Facebook </span>
                <button
                  *ngIf="
                    (facebookLoaded && account.local_account) ||
                    account.google_id
                  "
                  (click)="facebookDisconnect()"
                >
                  {{ 'MAIN.ACCOUNT.FACEBOOK_CONNECT_SUCCESS' | translate }}
                </button>
              </div>
            </ng-template>
            <div
              class="social-button"
              *ngIf="(googleConnected$ | async) === false; else googleconnected"
            >
              <!-- GOOGLE -->
              <div id="my-signin2"></div>
            </div>
            <ng-template #googleconnected>
              <div class="google-connected">
                <img
                  src="../../../assets/images/google_logo.png"
                  class="google-logo"
                />
                <span class="text"> Logged in with Google </span>
                <button
                  *ngIf="account.local_account || account.facebook_id"
                  (click)="googleDisconnect()"
                >
                  {{ 'MAIN.ACCOUNT.FACEBOOK_CONNECT_SUCCESS' | translate }}
                </button>
              </div>
            </ng-template>
          </div>
          <div *ngIf="facebookLoaded" class="description">
            {{ 'MAIN.ACCOUNT.FACEBOOK_CONNECT_DESCRIPTION' | translate }}
          </div>
        </div>
      </div>

      <!-- Options -->
      <div class="section">
        <div class="header options">
          <span class="options-title-container">
            <span class="material-icons title-icon"> security </span>
            <span class="title">
              {{ 'MAIN.ACCOUNT.ACCOUNT_OPTIONS' | translate }}
            </span>
          </span>
          <label class="checkbox-container">
            <span class="enable-text">
              {{ 'MAIN.ACCOUNT.ENABLE_OPTIONS' | translate }}
            </span>
            <input type="checkbox" [(ngModel)]="accountOptionsEnabled" />
            <span class="checkmark">
              <span class="checkmark-inner"> </span>
            </span>
          </label>
        </div>
        <div class="body">
          <button
            class="delete"
            [ngClass]="{ disabled: !accountOptionsEnabled }"
            (click)="deleteUser()"
          >
            {{ 'MAIN.ACCOUNT.DELETE' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- No Account -->
    <ng-template #noAccount>
      <div *ngIf="showAccountIndicator$ | async" class="no-account">
        <span class="material-icons icon"> person </span>
        <span class="text">
          {{ 'MAIN.ACCOUNT.NO_ACCOUNT' | translate }}
        </span>
      </div>
    </ng-template>
  </div>
</div>
