@use '~sass-mq/mq';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.account {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: var(--background-page);
  box-sizing: border-box;

  .account-content {
    width: 70%;
    max-width: 650px;
    padding-bottom: 50px;
    @include mq.mq($until: tablet) {
      width: 95%;
      min-width: 0;
    }
  }
}

// profile
.profile-margin {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  @include mq.mq($until: tablet) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

// settings
.settings-margin-left {
  margin-left: 50px;
  @include mq.mq($until: tablet) {
    margin-left: 15px;
  }
}
.settings-margin-right {
  margin-right: 50px;
  @include mq.mq($until: tablet) {
    margin-right: 15px;
  }
}
.facebook-description {
  max-width: 300px;
}
.facebook-logo {
  width: 30px;
  height: 30px;
}
.google-logo {
  width: 25px;
  height: 25px;
}

