@import '../../../styles/sizes';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.account {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: var(--background-page);
  box-sizing: border-box;

  .account-content {
    width: 70%;
    max-width: 650px;
    padding-bottom: 50px;
  }
}

.profile-margin {
  margin-left: 60px;
  margin-right: 60px;
}

// Google
// .google-logo {
//   width: 30px;
//   height: 30px;
//   margin-right: 8px;
//   margin-left: 8px;
// }

// Profile

// .profile-position {
//   position: absolute;
//   top: 0;
//   right: 0;

//   .mask {
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0%;

//     .background {
//       position: absolute;
//       top: 0;
//       left: 0;
//       background-color: black;
//       height: 100px;
//       width: 100px;
//       border-radius: 50%;
//       opacity: 15%;
//     }

//     // icon
//     span {
//       color: white;
//     }

//     &:hover {

//     }

//   }
// }

// Checkbox
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  height: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--primary);
}

.checkmark-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: var(--background-header);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--primary);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary);
}

.checkbox-container input:checked ~ .checkmark .checkmark-inner {
  display: none;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// For Mobile
// @media screen and (max-width: $mobile-width) {
//   .account {
//     .account-content {
//       width: 95%;
//       min-width: 0;
//     }
//   }
// }
