.notification-item {
  border-bottom: 1px solid var(--background-primary);

  &:hover .text-preview .prompt {
    color: var(--primary);
  }
}

.unseen {
  background-color: var(--item-highlight);
}

.text-preview {
  flex: 1;
  padding: 0px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;

  .prompt {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .text {
    font-size: 14px;
    color: var(--text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
