<div class="wrapper">
  <div class="notification-item" (click)="goToPost()" [ngClass]="{'seen': !notification.seen}">
    <div class="prompt-container">
      <div class="prompt">
        <div *ngIf="notification.comment_id; else postLink">
          <span class="username"> {{ notification.username }} </span>
          <span> {{ STRINGS.COMMENT_PROMPT }} </span>
        </div>
        <ng-template #postLink>
          <span class="username"> {{ notification.username }} </span>
          <span> {{ STRINGS.PROMPT }} </span>
        </ng-template>
      </div>
      <div class="content-preview"> {{ notification.content }} </div>
    </div>
    <div class="right-group">
      <div class="image-container" *ngIf="notification.image_src">
        <img [src]="notification.image_src">
      </div>
      <div class="date"> {{ getTime(notification.creation_date) }} </div>
    </div>
  </div>
  <span class="material-icons delete" (click)="delete()"> close </span>
</div>
