<div class="notification-item" [ngClass]="{'seen': !notification.seen}">
  <div class="prompt-container">
    <div class="prompt">
      <span class="username"> {{ notification.username }} </span>
      <span (click)="goToPost()"> {{ STRINGS.PROMPT }} </span>
      <span class="delete" (click)="delete()"> X </span>
    </div>
    <div class="content-preview"> {{ getPreview(notification.content) }} </div>
  </div>
  <div class="image-container" *ngIf="notification.image_src">
    <img [src]="notification.image_src">
  </div>
  <div class="date"> {{ getTime(notification.creation_date) }} </div>
</div>
