@import '../../../../styles/colors';

.highlight {
  color: $button-highlight;
}

.notification-item {

  position: relative;
  width: 100%;
  border-bottom: 1px solid $lighter-grey;

  color: $subtle-grey;

  &:hover .text-preview .prompt {
    color: $button-highlight;
  }

  .seen {
    background-color: $item-highlight;
  }

  .content {

    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;

    .image-preview {

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
      overflow: hidden;

      img {

        max-width: 100px;
        max-height: 100px;

      }

      .image-blur {
        cursor:  pointer;
        opacity: 0.4;
        -webkit-transition: .3s ease-in-out;
        transition: .2s ease-in-out;
        filter: blur(3px);	
        -webkit-filter: blur(3px);
      }

      .image-blur-text  {

        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: $background-grey;
        padding: 5px 5px;
      
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      
        .icon {
          font-size: 16px;
          color: $button-highlight;
        }
      
      }

      .no-image-preview {
        font-size: 20px;
        color: $subtle-grey;
      }

    }

    .text-preview {

      flex: 1;
      padding: 0px 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;

      .prompt {

        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;

        .username {

        }

      }

      .text {

        font-size: 14px;
        color: $subtle-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;

      }

    }

    .date {
      display: flex;
      align-items: center;
      font-size: 10px;
      color: $subtle-grey;
    }

  }

}

.delete {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 14px;
  color: $subtle-grey;
  cursor: pointer;
  &:hover {
    color: $error-red;
  }
}
