<spot-image *ngIf="expandImage" [imageSrc]="reply.image_src" (closeEvent)="setExpandImageFalse()"></spot-image>
<div class="container">
  <div class="reply">
    <div class="left-bar">
      <div class="left-bar-alignment">
        <div class="column">
          <i class="material-icons vote" (click)="like()" [ngClass]="{'highlight': reply.rated == 1}"> keyboard_arrow_up </i>
          <div class="points"> {{ reply.likes - reply.dislikes }} </div>
          <i class="material-icons vote" (click)="dislike()" [ngClass]="{'highlight': reply.rated == 0}"> keyboard_arrow_down </i>
        </div>
        <div [class]="getProfilePictureClass(reply.profilePicture)"> {{ getProfilePictureSymbol(reply.profilePicture) }} </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        {{ getContent() }}
        <div class="image" (click)="setExpandImageTrue()" *ngIf="reply.image_src != null">
          <img [src]="reply.image_src" />
        </div>
        <span *ngIf="expandable()">
          <span *ngIf="!expanded; else notExpanded">
            <span class="expand" (click)="setExpanded(true)"> {{ STRINGS.SEE_MORE }} </span>
          </span>
          <ng-template #notExpanded>
              <span class="expand" (click)="setExpanded(false)"> {{ STRINGS.SEE_LESS }} </span>
          </ng-template>
        </span>
      </div>
      <div [hidden]="!showAddReply" class="add">
        <div class="editor">
          <div contenteditable="true" attr.ph="{{STRINGS.ADD_REPLY_PLACEHOLDER}}" id="reply2-content" spellcheck="false"></div>
          <div class="image" *ngIf="imgSrc != null">
            <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
          </div>
          <div class="file-options" *ngIf="imgSrc != null">
            <span class="file-title"> {{ STRINGS.FILE_TITLE }} </span>
            <span class="file-name"> {{ getDisplayFilename(imageFile.name) }} </span>
            <span class="file-remove" (click)="removeFile()">
              <i class="material-icons"> delete </i>
            </span>
          </div>
          <div class="comment-options">
            <span class="counter" [ngClass]="{'counter-error': invalidLength() }"> {{ MAX_REPLY_LENGTH - currentLength }} </span>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            <i class="material-icons photo" (click)="fileInput.click()"> insert_photo </i>
            <span class="send" (click)="addReply()">
              <i class="material-icons"> send </i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <div #options class="dropdown align-bottom" (click)="setOptions(true)">
        <i class="material-icons icon-size"> more_horiz </i>
        <div  class="dropdown-content" [ngClass]="{'show': optionsEnabled }">
          <div *ngIf="reply.owned" class="button" (click)="deleteReply()"> {{ STRINGS.DELETE }} </div>
          <div class="button"> {{ STRINGS.REPORT }} </div>
        </div>
      </div>
      <div class="time">
        {{ timeMessage }}
      </div>
      <div class="reply-icon" (click)="setShowAddReply(true)">
        <i class="material-icons"> reply </i>
      </div>
    </div>
  </div>
</div>
