<div class="margin-v-md margin-l-xl">
  <div class="row" [class.linked]="spot.startCommentLink === reply.link">
    <!-- profile picture -->
    <div
      class="profile-comment margin-r-md"
      [class.owned]="reply.owned"
      [ngClass]="
        reply.profilePictureNum == -1
          ? 'profile-op'
          : 'profile-' + reply.profilePictureNum
      "
    >
      <img [src]="'/assets/images/profile/' + reply.profilePictureSrc" />
    </div>

    <!-- content -->
    <div class="col full-width">
      <!-- Top bar -->
      <div class="header row-h-center justify-content-between">
        <!-- like/dislike -->
        <div class="row-h-center">
          <span
            class="material-icons icon-sm icon-primary-highlight margin-r-xs"
            (click)="like()"
            [class.icon-primary]="reply.myRating === eCommentRatingType.LIKE"
          >
            keyboard_arrow_up
          </span>
          <div class="points">{{ reply.likes - reply.dislikes }}</div>
          <span
            class="material-icons icon-sm icon-primary-highlight margin-l-xs"
            (click)="dislike()"
            [class.icon-error]="reply.myRating === eCommentRatingType.DISLIKE"
          >
            keyboard_arrow_down
          </span>
        </div>

        <!-- right -->
        <div class="row-h-center">
          <!-- time -->
          <div class="text-sm text-secondary margin-r-md">
            {{ timeMessage }}
          </div>

          <!-- Add reply, hide if not auth/verify or not in range -->
          <!-- You can tag if not in range only if you were tagged -->
          <div
            class="reply margin-r-md margin-t-sm"
            (click)="toggleShowAddReply()"
            [ngClass]="{
              disabled: !(
                location &&
                (comment.tag.tagged ||
                  tagged ||
                  (spot.inRange && isAuthenticated && isVerified))
              )
            }"
          >
            <span class="material-icons icon-md icon-secondary-highlight">
              reply
            </span>
          </div>

          <!-- Dropdown -->
          <div #options class="relative">
            <span
              class="material-icons icon-md icon-primary-highlight margin-t-sm"
              (click)="toggleDropdown()"
            >
              more_horiz
            </span>
            <div class="dropdown align-bottom">
              <div
                class="dropdown-content"
                [class.show-dropdown]="showDropdown"
              >
                <!-- Report -->
                <div class="dropdown-button" (click)="openReportModal()">
                  <span class="material-icons icon"> outlined_flag </span>
                  <span class="margin-l-sm">
                    {{ 'MAIN.COMMENTS.REPORT' | translate }}
                  </span>
                </div>
                <!-- Share -->
                <div class="dropdown-button" (click)="openShareModal()">
                  <span class="material-icons icon"> share </span>
                  <span class="margin-l-sm">
                    {{ 'MAIN.COMMENTS.SHARE' | translate }}
                  </span>
                </div>
                <!-- If you own or have excalated privilege you can delete -->
                <div
                  *ngIf="
                    reply.owned ||
                    user.role === eUserRole.ADMIN ||
                    user.role === eUserRole.GUEST
                  "
                  class="dropdown-button"
                  (click)="deleteComment()"
                >
                  <span class="material-icons icon"> delete </span>
                  <span class="margin-l-sm">
                    {{ 'MAIN.COMMENTS.DELETE' | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="overflow-hidden flex-fill">
        <div class="row">
          <!-- show who tagged you -->
          <div class="tagger" *ngIf="reply.tag.tagged">
            <span class="highlight"> {{ reply.tag.tagger }} </span>
            {{ 'MAIN.REPLY.TAGGER' | translate }}
          </div>

          <!-- text -->
          <div class="text">
            <span #content class="text-content"></span>
            <span *ngIf="isExpandable">
              <span *ngIf="expanded; else notExpanded">
                <span
                  class="text-secondary-highlight"
                  (click)="toggleExapnded()"
                >
                  {{ 'MAIN.REPLY.SEE_LESS' | translate }}
                </span>
              </span>
              <ng-template #notExpanded>
                <span
                  class="text-secondary-highlight"
                  (click)="toggleExpanded()"
                >
                  {{ 'MAIN.REPLY.SEE_MORE' | translate }}
                </span>
              </ng-template>
            </span>
          </div>

          <!-- Image -->
          <div *ngIf="reply.imageSrc" (click)="imageClicked()" class="image">
            <img
              [src]="reply.imageSrc"
              [class.image-blur]="imageBlurred && userMetadata.matureFilter"
            />
            <div
              *ngIf="imageBlurred && userMetadata.matureFilter"
              class="image-blur-text"
            >
              <span class="material-icons icon"> error_outline </span>
              <span class="text">
                {{ 'MAIN.COMMENTS.MATURE_CONTENT' | translate }}
              </span>
              <span class="text highlight">
                {{ 'MAIN.COMMENTS.MATURE_CONTENT_SHOW' | translate }}
              </span>
            </div>
          </div>
        </div>

        <!-- Add reply -->
        <div
          [hidden]="!showAddReply"
          class="row-center margin-b-md margin-r-md margin-t-md"
        >
          <div class="comment-editor">
            <span
              #reply2
              contenteditable="true"
              attr.ph="{{ 'MAIN.REPLY.ADD_REPLY_PLACEHOLDER' | translate }}"
              class="comment-content"
              (input)="onTextInput($event)"
              (keydown.enter)="onEnter()"
            ></span>

            <!-- Image -->
            <div class="image" *ngIf="imgSrc !== null">
              <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
            </div>

            <!-- Image Options -->
            <div class="row-h-center flex-fill" *ngIf="imgSrc !== null">
              <span class="margin-h-md">
                {{ 'MAIN.REPLY.FILE_TITLE' | translate }}
              </span>
              <span class="file-name">
                {{ getDisplayFilename(imageFile.name) }}
              </span>
              <span class="material-icons icon-close" (click)="removeFile()">
                delete
              </span>
            </div>

            <!-- Options -->
            <div class="align-right row-h-center margin-h-md">
              <span
                class="text-secondary margin-r-sm"
                [class.text-error]="
                  currentLength > COMMENT_CONSTANTS.MAX_CONTENT_LENGTH
                "
              >
                {{ COMMENT_CONSTANTS.MAX_CONTENT_LENGTH - currentLength }}
              </span>
              <input
                style="display: none"
                type="file"
                (change)="onFileChanged($event)"
                #fileInput
              />
              <span
                class="material-icons icon-secondary-highlight margin-r-sm"
                (click)="fileInput.click()"
              >
                insert_photo
              </span>
              <span class="row-center" *ngIf="addReply2Loading; else send">
                <spot-spinner size="small" light="true"> </spot-spinner>
              </span>
              <ng-template #send>
                <span
                  class="material-icons icon-secondary-highlight"
                  (click)="addReply()"
                >
                  send
                </span>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="text-error" *ngIf="addReply2Error">
          {{ addReply2Error }}
        </div>
      </div>
    </div>
  </div>

  <!-- Floating tag -->
  <span #tagContainer class="tag-relative">
    <spot-tag
      #tag
      *ngIf="showTag"
      [username]="tagName"
      (tag)="addTag($event)"
    ></spot-tag>
  </span>
</div>
