<div class="container">
  <div class="reply">
    <div class="left-bar">
      <div class="column">
        <i class="material-icons vote" (click)="like()" [ngClass]="{'highlight': reply.rated == 1}"> keyboard_arrow_up </i>
        <div class="points"> {{ reply.likes - reply.dislikes }} </div>
        <i class="material-icons vote" (click)="dislike()" [ngClass]="{'highlight': reply.rated == 0}"> keyboard_arrow_down </i>
      </div>
      <div class="profile"> {{ getProfilePicture(reply.profilePicture) }} </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        {{ reply.content }}
      </div>
      <div *ngIf="showAddReply" class="add">
        <form [formGroup]="form">
          <fieldset>
            <div class="form-field">
              <input autocomplete="off" name="comment" formControlName="comment" [placeholder]="STRINGS.ADD_REPLY_PLACEHOLDER" required>
            </div>
          </fieldset>
        </form>
        <div class="send" (click)="addReply()">
          <i class="material-icons"> send </i>
        </div>
      </div>
    </div>
    <div class="right-bar">
      <div #options class="dropdown align-bottom" (click)="setOptions(true)">
        <i class="material-icons icon-size"> more_horiz </i>
        <div  class="dropdown-content" [ngClass]="{'show': optionsEnabled }">
          <div class="button" (click)="deleteReply()"> {{ STRINGS.DELETE }} </div>
          <div class="button"> {{ STRINGS.REPORT }} </div>
        </div>
      </div>
      <div class="time">
        {{ timeMessage }}
      </div>
      <div class="reply-icon" (click)="setShowAddReply(true)">
        <i class="material-icons"> reply </i>
      </div>
    </div>
  </div>
</div>
