@import '../../../../styles/colors';


// Comment
.reply {
  display: flex;
}

// Content
.content-wrapper {
  width: 100%;
}

.content {
  margin-top: 15px;
}

.content-tag-container{

  display: flex;
  align-items: center;

  .tag-name-container {
    display: flex;
  }

  .tag {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px;
    margin-right: 3px;
    background-color: $lighter-grey;

    .person {
      color: $subtle-grey;
      font-size: 20px;
    }

  }

}

.tag-container {

  display: flex;
  justify-content: center;
  align-items: center;

  .tag {
    padding: 3px;
    margin: 1px 2px;
    background-color: $lighter-grey;
  }

  .tag-close {

    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: $error-red;
    }

  }

}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.highlight {
  color: $button-highlight;
}

.expand {
  flex: 1;
  text-align: center;
  color: $subtle-grey;
  cursor: pointer;
  &:hover {
      @extend .highlight;
  }
}

// left bar
.left-bar {
  margin-left: 45px;
  width: 50px;
  margin-right: 8px;
}

.left-bar-alignment {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 3px;
}

.vote {
    cursor: pointer;
    font-size: 16px;
    &:hover {
      @extend .highlight;
    }
}

.profile {
  position: relative;
  margin-top: 3px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-owned {

  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  box-shadow:  0 0 0 2px white, 0 0 0 5px $button-highlight;

}

// right-bar
.right-bar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
}

.reply-icon {
  cursor: pointer;
  color: $subtle-grey;
  visibility: hidden;
  &:hover {
    @extend .highlight;
  }
}

.reply:hover .reply-icon {
  visibility: visible;
}

.time {
  font-size: 12px;
  color: $subtle-grey;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply:hover .icon-size {
  visibility: visible;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  top: 5px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .button:hover {background-color: #ddd}

.show {
  display:block;
}

.icon-size {
  cursor: pointer;
  visibility: hidden;
  font-size: 20px;
  &:hover {
    @extend .highlight;
  }
}

// Add reply form

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

[hidden] {
  display: none !important;
}

.send {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $subtle-grey;
  &:hover {
    @extend .highlight;
  }
}

.photo {
  cursor: pointer;
  color: $subtle-grey;
  margin-right: 3px;
  &:hover {
    @extend .highlight;
  }
}

.counter {
  color: $subtle-grey;
  margin-right: 3px;
}

.counter-error {
  color: $error-red;
}

.editor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $subtle-grey;
  margin: 5px 0px;
}

.reply2-content {
  flex-grow: 1;
  padding: 6px 6px;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.image {
  display: flex;
  justify-content: center;
  padding: 6px 12px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 500px;
}

img {
  max-width: 100%;
  max-height: 500px;
}

// include a placeholder
[contentEditable=true]:empty:not(:focus):before{
  content:attr(ph);
  color: $subtle-grey;
  font-style: italic;
  cursor: text;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.comment-options {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.file-options {
  flex: 1;
  display: flex;
  align-items: center;
}

.file-title {
  margin-right: 5px;
  margin-left: 5px;
}

.file-remove {
  color: $subtle-grey;
  cursor: pointer;
  &:hover {
    color: $error-red;
  }
}

// replies

.load-more {
  display: flex;
  justify-content: center;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

// Profile picture color styles
.pop {
  background-color: $profileop;
}

.p0 {
  background-color: $profile0;
}

.p1 {
  background-color: $profile1;
}

.p2 {
  background-color: $profile2;
}

.p3 {
  background-color: $profile3;
}

.p4 {
  background-color: $profile4;
}

.p5 {
  background-color: $profile5;
}

.p6 {
  background-color: $profile6;
}

.p7 {
  background-color: $profile7;
}

.p8 {
  background-color: $profile8;
}

.p9 {
  background-color: $profile9;
}

.p10 {
  background-color: $profile10;
}

.p11 {
  background-color: $profile11;
}

.p12 {
  background-color: $profile12;
}

.p13 {
  background-color: $profile13;
}
