<div class="modal-header" (click)="close()">
  <span class="material-icons icon-error"> close </span>
</div>
<div class="chat-modal background-container">
  <!-- Show the chat or show the menu -->
  <div
    *ngIf="chatPageOpenChat; else menu"
    class="chat-room-container col-h-center"
  >
    <!-- Chat Header -->
    <div
      class="background-header row-h-center padding-sm"
    >
      <div class="row-h-center">
        <span
          class="material-icons icon-md icon-primary"
          (click)="backToMenu()"
        >
          arrow_back
        </span>

        <!-- Chat photo-->
        <span
          class="profile-sm margin-h-md"
          [ngClass]="
            chatPageOpenChat.imageSrc
              ? ''
              : 'chat-' + chatPageOpenChat.defaultImageNum
          "
        >
          <img *ngIf="chatPageOpenChat.imageSrc" [src]="tab.imageSrc" />
          <img
            *ngIf="!chatPageOpenChat.imageSrc"
            [src]="'/assets/images/chat/' + chatPageOpenChat.defaultImageSrc"
          />
        </span>

        <!-- Name and location with distance -->
        <div class="line-height col-h-center margin-r-md">
          <span class="text-md"> {{ chatPageOpenChat.name }}</span>
          <div class="row-h-center">
            <span class="material-icons icon-xs icon-primary">
              location_on
            </span>
            <span class="text-xs">
              {{ chatPageOpenChat.geolocation }} ({{
                getDistance(chatPageOpenChat.distance)
              }})</span
            >
          </div>
        </div>

        <!-- Settings Dropdown -->
        <div class="relative">
          <button
            #settings
            class="header-button margin-l-md"
            (click)="toggleDropdown()"
          >
            <span class="material-icons icon-md icon-primary"
              >settings</span
            >
          </button>
          <div class="dropdown-content" [class.show-dropdown]="showDropdown">
            <div class="dropdown-button" (click)="leaveChatRoom()">
              <span class="material-icons icon-lg margin-r-md">
                directions_run
              </span>
              {{ 'MAIN.CHAT_TAB.LEAVE' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The chat -->
    <spot-chat-room
      [chatRoom]="chatPageOpenChat"
      [isTab]="false"
    ></spot-chat-room>
  </div>
  <ng-template #menu>
    <spot-chat-page-menu
      (chatSelectedEvent)="openChat($event)"
    ></spot-chat-page-menu>
  </ng-template>
</div>
