<div class="modal-header" (click)="close()">
  <span class="material-icons icon-error"> close </span>
</div>
<div class="chat-modal background-container">
  <!-- Show the chat or show the menu -->
  <div
    *ngIf="chatPageOpenChat; else menu"
    class="chat-room-container col-h-center"
  >
    <!-- Chat Header -->
    <div
      class="chat-header background-header row-h-center justify-content-between padding-sm"
    >
      <div class="row-h-center">
        <span
          class="material-icons icon-md icon-primary"
          (click)="backToMenu()"
        >
          arrow_back
        </span>
        <div class="col-h-center margin-l-md">
          <span class="text-sm"> {{ chatPageOpenChat.name }}</span>
          <div class="">
            <span class="text-xs"> {{ chatPageOpenChat.geolocation }}</span>
            <span class="text-xs">
              ({{ getDistance(chatPageOpenChat.distance) }})</span
            >
          </div>
        </div>
      </div>
      <div class="row-h-center header-right">
        <span class="material-icons icon-secondary icon-md"> person </span>
        <span class="text-md margin-l-xs margin-r-md">
          {{ chatPageOpenChat.numUsers }}</span
        >
        <span class="material-icons icon-primary icon-md"> settings </span>
      </div>
    </div>

    <!-- The chat -->
    <spot-chat-room
      [chatRoom]="chatPageOpenChat"
      [isTab]="false"
    ></spot-chat-room>
  </div>
  <ng-template #menu>
    <spot-chat-page-menu
      (chatSelectedEvent)="openChat($event)"
    ></spot-chat-page-menu>
  </ng-template>
</div>
