<div class="modal-close" (click)="close()">
  <span class="material-icons icon-error"> close </span>
</div>
<div class="chat-modal background-container">
  <!-- Show the chat or show the menu -->
  <div
    *ngIf="chatPageOpenChat; else menu"
    class="chat-room-container col-h-center"
  >
    <!-- Chat Header -->
    <div
      class="background-header row-h-center justify-content-between padding-sm"
    >
      <!-- Left -->
      <div class="row-h-center">
        <span
          class="material-icons icon-md icon-primary"
          (click)="backToMenu()"
        >
          arrow_back
        </span>

        <!-- Chat photo-->
        <span
          class="profile-sm margin-h-md"
          *ngIf="chatPageOpenChat.type == eChatType.ROOM"
          [ngClass]="
            chatPageOpenChat.data.imageSrc
              ? ''
              : 'chat-' + chatPageOpenChat.data.defaultImageNum
          "
        >
          <img
            *ngIf="chatPageOpenChat.data.imageSrc"
            [src]="chatPageOpenChat.data.imageSrc"
          />
          <img
            *ngIf="!chatPageOpenChat.data.imageSrc"
            [src]="
              '/assets/images/chat/' + chatPageOpenChat.data.defaultImageSrc
            "
          />
        </span>
        <span
          class="profile-sm margin-h-md"
          *ngIf="chatPageOpenChat.type == eChatType.FRIEND"
        >
          <img
            *ngIf="chatPageOpenChat.data.profilePictureSrc"
            [src]="chatPageOpenChat.data.profilePictureSrc"
          />
          <div *ngIf="!chatPageOpenChat.data.profilePictureSrc">
            {{ getMinimizedName(mchat.data.username) }}
          </div>
        </span>

        <!-- Name and location with distance -->
        <div *ngIf="chatPageOpenChat.type == eChatType.ROOM" class="line-height col-h-center margin-r-md">
          <span class="text-md">
            {{ chatPageOpenChat.data.name }}</span
          >
          <div class="row-h-center">
            <span class="material-icons icon-xs icon-primary">
              location_on
            </span>
            <span class="text-xs">
              {{ chatPageOpenChat.data.geolocation }} ({{
                getDistance(chatPageOpenChat.data.distance)
              }})</span
            >
          </div>
        </div>
      </div>

      <!-- right -->
      <div *ngIf="chatPageOpenChat.type == eChatType.ROOM" class="row-h-center right-margin">
        <!-- Settings Dropdown -->
        <div class="relative">
          <button
            #settings
            class="header-button margin-l-md"
            (click)="toggleDropdown()"
          >
            <span class="material-icons icon-md icon-primary">settings</span>
          </button>
          <div class="dropdown-content" [class.show-dropdown]="showDropdown">
            <div class="dropdown-button" (click)="leaveChatRoom()">
              <span class="material-icons icon-lg margin-r-md">
                directions_run
              </span>
              {{ 'MAIN.CHAT_TAB.LEAVE' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The chat -->
    <spot-chat-room
      *ngIf="chatPageOpenChat.type == eChatType.ROOM"
      [chatRoom]="chatPageOpenChat.data"
      [isTab]="false"
    ></spot-chat-room>
    <spot-chat-friend
      *ngIf="chatPageOpenChat.type == eChatType.FRIEND"
      [chatFriend]="chatPageOpenChat.data"
      [isTab]="false"
    ></spot-chat-friend>
  </div>
  <ng-template #menu>
    <spot-chat-page-menu
      (chatSelectedEvent)="openChat($event)"
    ></spot-chat-page-menu>
  </ng-template>
</div>
