@import '../../../styles/sizes';

.nav {
  height: 50px;
  background-color: var(--background-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.highlight {
  color: var(--primary);
}

.title-link {
  display: flex;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.title-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../../../../assets/images/logo_v7_transparent.png');
  background-size: cover;
  height: 42px;
  width: 100px;
  margin-right: 185px;
  cursor: pointer;
}

.login {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

// FEATURES

.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 15px;
}

.hot {
  color: var(--error-light);
  margin-right: 3px;
}

.notifications {
  position: relative;
  display: flex;
  font-size: 18px;
  color: var(--icon-primary);
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.unread {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: -5px;
  font-size: 9px;
  color: white;
  background-color: var(--primary);
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: var(--icon-primary);
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.icon {
  margin-right: 5px;
}

.username {
  font-size: 14px;
}

// DROPDOWN

.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  top: 35px;
  right: 0;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.dropdown-content .button {
  background-color: var(--background-container);
  color: var(--text-primary);
  padding: 12px 8px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--background-primary);

  &:hover {
    background: var(--background-primary);
    color: var(--primary);
  }

  .icon {
    margin-right: 6px;
  }
}

.show {
  display: block;
}

// Mobile stylings

// Special nav only
@media screen and (max-width: 950px) {
  .username {
    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (max-width: 700px) {
  .score {
    display: none;
  }
}

@media screen and (max-width: $mobile-width) {
  .score {
    display: none;
  }
  .username {
    display: none;
  }
}
