@import '../../../styles/colors';
@import '../../../styles/sizes';

.nav {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
}

.highlight {
  color: $button-highlight;
}

.title-image {
  height: 42px;
  margin-right: 35px;
  cursor: pointer;
}

.title {
    font-size: 35px;
    cursor: pointer;
    &:hover {
      @extend .highlight;
    }
}

.login {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

// FEATURES

.features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 12px;
}

.hot {
    color: $error-red;
    margin-right: 3px;
}

.notifications {
  position: relative;
    display: flex;
    font-size: 18px;
    color: $subtle-grey;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      @extend .highlight;
    }
}

.unread {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: -5px;
  font-size: 11px;
  color: white;
  background-color: $error-red;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    color: $subtle-grey;
    cursor: pointer;
    &:hover {
      @extend .highlight;
    }
}

.icon {
  margin-right: 5px;
}

.username {
  font-size: 14px;
}

.account:hover .username {
  text-decoration: underline;
}

// DROPDOWN

.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    top: 35px;
    right: 0;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
}

.dropdown-content .button {

    background-color: #efefef;
    color: black;
    padding: 12px 8px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $lighter-grey;

    &:hover {
      background: $lighter-grey;
      color: $button-highlight;
    }

    .icon {
      margin-right: 6px;
    }

}

.show {
    display: block;
}

// Mobile stylings

// Special nav only
@media screen and (max-width: 800px) {

  .username {
    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

@media screen and (max-width: $mobile-width) {

  .score {
    display: none;
  }
  .username {
    display: none;
  }

}
