<div class="nav">
  <span class="title" (click)="navigateHome()"> {{ STRINGS.TITLE }} </span>
  <div *ngIf="account$ | async as myaccount" class="features">
    <div class="score">
      <i class="material-icons hot"> whatshot </i>
      <span> {{ myaccount.score }} </span>
    </div>
    <div class="notifications" #notifications>
      <i class="material-icons" (click)="toggleNotifications()"> notifications_none </i>
      <spot-notifications *ngIf="showNotifications"></spot-notifications>
    </div>
    <div #account class="account" (click)="accountSetDropdown(true)">
      <i class="material-icons icon"> person_outline </i>
      <span class="username"> {{ myaccount.username }} </span>
      <div class="dropdown-content" [ngClass]="{'show': accountShowDropdown }">
        <div class="button" (click)="navigateAccount()"> Account </div>
        <div class="button" (click)="logout()"> Logout </div>
      </div>
    </div>
  </div>
</div>
