<div class="nav">
  <span class="title" (click)="navigateHome()"> {{ STRINGS.TITLE }} </span>
  <div class="features">
    <div class="score">
      <i class="material-icons hot"> whatshot </i>
      <span> 4849238429 </span>
    </div>
    <div class="notifications">
      <i class="material-icons"> notifications_none </i>
    </div>
    <div #account class="account" (click)="accountSetDropdown(true)">
      <i class="material-icons"> person_outline </i>
      <div class="dropdown-content" [ngClass]="{'show': accountShowDropdown }">
        <div class="button" (click)="navigateAccount()"> Account </div>
        <div class="button" (click)="logout()"> Logout </div>
      </div>
    </div>
  </div>
</div>
