.nav {
  height: 50px;
  background-color: var(--background-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.spot-logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../../../../assets/images/logo_v7_transparent.png');
  background-size: cover;
  height: 42px;
  width: 100px;
  margin-right: 185px;
  cursor: pointer;
}

.unread {
  position: absolute;
  top: 14px;
  right: -5px;
  font-size: 9px;
  color: white;
  background-color: var(--primary);
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

// DROPDOWN
.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  top: 35px;
  right: 0;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.dropdown-content .dropdown-button {
  background-color: var(--background-container);
  color: var(--text-primary);
  padding: 12px 8px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--background-primary);

  &:hover {
    background: var(--background-primary);
    color: var(--primary);

    span {
      color: var(--primary);
    }
  }
}

.show-dropdown {
  display: block;
}
