@import '../../../styles/colors';
@import '../../../styles/sizes';

.password-reset {

  display: flex;
  flex-flow: column;
  align-items: center;

  padding-top: 100px;

  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .description {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 300px;

    .text {
      font-size: 16px;
      text-align: center;
      color: $subtle-grey;
    }

    .icon {
      font-size: 42px;
      color: $button-highlight;
    }

  }

  form {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    .form-group {

      position: relative;

      .loading {
        position: absolute;
        top: 9px;
        right: 10px;
        z-index: 100;
      }

      input {
        width: 300px;
        box-sizing: border-box;
        padding: 7px;
        outline: 0;
      }

      input.ng-dirty.ng-invalid {
        border: 1px solid $error-red;
      }

      margin-bottom: 10px;

    }

    button {

      background: none;
      outline: none;
      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      padding: 12px;
      background-color: $button-black;
      color: white;
      margin-bottom: 10px;

      &:hover {
        background-color: lighten($button-black, 10%);
      }

    }

    .error-message {
      text-align: center;
      color: $error-red;
      padding-bottom: 10px;
    }

    .success-message {
      text-align: center;
      color: $success-green;
      padding-bottom: 10px;
    }

  }

}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .password-reset {
    padding-top: 10px;
  }

}

@media screen and (max-height: 800px) {

  .password-reset {
    padding-top: 10px;
  }

}
