.password-reset {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-page);
  box-sizing: border-box;
  min-height: calc(100% - 84px);
}

.container {
  max-width: 600px;
  margin-bottom: 50px;
  z-index: 9;
}

.form-text-error {
  max-width: 300px;
}

