<spot-nav></spot-nav>
<div class="password-reset">
  <div class="container">
    <div class="title">{{ 'PRE_AUTH.PASSWORD_RESET.TITLE' | translate }}</div>

    <div class="description">
      <i class="material-icons icon"> email </i>
      <span class="text"> {{ 'PRE_AUTH.PASSWORD_RESET.DESCRIPTION' | translate }} </span>
    </div>

    <form [formGroup]="form" (keyup.enter)="requestReset()">
      <div class="form-group">
        <input
          type="text"
          name="email"
          formControlName="email"
          placeholder="{{ 'PRE_AUTH.PASSWORD_RESET.EMAIL_PLACEHOLDER' | translate }}"
          required
        />
        <div *ngIf="emailLoading" class="loading">
          <spot-spinner size="small"></spot-spinner>
        </div>
      </div>

      <div class="error-message">{{ errorMessage }}</div>

      <div class="success-message">{{ successMessage }}</div>

      <button
        *ngIf="!successMessage"
        (click)="requestReset()"
        [ngClass]="{ disabled: buttonsDisabled }"
      >
        {{ 'PRE_AUTH.PASSWORD_RESET.REQUEST_RESET' | translate }}
      </button>
    </form>
  </div>
</div>
