<spot-nav></spot-nav>
<div class="password-reset">

  <div class="container">
    <div class="title"> {{ STRINGS.TITLE }} </div>

    <div class="description">
      <i class="material-icons icon"> email </i>
      <span class="text"> {{ STRINGS.DESCRIPTION }} </span>
    </div>

    <form [formGroup]="form" (keyup.enter)="requestReset()">

      <div class="form-group">
        <input type="text" name="email" formControlName="email" [placeholder]="STRINGS.EMAIL_PLACEHOLDER" required>
        <div *ngIf="emailLoading" class="loading">
          <spot-spinner size="small"></spot-spinner>
        </div>
      </div>

      <div class="error-message"> {{ errorMessage }} </div>

      <div class="success-message"> {{ successMessage }} </div>

      <button (click)="requestReset()"> {{ STRINGS.REQUEST_RESET }} </button>

    </form>
  </div>

</div>
