<div class="container">
  <div class="editor">
      <div contenteditable="true" attr.ph="{{STRINGS.CREATE_PLACEHOLDER}}" class="content" spellcheck="false"></div>
      <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)">
  </div>
  <div class="option-bar">
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
    <i class="material-icons photo" (click)="fileInput.click()"> insert_photo </i>
    <span class="submit" (click)="submit()"> {{ STRINGS.SUBMIT }} </span>
  </div>
</div>
