@import '../../../styles/colors';

.create {
  height: auto;
}

// EDITOR

.editor {
  background: white;
  max-height: 500px;
  overflow: auto;

  .content {
    display: block;
    padding: 12px 12px;
    border: 0;
    outline: 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  // include a placeholder
  [contenteditable='true']:empty:not(:focus):before {
    content: attr(ph);
    color: $subtle-grey;
    font-style: italic;
    cursor: text;
  }

  [contenteditable='true']:empty:focus:before {
    content: attr(ph);
    color: lighten($subtle-grey, 20%);
    font-style: italic;
    cursor: text;
  }
}

.create-error {
  display: flex;
  box-sizing: border-box;
  padding: 0px 12px;
  color: $error-red;
  background-color: white;
}

.image {
  display: flex;
  justify-content: center;
  padding: 6px 12px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 500px;
}

// OPTION BAR

.highlight {
  color: $button-highlight;
}

.option-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 12px;
  background-color: white;
}

.file-options {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% - 120px);

  .file-title {
    margin-right: 5px;
  }

  .file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $info-blue;
    flex: 1;
  }

  .file-remove {
    color: $subtle-grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    &:hover {
      color: $error-red;
    }
  }
}

.counter {
  color: $subtle-grey;
  margin-right: 7px;
}

.counter-error {
  color: $error-red;
}

.photo {
  cursor: pointer;
  color: $subtle-grey;
  margin-right: 7px;
  &:hover {
    @extend .highlight;
  }
}

.submit {
  font-size: 14px;
  color: $subtle-grey;
  cursor: pointer;
  min-width: 50px;
  &:hover {
    @extend .highlight;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
}
