<meta charset="UTF-8" />
<div
  *ngIf="
    user &&
      user.verifiedAt !== null &&
      user.role !== eUserRole.GUEST &&
      location;
    else hide
  "
  class="create"
>
  <!-- Editor -->
  <div class="editor container-t-rounded background-container">
    <span
      #create
      contenteditable="true"
      attr.ph="{{ 'MAIN.CREATE.CREATE_PLACEHOLDER' | translate }}"
      class="content padding-lg"
      (input)="onTextInput($event)"
    ></span>
    <div
      *ngIf="imgSrc !== null"
      class="row-v-center padding-h-lg padding-v-md border-box"
    >
      <img [src]="domSanitizer.bypassSecurityTrustUrl(imgSrc)" />
    </div>
  </div>

  <!-- Error message -->
  <span
    *ngIf="createError"
    class="row-h-center background-container border-box padding-h-lg text-error"
  >
    {{ createError }}
  </span>

  <!-- Options Bar -->
  <div
    class="row-h-center justify-content-between padding-lg background-container container-b-rounded"
  >
    <!-- File props -->
    <div class="file-options row-h-center flex-fill" *ngIf="imgSrc !== null">
      <span class="margin-r-md">
        {{ 'MAIN.CREATE.FILE_TITLE' | translate }}
      </span>
      <span class="file-name"> {{ imageFile.name }} </span>
      <span
        class="row-h-center text-secondary-highlight margin-r-lg"
        (click)="removeFile()"
      >
        <span class="material-icons icon-md icon-primary"> delete </span>
        {{ 'MAIN.CREATE.FILE_DELETE' | translate }}
      </span>
    </div>

    <!-- Counter, Upload and Submit -->
    <div class="row-h-center align-right">
      <input
        style="display: none"
        type="file"
        (change)="onFileChanged($event)"
        #fileInput
      />
      <span
        class="text-secondary margin-r-md"
        [class.text-error]="invalidLength()"
      >
        {{ SPOT_CONSTANTS.MAX_CONTENT_LENGTH - currentLength }}
      </span>
      <span
        class="material-icons icon-secondary-highlight margin-r-md"
        (click)="fileInput.click()"
      >
        insert_photo
      </span>
      <span
        class="button"
        [class.loading]="createLoading"
        (click)="submit()"
      >
        {{ 'MAIN.CREATE.SUBMIT' | translate }}
      </span>
    </div>
  </div>
</div>

<!-- All the reasons why create might be hidden -->
<!-- Priority is user -> guest -> verify -> location -->
<ng-template #hide>
  <!-- No user -->
  <div *ngIf="!user; else guest"></div>

  <!-- User is a guest -->
  <ng-template #guest>
    <div
      *ngIf="user.role === eUserRole.GUEST; else verify"
      class="col-center background-container container-rounded padding-xl"
    >
      <span class="material-icons icon-xl icon-primary"> account_circle </span>
      <div class="text-center">
        {{ 'MAIN.HOME.GUEST' | translate }}
      </div>
    </div>

    <!-- User is not verified -->
    <ng-template #verify>
      <div
        *ngIf="user.verifiedAt == null; else location"
        class="col-center background-container container-rounded padding-xl"
      >
        <span class="material-icons icon-xl icon-primary"> email </span>
        <div *ngIf="user.email; else email" class="col-center">
          <span class="text-center">
            {{ 'MAIN.CREATE.VERIFY' | translate }}
          </span>
          <div *ngIf="!verificationSent; else sent">
            <div
              class="text-secondary-highlight text-center"
              (click)="verifyUser()"
            >
              {{ 'MAIN.CREATE.VERIFY_SEND' | translate }}
            </div>
            <span class="text-sm">
              {{ user.email }} (
              <a
                class="text-secondary-highlight text-sm"
                [routerLink]="'/account'"
              >
                {{ 'MAIN.CREATE.CHANGE_EMAIL' | translate }}
              </a>
              )
            </span>
          </div>
          <ng-template #sent>
            <span class="text-sm">
              {{ 'MAIN.CREATE.VERIFY_SENT' | translate }}
              {{ user.email }}
            </span>
          </ng-template>
        </div>
        <ng-template #email>
          <span class="text-center">
            {{ 'MAIN.CREATE.NO_EMAIL' | translate }}
          </span>
          <a class="text-secondary-highlight text-sm" [routerLink]="'/account'">
            {{ 'MAIN.CREATE.ADD_EMAIL' | translate }}
          </a>
        </ng-template>
      </div>

      <!-- No location -->
      <ng-template #location>
        <div
          *ngIf="locationLoading; else loaded"
          class="col-center background-container container-rounded padding-xl"
        >
          <spot-spinner type="dot"></spot-spinner>
          <span class="margin-t-md">
            {{ 'MAIN.CREATE.LOCATION_LOADING' | translate }}
          </span>
        </div>
        <ng-template #loaded>
          <div
            class="col-center background-container container-rounded padding-xl"
          >
            <span class="material-icons icon-xl icon-primary">
              location_off
            </span>
            <span class="margin-t-md">
              {{ 'MAIN.CREATE.NO_LOCATION' | translate }}
            </span>
          </div>
        </ng-template>
      </ng-template>
    </ng-template>
  </ng-template>
</ng-template>
