@use '~sass-mq/mq';

// NAVIGATION
.nav {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-container);
  @include mq.mq($until: tablet) {
    justify-content: flex-start;
    padding: 10px 10px;
  }

  .auth-link {
    display: flex;
    margin-right: 35px;
    text-align: center;
    @include mq.mq($until: tablet) {
      margin-right: 0px;
    }
  }

  .title-link {
    display: flex;
    margin-right: 185px;
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    @include mq.mq($until: tablet) {
      margin-right: 115px;
      padding: 0px;
    }

    .title-image {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 150px;
      height: 65px;
      background-image: url('/assets/images/logo_v7_transparent.png');
      background-size: cover;

      @include mq.mq($until: tablet) {
        width: 98px;
        height: 42px;
        background-image: url('/assets/images/logo_v7_small.png');
      }
    }
  }
}

// Skewed sections
.skew {
  transform: skew(-20deg);
  @include mq.mq($until: tablet) {
    transform: skew(0);
  }
}

a {
  color: var(--text-secondary);
  text-decoration: none;
  margin-right: 35px;
  font-size: 16px;
  text-align: center;

  @include mq.mq($until: tablet) {
    padding: 0;
    margin-right: 12px;
  }
  &:hover {
    color: var(--primary);
  }

  .skew-fix {
    display: flex;
    align-items: center;
    transform: skew(20deg);
    @include mq.mq($until: tablet) {
      transform: skew(0);
    }
  }
}
.section {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--background-page);
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 20px;
  @include mq.mq($until: tablet) {
    border: none;
    margin: 0 10px;
    padding: 0;
    display: inline-block;
    height: auto;
  }
}
.start {
  border-left: 1px solid var(--background-page);
  @include mq.mq($until: tablet) {
    border: none;
  }
}
.end {
}
