<div class="nav">
  <span class="title" (click)="home()"> {{ STRINGS.TITLE }} </span>
  <span class="nav-button about" (click)="about()"> {{ STRINGS.ABOUT }} </span>
  <span class="nav-button careers"> {{ STRINGS.CAREERS }} </span>
  <span class="nav-button faq"> {{ STRINGS.FAQ }} </span>
  <span class="nav-button support"> {{ STRINGS.SUPPORT }} </span>
  <div class="mobile-links">
    <span class="mobile-download-text"> {{ STRINGS.MOBILE_DOWNLOAD }} </span>
    <img class="mobile-download-button" src="../../../../assets/images/google_play_badge.png">
    <img class="mobile-download-button" src="../../../../assets/images/app_store_badge.svg">
  </div>
</div>
