@import '../../../styles/colors';

// NAVIGATION

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.title {
    font-size: 35px;
    cursor: pointer;
    &:hover {
      color: $button-highlight;
    }
}

.nav-button {
    font-size: 16px;
    cursor: pointer;
    &:hover {
        color: $button-highlight;
    }
}

// MOBILE LINKS

.mobile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-download-text {
    font-size: 16px;
    margin-right: 10px;
}

.mobile-download-button {
    height: 40px;
    width: 120px;
}
