@import '../../../styles/colors';
@import '../../../styles/sizes';

// NAVIGATION

.nav {

  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  .title-image {
    height: 50px;
    margin-right: 35px;
    cursor: pointer;
  }

  .title {

    font-size: 35px;
    margin-right: 35px;
    cursor: pointer;
    &:hover {
      color: $button-highlight;
    }

  }

  button {

    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    margin-right: 35px;
    font-size: 16px;

    &:hover {
        color: $button-highlight;
    }

  }

  a {

    color: black;
    text-decoration: none;
    margin-right: 35px;
    font-size: 16px;

    &:hover {
      color: $button-highlight;
    }

  }

  .title-link {
    margin: 0;
  }

  .left {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}

// Mobile stylings
@media screen and (max-width: $mobile-width) {

  .nav {

    justify-content: space-between;
    padding: 10px 10px;

    .title-image {
      height: 42px;
      margin-right: 12px;
      cursor: pointer;
    }

    .title {
      margin-right: 12px;
    }

    button {
      margin-right: 5px;
    }

  }

}

// MOBILE LINKS

.mobile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-download-text {
    font-size: 16px;
    margin-right: 10px;
}

.mobile-download-button {
    height: 40px;
    width: 120px;
}
