<div class="nav">
  <img class="title-image" src="/assets/images/logo_v7_small.png" />
</div>
<div class="username">
  <div
    class="container col-center background-container container-shadow container-rounded border-box relative padding-xl margin-xl"
  >
    <span class="material-icons icon-xl icon-primary"> account_circle </span>
    <div class="title-md text-center">
      {{ 'MAIN.USERNAME.HEADING' | translate }}
    </div>

    <form
      [formGroup]="usernameForm"
      (keyup.enter)="continueToSpot()"
      autocomplete="off"
      class="form"
    >
      <fieldset class="fieldset">
        <!-- Username -->
        <div class="form-field">
          <input
            name="username"
            formControlName="username"
            class="input-border"
            autocomplete="off"
            placeholder="{{ 'MAIN.USERNAME.USERNAME_PLACEHOLDER' | translate }}"
            required
          />
        </div>
        <!-- Username errors -->
        <div
          *ngIf="username.invalid && username.dirty && username.touched"
          class="form-text-error full-width"
        >
          <div
            *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']"
          >
            {{ 'PRE_AUTH.LANDING.USERNAME_LENGTH' | translate }}
          </div>
          <div *ngIf="username.errors?.['forbiddenName']">
            {{ 'PRE_AUTH.LANDING.USERNAME_INVALID' | translate }}
          </div>
        </div>
      </fieldset>

      <!-- Terms-->
      <div class="col-center margin-t-md margin-b-lg text-center">
        <div class="row-v-center full-width">
          <label class="checkbox-container">
            <input
              name="terms"
              formControlName="terms"
              type="checkbox"
              required
            />
            <span class="checkmark"></span>
          </label>
          <span>
            {{ 'MAIN.USERNAME.TERMS_AND_CONDITIONS' | translate }}
          </span>
        </div>
        <div class="text-secondary-highlight" (click)="openTerms()">
          {{ 'MAIN.USERNAME.TERMS_AND_CONDITIONS_LINK' | translate }}
        </div>
      </div>
    </form>

    <div
      *ngIf="errorMessage"
      class="text-error text-sm text-center margin-b-lg"
    >
      {{ errorMessage }}
    </div>

    <div class="text-secondary text-center margin-b-md">
      {{ 'MAIN.USERNAME.DESCRIPTION' | translate }}
    </div>
    <button
      class="button"
      [class.button-loading]="usernameLoading"
      [class.button-disabled]="usernameLoading"
      (click)="continueToSpot()"
    >
      {{ 'MAIN.USERNAME.CONTINUE' | translate }}
    </button>
  </div>
</div>
