@import '../../../styles/colors';
@import '../../../styles/sizes';

.username {

  .nav {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .title-image {
      height: 42px;
    }

  }

  .heading {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
  }

  .container {
    padding: 100px 5px 5px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    font-size: 48px;
    color: $button-highlight;
  }

  input {
    width: 300px;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid $subtle-grey;
    margin-bottom: 10px;
    outline: none;
  }

  button {

    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-black;
    color: $button-font-white;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        background-color: lighten($button-black, 10%);
    }

  }

  .terms-and-conditions {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    flex-flow: column;

    .checkbox-text {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: $subtle-grey;
      &:hover {
        color: $button-highlight;
      }
    }

  }



  .description {
    margin-top: 10px;
    color: $subtle-grey;
    text-align: center;
  }

  .error {
    color: $error-red;
    margin-bottom: 10px;
    text-align: center;
  }

}

// Checkbox stuff

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid $subtle-grey;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid $button-highlight;
  background-color: $button-highlight;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// For Mobile
@media screen and (max-width: $mobile-width) {

  .username {

    .container {
      padding-top: 10px;
    }

  }

}

@media screen and (max-height: 800px) {

  .username {

    .container {
      padding-top: 10px;
    }

  }

}
