.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;

  .title-image {
    height: 42px;
  }
}

.username {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-page);
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.container {
  z-index: 9;
  max-width: 900px;
}

.form-text-error {
  max-width: 300px;
}
