@import '../../../styles/colors';
@import '../../../styles/sizes';

.nav {

  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;

  .title-image {
    height: 42px;
  }

}

.username {

  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $background-grey;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;

  .heading {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
  }

  .container {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 9;
    padding: 25px;
    margin: 25px;
    max-width: 900px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);

  }

  .icon {
    font-size: 48px;
    color: $button-highlight;
  }

  input {
    width: 300px;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid $subtle-grey;
    margin-bottom: 10px;
    outline: none;
  }

  button {

    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-black;
    color: $button-font-white;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        background-color: lighten($button-black, 10%);
    }

  }

  .terms-and-conditions {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    flex-flow: column;

    .checkbox-text {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    .text {
      cursor: pointer;
      color: $subtle-grey;
      &:hover {
        color: $button-highlight;
      }
    }

  }



  .description {
    margin-top: 10px;
    color: $subtle-grey;
    text-align: center;
  }

  .error {
    color: $error-red;
    margin-bottom: 10px;
    text-align: center;
  }

}

// Checkbox stuff

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid $subtle-grey;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid $button-highlight;
  background-color: $button-highlight;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// FOOTER

.footer {

  height: 230px;
  width: 100%;
  display: table;
  overflow: hidden;
  background-color: $background-grey;
  position: fixed;
  bottom: 0px;
  left: 0px;

  .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .inner-wave {
    position: absolute;
    bottom: -50px;
    left: 0px;
  }

}
