<div class="username">

  <div class="nav">
    <img class="title-image" src="../../../../assets/images/logo_v5.png">
  </div>

  <div class="container">

    <span class="material-icons icon"> account_circle </span>
    <div class="heading"> {{ STRINGS.HEADING }} </div>
    <input type="text" [placeholder]="STRINGS.USERNAME_PLACEHOLDER" [(ngModel)]="username">

    <div class="terms-and-conditions">
      <div>
        <input type="checkbox" [(ngModel)]="terms" />
        <span> {{ STRINGS.TERMS_AND_CONDITIONS }} </span>
      </div>
      <a [routerLink]="'/terms'"> {{ STRINGS.TERMS_AND_CONDITIONS_LINK }} </a>
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <button type="button" (click)="continueToSpot()"> {{ STRINGS.CONTINUE }} </button>
    <div class="description"> {{ STRINGS.DESCRIPTION }} </div>

  </div>

</div>
