<spot-nav></spot-nav>
<div class="contact background-page">
  <div
    class="container background-container container-rounded padding-xl margin-xl"
  >
    <div class="row-h-center">
      <div class="title-xl text-primary">Contact</div>
    </div>
    <div class="title-md">Email</div>
    <div class="text-secondary margin-b-md">spottables.app@gmail.com</div>
    <div class="title-md">Author</div>
    <div class="text-secondary margin-b-md">
      Spottables.com created by Kevin Leitch
    </div>
  </div>
</div>
<div class="copyright background-page">
  <span> &#169; {{ 'PRE_AUTH.ABOUT.COPYRIGHT' | translate }} </span>
</div>
