@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.contact {

  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $background-grey;
  padding-top: 84px;
  min-height: calc(100%);
  box-sizing: border-box;

  .container {

    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    padding: 25px;
    margin: 25px;
    max-width: 900px;

  }

  .heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $subtle-grey;
    margin-bottom: 10px;
  }

}

.copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .contact {

  }

}
