@import '../../../styles/colors';
@import '../../../styles/sizes';

.contact {

  display: flex;
  flex-flow: column;
  margin: 25px 50px;

  .heading {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .text {
    color: $subtle-grey;
    margin-bottom: 10px;
  }

}

.copyright {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .contact {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

}
