<spot-nav></spot-nav>
<div class="contact">
  <div
    class="container background-container container-rounded padding-xl margin-xl"
  >
    <div class="heading-wrapper">
      <div class="main heading">Contact</div>
    </div>
    <div class="text">Contact information for any questions or support</div>
    <div class="heading">Email</div>
    <div class="text">spottables.app@gmail.com</div>
    <div class="heading">Author</div>
    <div class="text">Spottables.com created by Kevin Leitch</div>
  </div>
</div>
<div class="copyright">
  <span> &#169; {{ 'PRE_AUTH.ABOUT.COPYRIGHT' | translate }} </span>
</div>
