<div class="col background-container container-rounded">
  <div
    class="row-h-center justify-content-between padding-md background-header full-width border-box container-t-rounded"
  >
    <div class="row-h-center">
      <span class="material-icons icon-primary icon-md"> share </span>
      <span class="margin-l-sm"> {{ 'MAIN.SHARE.TITLE' | translate }} </span>
    </div>
    <span class="material-icons icon-close" (click)="closeShare()">
      clear
    </span>
  </div>

  <!-- Social links -->
  <div class="row-h-center justify-content-between margin-lg">
    <div #social id="social" class="row-h-center">
      <div
        class="fb-share-button margin-r-md"
        attr.data-href="{{ link }}"
        data-layout="button_count"
        data-size="large"
      >
        <a
          target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore"
        >
          Share
        </a>
      </div>
      <!-- Twitter button generated here from the ts file -->
    </div>
    <span class="text-secondary-highlight" (click)="copyLink()">
      {{ 'MAIN.SHARE.COPY_LINK' | translate }}
    </span>
  </div>

  <!-- Search -->
  <div class="input-search-container margin-h-lg">
    <span class="material-icons icon-md icon-primary margin-r-xs">
      search
    </span>
    <input
      class="input-search"
      [(ngModel)]="username"
      (keyup.enter)="sendNotification()"
      placeholder="{{ 'MAIN.SHARE.USERNAME_PLACEHOLDER' | translate }}"
      type="text"
    />
  </div>

  <!-- status messages -->
  <div *ngIf="successMessage" class="text-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="text-error">
    {{ errorMessage }}
  </div>

  <div
    class="friend-container padding-lg"
    *ngIf="friends | filter: { filter: username, field: 'username' } as friends"
  >
    <!-- Friends list -->
    <div *ngIf="friends.length > 0; else noFriends">
      <div
        *ngFor="let friend of friends"
        class="row-h-center justify-content-between container-shadow container-rounded padding-md margin-v-md"
      >
        <div class="row-h-center">
          <div class="profile-sm row-center background-header">
            <img
              *ngIf="friend.profilePictureSrc; else noImage"
              [src]="friend.profilePictureSrc"
            />
            <ng-template #noImage>
              <span> {{ getDisplayName(friend.username) }}</span>
            </ng-template>
          </div>
          <span class="margin-l-md">
            {{ friend.username }}
          </span>
        </div>

        <button
          class="button-primary"
          [class.disabled-background]="friend.sent"
          [class.disabled]="friend.sent"
          (click)="
            sendNotificationToFriend(friend.username); friend.sent = true
          "
        >
          {{ 'MAIN.SHARE.SEND' | translate }}
        </button>
      </div>
    </div>

    <ng-template #noFriends>
      <div *ngIf="username; else addFriends">
        <div class="text-secondary text-center">
          {{ 'MAIN.SHARE.NO_FRIENDS_FOUND' | translate }}
        </div>
      </div>
      <ng-template #addFriends>
        <div class="text-secondary text-center">
          {{ 'MAIN.SHARE.NO_FRIENDS' | translate }}
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
