[hidden] {
  display: none !important;
}

.share {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: var(--background-container);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: var(--background-primary);
  width: 100%;
  border-bottom: 1px solid var(--background-secondary);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.title {
  color: black;
}

.close {
  display: flex;
  cursor: pointer;
  float: right;
  &:hover {
    color: var(--error);
  }
}

// social media

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  align-items: center;
}

.fb-share-button {
  margin-right: 5px;
  margin-left: 15px;
}

.copy {
  cursor: pointer;
  margin-right: 15px;
  color: var(--icon-secondary);
  &:hover {
    @extend .highlight;
  }
}

// username search

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  box-sizing: border-box;
  background-color: var(--background-primary);
  border-radius: 3px;
  margin: 0px 15px;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--background-primary);
}

.highlight {
  color: var(--primary);
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer;
  margin-right: 8px;
  color: var(--icon-secondary);
  &:hover {
    @extend .highlight;
  }
}

.error-message {
  color: var(--error);
  margin-left: 15px;
}

.success-message {
  color: var(--success);
  margin-left: 15px;
}

// friends

.friends-title {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

.share-friend-section {
  padding: 0px 15px;
  box-sizing: border-box;
  max-height: 280px;
  overflow: auto;
}

.share-friend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.share-friend-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 25px;
  color: white;
  cursor: pointer;
  background-color: var(--primary);
}

.share-friend-send:hover {
  background-color: var(--primary-highlight);
}

.share-friend-sent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 25px;
  color: white;
  background-color: var(--background-secondary);
}

.no-friends {
  color: var(--text-secondary);
  margin-bottom: 15px;
}

.login {
  color: var(--text-secondary);
  margin-bottom: 15px;
  margin-left: 15px;
}
