@import '../../../../styles/colors';

[hidden] { display: none !important;}

.share {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: $lighter-grey;
  width: 100%;
  border-bottom: 1px solid $subtle-grey;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.title {
  color: black;
  margin-bottom: 3px;
}

.close {
  display: flex;
  cursor: pointer;
  float: right;
  &:hover {
    color: $error-red;
  }
}

// social media

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  align-items: center;
}

.fb-share-button {
  margin-right: 5px;
  margin-left: 15px;
}

.copy {
  cursor: pointer;
  margin-right: 15px;
  &:hover {
    @extend .highlight;
  }
}

// username search

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  box-sizing: border-box;
  background-color: $lighter-grey;
  border-radius: 3px;
  margin: 0px 15px;
  margin-bottom: 5px;
}

input {
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: $lighter-grey;
}

.highlight {
  color: $button-highlight;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer;
  margin-right: 3px;
  &:hover {
    @extend .highlight;
  }
}

// friends

.friends-title {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

.share-friend-section {

  padding: 0px 15px;
  box-sizing: border-box;
  max-height: 250px;
  overflow: auto;
}

.share-friend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1);
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.share-friend-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 25px;
  color: white;
  cursor: pointer;
  background-color: $button-highlight;
}

.share-friend-send:hover {
  background-color: darken($button-highlight, 10%);
}

.share-friend-sent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 25px;
  color: white;
  background-color: $subtle-grey;
}

.no-friends {
  color: $subtle-grey;
  margin-bottom: 15px;
}

.login {
  color: $subtle-grey;
  margin-bottom: 15px;
  margin-left: 15px;
}
