<div class="background" (click)="closeShare()"></div>
<div class="share">
  <div class="header">
    <span class="title"> {{ STRINGS.TITLE }} </span>
    <span class="close" (click)="closeShare()"> x </span>
  </div>
  <div class="input-container">
    <input #usernameinput (input)="onUsernameInput($event)" [(ngModel)]="username" [placeholder]="STRINGS.USERNAME_PLACEHOLDER" type="text">
    <span (click)="sendNotification()"> <i class="material-icons send"> send </i> </span>
  </div>
  <div class="share-friend-section">
    <div class="share-friend-container" *ngFor="let friend of filteredFriendsList">
      {{ friend.username }}
      <div [hidden]="friend.sent" class="share-friend-send" (click)="sendNotificationToFriend(friend.username); friend.sent = true;">
        {{ STRINGS.SEND }}
      </div>
      <div [hidden]="!friend.sent" class="share-friend-sent">
        {{ STRINGS.SENT }}
      </div>
    </div>
  </div>
  <span class="copy" (click)="copyLink()"> {{ STRINGS.COPY_LINK }} </span>
</div>

