@import '../../../styles/colors';
@import '../../../styles/sizes';

.username {

  .nav {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .title {
      font-size: 35px;
      cursor: pointer;
    }

  }

  .heading {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
  }

  .container {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    font-size: 48px;
    color: $button-highlight;
  }

  input {
    width: 300px;
    padding: 6px 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid $subtle-grey;
    margin-bottom: 10px;
    outline: none;
  }

  button {

    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-black;
    color: $button-font-white;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        background-color: lighten($button-black, 10%);
    }

  }

  .description {
    margin-top: 10px;
    color: $subtle-grey;
    text-align: center;
  }

  .error {
    color: $error-red;
    margin-bottom: 10px;
  }

}

// For Mobile
@media screen and (max-width: $mobile-width) {

  .username {

    .container {
      margin-top: 25px;
    }

  }

}
