<div class="page">
    <input #box (keyup.enter)="addComment(box.value)" placeholder="Write a comment...">
    <div class="expand" (click)="expand()"> {{ getMessage() }} </div>
    <div class="comment-container" [ngClass]="{'more-selected': expanded }">
      <div *ngFor="let comment of comments$ | async">
        <div class="comment-header">
            <div class="time"> {{ getTime(comment.creation_date) }} </div>
            <div class="delete" (click)="deleteComment(comment.id)">
                <i class="material-icons clear"> clear </i>
            </div>
        </div>
        <div class="comment">
            {{ comment.content }}
        </div>
      </div>
    </div>
</div>
