@import '../../styles/colors';

input {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    border-radius: 10px;
    outline: none;
}

.comment {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin-top: 2px;
    margin-bottom: 6px;
    border-radius: 10px;
    box-sizing: border-box;
}

.comment-container {
    overflow: hidden;
    max-height: 70px;
}

.time {
    color: $description-color;
    font-size: 12px;
    margin-top: 3px;
}

.comment-header {
    display: flex;
}

.material-icons.clear {
    color: $description-color;
    font-size: 10px;
}

.delete {
    cursor: pointer;
    margin-left: auto;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: darken($background, 6%);
    }
}

.expand {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    background-color: $header-color;
    color: white;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    &:hover {
        background-color: lighten($header-color, 3%);
    }
}

.more-selected {
    height: auto;
    max-height: none;
}
