<spot-nav></spot-nav>
<div class="login">

  <div class="login-text">
    {{ STRINGS.COMMUNITY }}
  </div>

  <form [formGroup]="form">

    <fieldset>
      <div class="form-field">
          <input name="emailOrUsername" formControlName="emailOrUsername" [placeholder]="STRINGS.EMAIL_OR_USERNAME_PLACEHOLDER" required>
      </div>
      <div class="form-field">
          <input name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" type="password" required>
      </div>
    </fieldset>

    <div class="error-message">
      {{ errorMessage }}
    </div>
    <div class="form-buttons">
      <button type="button" (click)="signIn()"> {{ STRINGS.SIGN_IN }} </button>
    </div>
    <div class="forgot-password" (click)="forgotPassword()">
      <span> {{ STRINGS.FORGOT_PASSWORD }} </span>
    </div>
    <div class="sign-up-alternate">
      <span> {{ STRINGS.SIGN_UP_ALTERNATE }} </span>
    </div>

    <div class="login-options">
      <div type="button" class="facebook" (click)="facebookLogin()">
        <img src="../../../assets/images/facebook_logo_white.png" class="facebook-logo">
        {{ STRINGS.FACEBOOK_LOGIN }}
      </div>
      <!-- GOOGLE -->
      <div id="my-signin2"></div>
    </div>

  </form>

  <div class="bar"></div>

  <div class="existing-account" (click)="register()">
    <span> {{ STRINGS.NO_ACCOUNT }} </span>
    <span class="sign-in-highlight"> {{ STRINGS.SIGN_UP }} </span>
  </div>

</div>

<div class="copyright">
  <span> &#169; {{ STRINGS.COPYRIGHT }} </span>
</div>
