@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

// LOGIN

.login {
  padding-top: 84px;
  display: flex;
  justify-content: center;
  background-color: $background-grey;
  min-height: 100vh;
  height: 650px;
  box-sizing: border-box;
}

.container {
  padding: 25px;
  margin: 25px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  position: relative;
  z-index: 9;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 450px;
}

.login-text {
    font-size: 26px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $facebook-blue;
  color: white;
  font-size: 14px;
  padding: 12px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 240px;
}

.facebook-logo {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.error-message {
    text-align: center;
    color: $error-red;
    margin-bottom: 10px;
    max-width: 300px;
}

input {
    width: 300px;
    padding: 8px 12px;
    margin: 6px 0px;
    box-sizing: border-box;
    border: 1px solid $subtle-grey;
    outline: none;
}

input.ng-dirty.ng-invalid {
    border: 1px solid $error-red;
}

.form-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;

    button {

      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-black;
      color: $button-font-white;
      padding: 12px 24px;
      font-size: 14px;

      &:hover {
          background-color: lighten($button-black, 10%);
      }

    }

    button.disabled {
      background-color: $subtle-grey;
      cursor: not-allowed;
    }

}

.forgot-password {
    text-decoration: none;
    cursor: pointer;
    color: $subtle-grey;
    margin-bottom: 10px;
    &:hover {
      color: $button-highlight;
    }
}

.sign-up-alternate {
    margin-bottom: 10px;
}

.disabled {
  background-color: $subtle-grey;
  cursor: not-allowed;
}

// EXISTING ACCOUNT

.bar {
    width: 300px;
    border-bottom: 1px solid $button-black;
    margin-bottom: 20px;
}

.existing-account {
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
}

.sign-in-highlight {
    color: $button-highlight;
}

// FOOTER

.footer {

  height: 230px;
  width: 100%;
  display: table;
  overflow: hidden;
  background-color: $background-grey;
  position: fixed;
  bottom: 0px;
  left: 0px;

  .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .inner-wave {
    position: absolute;
    bottom: -50px;
    left: 0px;
  }

  .copyright {
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 14px;
      color: white;
  }

}
