@import '../../../../styles/colors';
@import '../../../../styles/sizes';

.highlight {
  color: $button-highlight;
}

.notifications {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  min-width: 400px;
  max-width: 400px;
  height: auto;

  &:hover {
    cursor: default;
    color: $subtle-grey;
  }

  .header {

    cursor: default;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 16px;
    padding: 7px 10px;
    border-bottom: 1px solid $lighter-grey;

    .see {
      display: flex;
      align-items: center;
      color: $subtle-grey;
      cursor: pointer;
      &:hover {
        @extend .highlight;
      }

      .check {

        margin-left: 3px;
        font-size: 20px;

      }

    }

    .clear {
      cursor: pointer;
      &:hover {
        @extend .highlight;
      }
    }

  }

  // honestly just change heights , make this the scrollable, and remove the fixed
  .notifications-content {
    max-height: 350px;
    min-height: 70px;
    overflow-y: auto;
    overflow-x: none;

    .loading {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      min-height: 70px;

      .text {
        color: $subtle-grey;
        font-size: 14px;
        margin-bottom: 5px;
      }

      &:hover {
        cursor: default;
        color: $subtle-grey;
      }

    }

  }

  .no-notifications {

    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    color: black;
    cursor: default;
    font-size: 14px;
    padding: 15px;

    .icon {
      color: $button-highlight;
    }

  }

}

// Mobile stylings
@media screen and (max-width: $mobile-width) {
  .notifications {
    min-width: 90%;
    max-width: 90%;
    position: fixed;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
  }
}
