<div class="notifications">

  <div class="header">
    <span class="title"> {{ STRINGS.TITLE }} </span>
    <span class="see" (click)="seeAll()">
      {{ STRINGS.MARK_ALL_AS_SEEN }}
      <span class="material-icons check"> check </span>
    </span>
    <!-- <span class="clear" (click)="clearAll()"> {{ STRINGS.CLEAR }} </span> -->
  </div>

  <div class="notifications-content">

    <spot-infinite-scroll (scrolled)="onScroll()">
      <div *ngIf="notifications.length > 0; else empty">
        <div *ngFor="let notification of notifications">
          <spot-notification-item [notification]="notification"></spot-notification-item>
        </div>
      </div>
      <!-- We only show loading when first loading notifications now -->
      <div *ngIf="loading && (showNotificationsIndicator$ | async) && notifications.length === 0" class="loading">
        <span class="text"> {{ STRINGS.LOADING }} </span>
        <spot-spinner size="small"></spot-spinner>
      </div>
    </spot-infinite-scroll>

    <ng-template #empty>
      <div *ngIf="!loading" class="no-notifications">
        <span class="material-icons icon"> done_all </span>
        {{ STRINGS.NO_NOTIFICATIONS }}
      </div>
    </ng-template>

  </div>

</div>
