@import '../../../../styles/colors';

.container {
  position: relative;
}

.notifications {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid $subtle-grey;
  min-width: 300px;
  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: none;
  z-index: 2;
}

.highlight {
  color: $button-highlight;
}

.header {
  cursor: default;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  border-top: 1px solid $subtle-grey;
}

.title {

  // &:hover {
  //   @extend .highlight;
  // }
}

.see {
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.clear {
  cursor: pointer;
  &:hover {
    @extend .highlight;
  }
}

.no-notifications {
  display: flex;
  justify-content: center;
  cursor: default;
  color: $subtle-grey;
  font-size: 14px;
  border-top: 1px solid $subtle-grey;
  padding: 15px;
}
