<div
  class="notifications background-container container-rounded container-shadow"
>
  <!-- Header-->
  <div
    class="header row-h-center justify-content-between padding-md background-header"
  >
    <div class="row-h-center">
      <span class="material-icons-outlined icon-primary icon-md">
        notifications
      </span>
      <span class="margin-l-xs">
        {{ 'MAIN.NOTIFICATIONS.TITLE' | translate }}
      </span>
    </div>
    <div class="row-h-center text-secondary-highlight" (click)="seeAll()">
      <span class="material-icons icon-md"> check </span>
      <span class="margin-l-xs"
        >{{ 'MAIN.NOTIFICATIONS.MARK_ALL_AS_SEEN' | translate }}
      </span>
    </div>
  </div>

  <!-- Notifications -->
  <div class="notifications-content">
    <spot-infinite-scroll
      *ngIf="notifications.length > 0 || initialLoad; else empty"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let notification of notifications">
        <spot-notification-item
          [notification]="notification"
        ></spot-notification-item>
      </div>

      <!-- Only show loading when first loading notifications -->
      <div
        *ngIf="
          loading &&
          (showNotificationsIndicator$ | async) &&
          notifications.length === 0
        "
        class="col-center margin-v-xl"
      >
        <span class="text-secondary">
          {{ 'MAIN.NOTIFICATIONS.LOADING' | translate }}
        </span>
        <spot-spinner size="small" type="dot"></spot-spinner>
      </div>
    </spot-infinite-scroll>

    <ng-template #empty>
      <div *ngIf="!loading" class="col-center margin-v-xl">
        <span class="material-icons icon-md icon-primary"> done_all </span>
        {{ 'MAIN.NOTIFICATIONS.NO_NOTIFICATIONS' | translate }}
      </div>
    </ng-template>
  </div>
</div>
