<div>

  <spot-nav></spot-nav>

  <div class="landing">

    <div class="showcase">
      <div class="showcase-content">
        <div class="showcase-text">
            {{ STRINGS.SHOWCASE_TEXT }}
          </div>
          <img class="showcase-image" src="../../../../assets/images/showcase.jpg">
      </div>
    </div>

    <div class="signup">

      <div class="signup-text">
        {{ STRINGS.COMMUNITY }}
      </div>

      <form [formGroup]="form">

        <div class="login-options">
          <div type="button" class="facebook" (click)="facebookLogin()">
            <img src="../../../assets/images/facebook_login.png" class="facebook-logo">
            {{ STRINGS.FACEBOOK_LOGIN }}
          </div>
          <div type="button" class="google" (click)="googleLogin()">
            <img src="../../../assets/images/google_login.png" class="google-logo">
            {{ STRINGS.GOOGLE_LOGIN }}
          </div>
        </div>

        <!-- GOOGLE -->
        <div id="my-signin2"></div>

        <div>
          <span> {{ STRINGS.SIGN_UP_ALTERNATE }} </span>
        </div>

        <fieldset>
            <div class="form-field">
                <input name="email" formControlName="email" [placeholder]="STRINGS.EMAIL_PLACEHOLDER" required>
            </div>
            <div class="form-field">
                <input name="username" formControlName="username" [placeholder]="STRINGS.USERNAME_PLACEHOLDER" required>
            </div>
            <div class="form-field">
                <input name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" type="password" required>
            </div>
            <div class="form-field">
                <input name="phone" formControlName="phone" [placeholder]="STRINGS.PHONE_PLACEHOLDER" required>
            </div>
        </fieldset>

        <div class="error-message">
          {{ errorMessage }}
        </div>

        <div class="form-buttons">
          <button type="button" class="button" (click)="signUp()"> {{ STRINGS.SIGN_UP }} </button>
        </div>

      </form>

      <div class="terms-and-conditions">
        <span> {{ STRINGS.TERMS_AND_CONDITIONS }} </span>
      </div>

      <div class="bar"></div>

      <div class="existing-account" (click)="signIn()">
        <span> {{ STRINGS.EXISTING_ACCOUNT }} </span>
        <span class="sign-in-highlight"> {{ STRINGS.SIGN_IN }} </span>
      </div>

    </div>
  </div>

  <div class="copyright">
    <span> &#169; {{ STRINGS.COPYRIGHT }} </span>
  </div>

</div>
