@import '../../../styles/colors';
@import '../../../styles/sizes';

.landing {
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    height: calc(100vh - 84px - 28px);
    width: 100vw;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 1000px;
}

// SIGNUP

.signup-wrapper {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  top: 50px;
  right: 25%;
  z-index: 999;
  width: 100%;
}

.signup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 80px 50px;
    box-shadow: 0 2px 34px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, .3);
}

.signup-text {
    font-size: 28px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $facebook-blue;
    color: white;
    font-size: 14px;
    padding: 12px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    width: 240px;
}

.facebook-logo {
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

input {
  width: 300px;
  padding: 8px 12px;
  margin: 6px 0px;
  box-sizing: border-box;
  border: 1px solid $subtle-grey;
  outline: none;
}

input.ng-dirty.ng-invalid {
    border: 1px solid $error-red;
}

.error-message {
  text-align: center;
  color: $error-red;
  margin-bottom: 10px;
  max-width: 300px;
}

.form-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

    button {

      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-black;
      color: $button-font-white;
      padding: 12px 24px;
      font-size: 14px;

      &:hover {
          background-color: lighten($button-black, 10%);
      }

  }

}

.terms-and-conditions {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  input {
    width: auto;
    margin: 0px 3px 0px 0px;
  }

  a {
    text-decoration: none;
    color: $subtle-grey;
    &:hover {
      color: $button-highlight;
    }
  }

}

// EXISTING ACCOUNT

.bar {
    width: 100%;
    border-bottom: 1px solid $button-black;
    margin-bottom: 10px;
}

.existing-account {

    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;

    .sign-in-highlight {
      color: $button-highlight;
  }

}

.existing-account:hover .sign-in-highlight {
  color: darken($button-highlight, 5%);
}

// COPYRIGHT

.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
}

// Special stylings, Landing only constants since landing is very special

// height styles
@media screen and (max-height: 900px) {

  .signup {
    padding: 20px 20px;
  }

}

@media screen and (max-height: 850px) {

  .container {
    overflow-y: auto;
  }

}

// width styles
@media screen and (max-width: 1250px) {

  .signup-wrapper {
    right: 125px;
  }

}

@media screen and (max-width: 850px) {

  .container {
    height: 800px;
    width: 100vw;
  }

  .image {
    position: absolute;
    top: 0;
    left: -15px;
  }

  .signup-wrapper {
    top: 225px;
    right: 0px;
    justify-content: center;
  }

  .signup {
    padding: 15px 10px;
  }

  .copyright {
    display: none;
  }

}
