@import '../../../styles/colors';
@import '../../../styles/sizes';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.landing {
  position: relative;
  height: calc(100vh - 84px - 28px);
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.image {
    background-image: url('../../../../assets/images/landing_v7.png');
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 800px;
    max-height: 2000px;
    width: 100%;
    min-width: 1100px;
}

// SIGNUP

.signup-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

// showcase

.showcase {

  display: flex;
  flex-flow: column;
  position: relative;
  z-index: 999;
  background-color: white;
  margin-right: 25px;
  width: 1040px;
  height: 600px;
  box-shadow: 0 2px 34px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, .3);

  .preview {

    position: relative;
    flex: 1;
    padding: 20px;

    .preview-text {

      font-family: 'Roboto Condensed', sans-serif;
      display: flex;
      flex-flow: column;
      position: absolute;
      top: 35px;
      left: 35px;
      font-size: 42px;

      .highlight {
        color: $button-highlight;
      }

    }

    .preview-image {
      width: 100%;
      height: 100%;
      background-image: url('../../../../assets/images/preview.png');
      background-size: cover;
    }

  }

  .footer {

    padding: 10px 20px;
    background-color: $background-grey;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    border-top: 1px solid $subtle-grey;
    display: flex;
    flex-flow: column;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;

    .line2 {

      color: $button-highlight;
      font-size: 38px;

    }

  }

}

.mobile-showcase {

  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px $subtle-grey;
  display: none;
  font-size: 32px;
  padding: 20px;
  color: white;

  .highlight {
    color: $button-highlight;
    text-shadow: 1px 1px black;
  }

}

// signup

.signup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 80px 50px;
    margin-left: 25px;
    box-shadow: 0 2px 34px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, .3);
}

.signup-text {
    font-size: 28px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $facebook-blue;
    color: white;
    font-size: 14px;
    padding: 12px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
    width: 240px;
}

.facebook-logo {
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

input {
  width: 300px;
  padding: 8px 12px;
  margin: 6px 0px;
  box-sizing: border-box;
  border: 1px solid $subtle-grey;
  outline: none;
}

input.ng-dirty.ng-invalid {
    border: 1px solid $error-red;
}

.error-message {
  text-align: center;
  color: $error-red;
  margin-bottom: 10px;
  max-width: 300px;
}

.form-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

    button {

      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-black;
      color: $button-font-white;
      padding: 12px 24px;
      font-size: 14px;

      &:hover {
          background-color: lighten($button-black, 10%);
      }

    }

    button.disabled {
      background-color: $subtle-grey;
      cursor: not-allowed;
    }

}

.terms-and-conditions {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  .checkbox-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: $subtle-grey;
    &:hover {
      color: $button-highlight;
    }
  }

}

.disabled {
  background-color: $subtle-grey;
  cursor: not-allowed;
}

// Checkbox stuff

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid $subtle-grey;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid $button-highlight;
  background-color: $button-highlight;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// EXISTING ACCOUNT

.bar {
    width: 100%;
    border-bottom: 1px solid $button-black;
    margin-bottom: 10px;
}

.existing-account {

    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;

    .sign-in-highlight {
      color: $button-highlight;
  }

}

.existing-account:hover .sign-in-highlight {
  color: darken($button-highlight, 5%);
}

// COPYRIGHT

.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
}

// Special stylings, Landing only constants since landing is very special

// give less padding on smaller screens
@media screen and (max-height: 900px) {

  .signup {
    padding: 20px 20px;
  }

}

// allow vertical scroll when not enough height for singup-wrapper
@media screen and (max-height: 760px) {

  .landing {
    overflow-y: auto;
  }

}

// Make the showcase smaller
@media screen and (max-width: 1500px) {

  .showcase {

    width: 840px;
    height: 500px;

    .preview {

      .preview-text {

        top: 35px;
        left: 35px;
        font-size: 32px;

      }

    }

  }

}

// Use the mobile showcase, enable vertical scroll
@media screen and (max-width: 850px) {

  .signup-wrapper {
    flex-flow: column;
  }

  .showcase {
    display: none;
  }

  .mobile-showcase {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .landing {
    overflow-y: auto;
  }

  .image {
    position: absolute;
    top: -25px;
    left: -45px;
    min-height: 900px;
  }

  .signup {
    padding: 15px 10px;
    margin-left: 0px;
  }

}
