<spot-nav></spot-nav>
<div class="landing relative">
  <!-- Background Image set in css -->
  <img class="background-image" />

  <div class="signup-wrapper">
    <div class="showcase">
      <img class="preview-image" />
    </div>
    <div class="mobile-showcase">
      <span> {{ 'PRE_AUTH.LANDING.SHOWCASE_MOBILE_1' | translate }} </span>
      <span> {{ 'PRE_AUTH.LANDING.SHOWCASE_MOBILE_2' | translate }} </span>
      <span class="highlight">
        {{ 'PRE_AUTH.LANDING.SHOWCASE_MOBILE_3' | translate }}
      </span>
    </div>

    <div
      class="signup col-center background-container container-shadow container-rounded"
    >
      <div class="title-lg margin-b-lg">
        {{ 'PRE_AUTH.LANDING.COMMUNITY' | translate }}
      </div>

      <form
        class="form"
        [formGroup]="registerForm"
        (keyup.enter)="register()"
        autocomplete="off"
      >
        <div class="col-center full-width margin-b-lg">
          <!-- Facebook button -->
          <button
            *ngIf="facebookLoaded"
            class="button-facebook margin-b-md"
            [ngClass]="{ disabled: buttonsDisabled }"
            (click)="facebookLogin()"
          >
            <img
              src="/assets/images/facebook_logo_white.png"
              class="icon-facebook"
            />
            <span class="text-facebook">
              {{ 'PRE_AUTH.LANDING.FACEBOOK_LOGIN' | translate }}
            </span>
          </button>
          <!-- Google Signin button -->
          <div id="googleButtonLanding"></div>
        </div>

        <span> {{ 'PRE_AUTH.LANDING.SIGN_UP_ALTERNATE' | translate }} </span>

        <fieldset class="fieldset">
          <div class="form-field">
            <input
              name="email"
              class="input-border"
              formControlName="email"
              autocomplete="off"
              placeholder="{{
                'PRE_AUTH.LANDING.EMAIL_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>

          <!-- Username -->
          <div class="form-field">
            <input
              name="username"
              class="input-border"
              formControlName="username"
              autocomplete="off"
              placeholder="{{
                'PRE_AUTH.LANDING.USERNAME_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>
          <!-- Username errors -->
          <div *ngIf="username.invalid && username.dirty && username.touched" class="form-text-error full-width">
            <div
              *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']"
            >
              {{ 'PRE_AUTH.LANDING.USERNAME_LENGTH' | translate }}
            </div>
            <div
              *ngIf="username.errors?.['invalid']"
            >
              {{ 'PRE_AUTH.LANDING.USERNAME_INVALID' | translate }}
            </div>
          </div>

          <!-- Password -->
          <div class="form-field">
            <input
              name="password"
              class="input-border"
              formControlName="password"
              autocomplete="off"
              placeholder="{{
                'PRE_AUTH.LANDING.PASSWORD_PLACEHOLDER' | translate
              }}"
              type="password"
              required
            />
          </div>
          <div class="form-field">
            <input
              name="phone"
              class="input-border"
              formControlName="phone"
              autocomplete="off"
              placeholder="{{
                'PRE_AUTH.LANDING.PHONE_PLACEHOLDER' | translate
              }}"
              required
            />
          </div>
        </fieldset>

        <div class="col-center margin-t-md margin-b-lg text-center">
          <div class="row-v-center full-width">
            <label class="checkbox-container">
              <input
                name="terms"
                formControlName="terms"
                type="checkbox"
                required
              />
              <span class="checkmark"></span>
            </label>
            <span>
              {{ 'PRE_AUTH.LANDING.TERMS_AND_CONDITIONS' | translate }}
            </span>
          </div>
          <div class="text-secondary-highlight" (click)="openTerms()">
            {{ 'PRE_AUTH.LANDING.TERMS_AND_CONDITIONS_LINK' | translate }}
          </div>
        </div>

        <div class="text-error text-center margin-b-lg">
          {{ errorMessage }}
        </div>

        <div class="col-center full-width border-box margin-b-xl">
          <button
            class="button"
            [ngClass]="{ disabled: buttonsDisabled }"
            (click)="register()"
          >
            {{ 'PRE_AUTH.LANDING.SIGN_UP' | translate }}
          </button>
        </div>
      </form>

      <div class="bar"></div>

      <a class="existing-account" [routerLink]="'/login'">
        <span> {{ 'PRE_AUTH.LANDING.EXISTING_ACCOUNT' | translate }} </span>
        <span class="sign-in-highlight">
          {{ 'PRE_AUTH.LANDING.SIGN_IN' | translate }}
        </span>
      </a>
    </div>
  </div>
</div>
<div class="copyright">
  <span> &#169; {{ 'PRE_AUTH.LANDING.COPYRIGHT' | translate }} </span>
</div>
