@import '../../../styles/sizes';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.landing {
  height: calc(100vh - 84px - 28px);
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-image {
  background-image: url('../../../../assets/images/landing_v9.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 800px;
  max-height: 2000px;
  width: 100%;
  min-width: 1100px;
}

// SIGNUP
.signup-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 999;
  width: 100%;
  padding: 70px 20px 20px 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

// showcase
.showcase {
  display: flex;
  flex-flow: column;
  position: relative;
  z-index: 999;
  background-color: var(--background-container);
  margin-right: 60px;
  margin-top: 50px;
  width: 800px;
  height: 1%;
  overflow: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .preview-image {
    background-image: url('../../../../assets/images/preview_v3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    width: calc(100% - 10px);
    padding-top: calc(0.6 * (100% - 10px));
    border-radius: 5px;
  }
}

.mobile-showcase {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px var(--text-secondary);
  display: none;
  font-size: 32px;
  padding: 20px;
  color: white;

  .highlight {
    color: var(--primary);
    text-shadow: 1px 1px black;
  }
}

.signup {
  margin-left: 60px;
  padding: 25px;
}

// signup
.signup-text {
  font-size: 28px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-options {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--facebook);
  color: white;
  font-size: 14px;
  padding: 12px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 240px;
}

.facebook-logo {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

fieldset {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

input {
  width: 300px;
  padding: 8px 12px;
  margin: 6px 0px;
  box-sizing: border-box;
  border: 1px solid var(--input-border);
  outline: none;
}

input.ng-dirty.ng-invalid {
  border: 1px solid var(--error);
}

.error-message {
  text-align: center;
  color: var(--error);
  margin-bottom: 10px;
  max-width: 300px;
}

.form-field {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;

  button {
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 12px 24px;
    font-size: 14px;

    &:hover {
      background-color: var(--button-background-highlight);
    }
  }

  button.disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  .checkbox-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .text {
    cursor: pointer;
    color: var(--text-secondary);
    &:hover {
      color: var(--primary);
    }
  }
}

.disabled {
  background-color: var(--text-secondary);
  cursor: not-allowed;
}

// Checkbox stuff

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid var(--input-border);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// EXISTING ACCOUNT

.bar {
  width: 100%;
  border-bottom: 1px solid var(--button-background);
  margin-bottom: 10px;
}

.existing-account {
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;

  .sign-in-highlight {
    color: var(--primary);
  }
}

.existing-account:hover .sign-in-highlight {
  color: var(--primary-highlight);
}

// COPYRIGHT

.copyright {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 14px;
}

// Special stylings, Landing only constants since landing is very special

// allow vertical scroll when not enough height for singup-wrapper
@media screen and (max-height: 760px) {
  .landing {
    overflow-y: auto;
  }
}

// Use the mobile showcase, enable vertical scroll
@media screen and (max-width: 1300px) {
  .signup-wrapper {
    flex-flow: column;
    align-items: center;
    padding-top: 20px;
  }

  .showcase {
    display: none;
  }

  .mobile-showcase {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .landing {
    overflow-y: auto;
  }

  .signup {
    padding: 15px 10px;
    margin-left: 0px;
  }
}
