.tab {
  border: 1px solid var(--background-primary);
}

.tab-button {
  display: flex;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: var(--primary);
  border: none;
  padding: 0;
  color: white;

  span {
    font-size: 15px;
  }

  &:hover {
    color: darken(white, 20%);
    cursor: pointer;
  }
}
