<div class="tab">
  <div
    class="header row-h-center justify-content-between background-primary full-width padding-v-xs padding-h-sm border-box"
  >
    <span
      class="image margin-sm"
      [ngClass]="tab.imageSrc ? '' : 'chat-' + tab.defaultImageNum"
    >
      <img *ngIf="tab.imageSrc" [src]="tab.imageSrc" />
      <img
        *ngIf="!tab.imageSrc"
        [src]="'/assets/images/chat/' + tab.defaultImageSrc"
      />
    </span>
    <span class="name text-md text-white">{{ tab.name }}</span>
    <div class="row-center">
      <button class="tab-button margin-l-sm" (click)="minimizeTab()">
        <span class="material-icons">remove</span>
      </button>
      <button class="tab-button margin-l-sm" (click)="closeTab()">
        <span class="material-icons">close</span>
      </button>
    </div>
  </div>
  <spot-chat-room [chatRoom]="tab"></spot-chat-room>
</div>
