<div class="tab">
  <!-- Header -->
  <div
    class="header row-h-center background-header full-width padding-v-sm padding-h-sm border-box"
  >
    <!-- Chat photo-->
    <span
      class="profile-sm margin-r-md"
      [ngClass]="tab.imageSrc ? '' : 'chat-' + tab.defaultImageNum"
    >
      <img *ngIf="tab.imageSrc" [src]="tab.imageSrc" />
      <img
        *ngIf="!tab.imageSrc"
        [src]="'/assets/images/chat/' + tab.defaultImageSrc"
      />
    </span>

    <!-- Name and locaton with distance -->
    <div class="line-height col-h-center">
      <span class="text-md">{{ tab.name }}</span>
      <span class="row-h-center">
        <span class="material-icons icon-xs icon-primary"> location_on </span>
        <span class="text-xs">
          {{ tab.geolocation }} ({{ getDistance(tab.distance) }})</span
        >
      </span>
    </div>
    <div class="row-center align-right">
      <!-- Settings Dropdown -->
      <div class="relative">
        <button
          #settings
          class="tab-button margin-l-md"
          (click)="toggleDropdown()"
        >
          <span class="material-icons icon-sm icon-secondary-highlight"
            >settings</span
          >
        </button>
        <div class="dropdown-content" [class.show-dropdown]="showDropdown">
          <div class="dropdown-button" (click)="leaveChatRoom()">
            <span class="material-icons icon-md margin-r-md">
              directions_run
            </span>
            {{ 'MAIN.CHAT_TAB.LEAVE' | translate }}
          </div>
        </div>
      </div>

      <!-- Minimized -->
      <button class="tab-button margin-l-md" (click)="minimizeTab()">
        <span class="material-icons icon-sm icon-secondary-highlight"
          >remove</span
        >
      </button>

      <!-- Close -->
      <button class="tab-button margin-l-md" (click)="closeTab()">
        <span class="material-icons icon-sm icon-close">close</span>
      </button>
    </div>
  </div>

  <!-- The chat room -->
  <spot-chat-room [chatRoom]="tab" [isTab]="true"></spot-chat-room>
</div>
