.tab {
  border: 1px solid var(--background-primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 500px;
  height: 600px;
  box-sizing: border-box;
}

.header {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 9;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 50px;
    height: 50px;
  }
}

.name {
  margin-left: 55px;
}

.tab-button {
  display: flex;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: var(--primary);
  border: none;
  padding: 0;
  color: white;

  span {
    font-size: 15px;
  }

  &:hover {
    color: darken(white, 20%);
    cursor: pointer;
  }
}

