@import '../../styles/colors';

.container {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    text-align: center;
}

.account-info {
    text-align: center;  
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: $header-color;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: lighten($header-color, 3%);
    }
  }

