$text-sizes: (
  'xs': var(--text-xs),
  'sm': var(--text-sm),
  'md': var(--text-md),
  'lg': var(--text-lg),
  'xl': var(--text-xl)
);

// text sizes
@each $key, $value in $text-sizes {
  .text-#{$key} {
    font-size: $value;
  }
}

$icon-sizes: (
  'xs': var(--icon-xs),
  'sm': var(--icon-sm),
  'md': var(--icon-md),
  'lg': var(--icon-lg),
  'xl': var(--icon-xl)
);

// icon sizes
@each $key, $value in $icon-sizes {
  .icon-#{$key} {
    font-size: $value;
  }
}

$title-sizes: (
  'xs': var(--title-xs),
  'sm': var(--title-sm),
  'md': var(--title-md),
  'lg': var(--title-lg),
  'xl': var(--title-xl)
);

// title sizes
@each $key, $value in $title-sizes {
  .title-#{$key} {
    font-size: $value;
  }
}

// Layout
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

// Text Colors
.text-secondary {
  color: var(--text-secondary);
}
.text-primary {
  color: var(--primary);
}
.text-success {
  color: var(--success);
}
.text-error {
  color: var(--error);
}
.text-info {
  color: var(--info);
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primary-highlight {
  color: var(--text-priamry);
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}
.text-secondary-highlight {
  color: var(--text-secondary);
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}

// Icon Colors
.icon-primary-highlight {
  color: var(--icon-priamry);
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}
.icon-secondary-highlight {
  color: var(--icon-secondary);
  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}
.icon-submit {
  color: var(--primary);
  &:hover {
    cursor: pointer;
    color: var(--primary-highlight);
  }
}
.icon-close {
  color: var(--error);
  &:hover {
    cursor: pointer;
    color: var(--error-light);
  }
}
.icon-secondary {
  color: var(--icon-secondary);
}
.icon-primary {
  color: var(--primary);
}
.icon-success {
  color: var(--success);
}
.icon-error {
  color: var(--error);
}
