// basic
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

// row
.row-center {
  @extend .row;
  align-items: center;
  justify-content: center;
}
.row-v-center {
  @extend .row;
  justify-content: center;
}
.row-h-center {
  @extend .row;
  align-items: center;
}

// col
.col-center {
  @extend .col;
  align-items: center;
  justify-content: center;
}
.col-v-center {
  @extend .col;
  align-items: center;
}
.col-h-center {
  @extend .col;
  justify-content: center;
}

// Layouts
// Flexbox
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-end {
  align-items: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-stretch {
  justify-content: stretch;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}

// alignment
.align-right {
  margin-left: auto;
}
.align-left {
  margin-right: auto
}

// wrapping
.flex-wrap {
  flex-wrap: wrap;
}
.text-wrap {
  word-wrap: break-word;
}

// box sizing
.border-box {
  box-sizing: border-box;
}

// overflow
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-hidden {
  overflow: hidden;
}

// sizes
.flex-fill {
  flex: 1;
}
.full-size {
  height: 100%;
  width: 100%;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

// position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
