<div class="welcome">

  <div class="header">
    <span class="title"> {{ STRINGS.TITLE }} </span>
  </div>

  <div class="body">

    <div class="heading"> What Is Spot? </div>
    <div class="text">
      Spot is a social media tool for sharing your thoughts anonymously! Your account information and location will never
      be given away.
    </div>

    <div class="heading"> Be Anonymous </div>
    <div class="text">
      For every Spot you comment on you will be given a unique icon that will represent you in that thread. This icon is different
      for each Spot.
    </div>

    <div class="heading"> Share With Your Friends </div>
    <div class="text">
      Spot allows you to tag your friends to share spots. When you tag a friend, they will receive your username. If they tag you back then you can both
      secretly know who each other are while staying anonymous to those you don't want to see.
    </div>

    <div class="heading"> Spots In Your Area </div>
    <div class="text">
      Sort locally to see what is happening in your area. Spot needs your location to do this. Spot will never give your location away to anybody.
    </div>

    <div class="button-container">
      <button class="continue" (click)="closeWelcome()"> Continue to Spot </button>
    </div>

  </div>

</div>
