<div class="welcome">

  <div class="header">
    <img class="image" src="../../../../assets/images/wave.png">
    <span class="title"> {{ STRINGS.TITLE }} </span>
  </div>

  <div class="body">

    <div class="heading">
      Be Anonymous
      <img class="image" src="../../../../assets/images/logo_plain.png">
    </div>
    <div class="text-block">
      <ul>
        <li> <span class="text"> Have an anonymous identity for each spot  </span> </li>
        <li> <span class="text"> Share your confessions secretly </span> </li>
      </ul>
    </div>

    <div class="heading">
      Share With Friends
      <span class="material-icons title-icon"> people </span>
    </div>
    <div class="text-block">
      <ul>
        <li> <span class="text"> Connect with <span class="material-icons icon facebook"> facebook </span> to see your friends </span> </li>
        <li> <span class="text"> Tag friends by commenting @name to share your identity </span> </li>
        <li> <span class="text"> Get tagged back to be anonymous together </span> </li>
      </ul>
    </div>

    <div class="heading"> Spots In Your Area </div>
    <div class="text-block">
      <ul>
        <li> <span class="text"> Sort by <span class="material-icons icon"> home </span> to see spots in your area </span> </li>
      </ul>
    </div>

    <div class="button-container">
      <button class="continue" (click)="closeWelcome()"> Continue to Spot </button>
    </div>

  </div>

</div>
