<div class="welcome">
  <div class="header">
    <img class="image" src="../../../../assets/images/wave.png" />
    <span class="title"> {{ 'MAIN.WELCOME.TITLE' | translate }} </span>
  </div>

  <div class="body">
    <div class="heading">
      {{ 'MAIN.WELCOME.ANONYMOUS_TITLE' | translate }}
      <img class="image" src="../../../../assets/images/logo_plain.png" />
    </div>
    <div class="text-block">
      <ul>
        <li>
          <span class="text"> {{ 'MAIN.WELCOME.ANONYMOUS_TEXT_1' | translate }} </span>
        </li>
        <li>
          <span class="text"> {{ 'MAIN.WELCOME.ANONYMOUS_TEXT_2' | translate }} </span>
        </li>
      </ul>
    </div>

    <div class="heading">
      {{ 'MAIN.WELCOME.FRIENDS_TITLE' | translate }}
      <span class="material-icons title-icon"> people </span>
    </div>
    <div class="text-block">
      <ul>
        <li>
          <span class="text">
            {{ 'MAIN.WELCOME.FRIENDS_TEXT_1_1' | translate }}
            <span class="material-icons icon facebook"> facebook </span>
            {{ 'MAIN.WELCOME.FRIENDS_TEXT_1_2' | translate }}
          </span>
        </li>
        <li>
          <span class="text"> {{ 'MAIN.WELCOME.FRIENDS_TEXT_2' | translate }} </span>
        </li>
        <li>
          <span class="text"> {{ 'MAIN.WELCOME.FRIENDS_TEXT_3' | translate }} </span>
        </li>
      </ul>
    </div>

    <div class="heading">{{ 'MAIN.WELCOME.LOCATION_TITLE' | translate }}</div>
    <div class="text-block">
      <ul>
        <li>
          <span class="text">
            {{ 'MAIN.WELCOME.LOCATION_TEXT_1_1' | translate }}
            <span class="material-icons icon"> home </span>
            {{ 'MAIN.WELCOME.LOCATION_TEXT_1_2' | translate }}
          </span>
        </li>
      </ul>
    </div>

    <div class="button-container">
      <button class="continue" (click)="closeWelcome()">
        {{ 'MAIN.WELCOME.CONTINUE' | translate }}
      </button>
    </div>
  </div>
</div>
