.container {
  position: fixed;
  top: 75px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 9999999999;
}

.close {
  color: var(--background-page);
  cursor: pointer;

  &:hover {
    color: var(--background-secondary);
  }
}

.alert {
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);

  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;

  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  height: auto;
  box-sizing: border-box;
  border-radius: 15px;
}

.message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: var(--button-text);
}

.fade {
  opacity: 0;
}

.alert-success {
  background-color: #37474f;
}

.alert-danger {
  background-color: var(--error-light)
}

.alert-info {
  background-color: var(--info);
}

.alert-warning {
  background-color: var(--warning)
}
