<spot-main-nav></spot-main-nav>
<div class="activity-container">
  <div class="activity-content">
    <div class="tab-container">
      <div class="tab" (click)="setTab('posts')">
        {{ 'MAIN.ACTIVITY.POSTS' | translate }}
        <div
          class="selected"
          [ngClass]="{ show: selectedTab === 'posts' }"
        ></div>
      </div>
      <div class="tab" (click)="setTab('commentsreplies')">
        {{ 'MAIN.ACTIVITY.COMMENTS_REPLIES' | translate }}
        <div
          class="selected"
          [ngClass]="{ show: selectedTab === 'commentsreplies' }"
        ></div>
      </div>
    </div>

    <!-- used to push the content down for now, visibility is always hidden -->
    <div
      class="tab-container"
      style="visibility: hidden; position: static; width: 100%"
    >
      <div class="tab">
        {{ 'MAIN.ACTIVITY.POSTS' | translate }}
        <div
          class="selected"
          [ngClass]="{ show: selectedTab === 'posts' }"
        ></div>
      </div>
      <div class="tab">
        {{ 'MAIN.ACTIVITY.COMMENTS_REPLIES' | translate }}
        <div
          class="selected"
          [ngClass]="{ show: selectedTab === 'commentsreplies' }"
        ></div>
      </div>
    </div>

    <div class="content-container">
      <div class="activity-posts-container" *ngIf="selectedTab === 'posts'">
        <spot-infinite-scroll (scrolled)="onScrollPost()">
          <div *ngIf="postActivity.length > 0; else noPostActivity">
            <div class="activity-post" *ngFor="let activity of postActivity">
              <div class="activity-header">
                <div class="date">
                  {{ 'MAIN.ACTIVITY.DATE_POST_PROMPT' | translate }}
                  {{ formatDate(activity.creation_date) }}
                  {{ 'MAIN.ACTIVITY.DATE_PROMPT_END' | translate }}
                </div>
                <a class="post-link" [routerLink]="'/posts/' + activity.link">
                  {{ 'MAIN.ACTIVITY.POSTS_OPEN' | translate }}
                </a>
              </div>
              <div class="post-content">
                <div
                  class="image"
                  *ngIf="activity.image_src && userMetadata"
                  (click)="activityClicked(activity)"
                >
                  <img
                    [src]="activity.image_src"
                    [ngClass]="{
                      'image-blur':
                        activity.imageBlurred && userMetadata.matureFilter
                    }"
                  />
                  <div
                    *ngIf="
                      activity.imageBlurred && userMetadata.matureFilter
                    "
                    class="image-blur-text"
                  >
                    <span class="material-icons icon"> error_outline </span>
                  </div>
                </div>
                <div class="post-info">
                  <div class="content-preview">{{ activity.content }}</div>
                  <div class="info-bar">
                    <span class="info-bar-item">
                      {{ 'MAIN.ACTIVITY.POSTS_SCORE' | translate }}
                      {{ activity.likes - activity.dislikes }}
                    </span>
                    <span class="info-bar-item">
                      {{ 'MAIN.ACTIVITY.POSTS_COMMENTS' | translate }} {{ activity.comments }}
                    </span>
                    <span class="info-bar-item">
                      {{ 'MAIN.ACTIVITY.POSTS_LOCATION' | translate }}
                      <span *ngIf="activity.distance && userMetadata">
                        {{
                          getDistance(
                            activity.distance,
                            userMetadata.unitSystem
                          )
                        }}
                        -
                      </span>
                      {{ activity.geolocation }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noPostActivity>
            <div *ngIf="postsLoadedOnce" class="no-post-activity">
              <span class="text"> {{ 'MAIN.ACTIVITY.NO_POST_ACTIVITY' | translate }} </span>
              <span class="text time"> {{ 'MAIN.ACTIVITY.NO_POST_TIME' | translate }} </span>
              <span class="material-icons icon"> insights </span>
            </div>
          </ng-template>
        </spot-infinite-scroll>
        <div
          *ngIf="(showPostsIndicator$ | async) && postActivityLoading"
          class="loading"
        >
          <spot-spinner size="medium" type="dot"></spot-spinner>
        </div>
      </div>

      <div
        class="activity-comments-container"
        *ngIf="selectedTab === 'commentsreplies'"
      >
        <spot-infinite-scroll (scrolled)="onScrollComments()">
          <div *ngIf="commentActivity.length > 0; else noCommentActivity">
            <div
              class="activity-comment"
              *ngFor="let activity of commentActivity"
            >
              <div class="activity-header">
                <div class="date">
                  <span *ngIf="activity.parent_id === null; else replyDate">
                    {{ 'MAIN.ACTIVITY.DATE_COMMENT_PROMPT' | translate }}
                  </span>
                  <ng-template #replyDate>
                    {{ 'MAIN.ACTIVITY.DATE_REPLY_PROMPT' | translate }}
                  </ng-template>
                  {{ formatDate(activity.creation_date) }}
                  {{ 'MAIN.ACTIVITY.DATE_PROMPT_END' | translate }}
                </div>
                <a
                  class="comment-link"
                  [routerLink]="
                    '/posts/' +
                    activity.post_link +
                    '/comments/' +
                    activity.link
                  "
                >
                  {{ 'MAIN.ACTIVITY.COMMENTS_OPEN' | translate }}
                </a>
              </div>
              <div class="comment-content">
                <div class="image" *ngIf="activity.image_src">
                  <img [src]="activity.image_src" />
                </div>
                <div class="comment-info">
                  <div class="content-preview-comment">
                    {{ activity.content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noCommentActivity>
            <div *ngIf="commentsLoadedOnce" class="no-comment-activity">
              <span class="text"> {{ 'MAIN.ACTIVITY.NO_COMMENT_ACTIVITY' | translate }} </span>
              <span class="text time"> {{ 'MAIN.ACTIVITY.NO_COMMENT_TIME' | translate }} </span>
              <span class="material-icons icon"> insights </span>
            </div>
          </ng-template>
        </spot-infinite-scroll>
        <div
          *ngIf="(showCommentsIndicator$ | async) && commentActivityLoading"
          class="loading"
        >
          <spot-spinner size="medium" type="dot"></spot-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
