@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
  }

.activity-container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    padding-top: 60px;
    background-color: $background-grey;
    box-sizing: border-box;
}

.activity-content {
  display: flex;
  flex-flow: column;
  width: 50%;
}

// Tabs

.tab-container {
  position: fixed;
  background-color: $background-grey;
  display: flex;
  width: 100%;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.tab {
  cursor: pointer;
  margin-right: 10px;
}

.selected {
  height: 5px;
  background-color: $button-highlight;
  display: none;
}

.show {
  display: block;
}

// common

.date {
  color: $subtle-grey;
  font-size: 16px;
}

.horiz-bar {
  width: 100%;
  border-bottom: 1px solid $lighter-grey;
}

.bar-wrapper {
  display: flex;
}

.bar {
  background-color: $subtle-grey;
  width: 3px;
  margin-right: 10px;
  margin-left: 20px;
}

.image {
  display: flex;
  align-items: center;
  margin-right: 10px;
  max-width: 120px;
}

img {
  max-height: 100px;
  max-width: 120px;
}

.content-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 5px;
}

.content-container {
  margin-top: 75px;
}

// posts

.activity-post {
  margin-bottom: 15px;

  .activity-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .post-link {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $subtle-grey;
      margin-left: 10px;
      &:hover {
        color: $button-highlight;
      }

      .icon {
        font-size: 16px;
      }

    }

  }

}

.post-content {
  display: flex;
  padding: 10px 0px 5px 0px;
  width: 100%;
  margin-left: 20px;
}

.post-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc(100% - 120px);
}

.info-bar {
  color: $subtle-grey;
}

.info-bar-item {
  margin-right: 10px;
}


// comments and replies

.post-content-comment {
  flex-flow: column;
  width: 90%;
  display: flex;
  padding: 5px 0px;
}

.comment-content {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  margin-left: 15px;
}

.parent-comment {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin-left: 15px;
}

.comment-content-reply {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  margin-left: 45px;
}

.comment-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc(100% - 120px);
}

.comment-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $subtle-grey;
  margin-bottom: 5px;
  &:hover {
    color: $button-highlight;
  }
}

// For Mobile
@media screen and (max-width: $mobile-width) {
  .activity-content {
    width: 90%;
  }

  .info-bar {
    display: flex;
    flex-flow: column;
  }

}
