<spot-main-nav></spot-main-nav>
<div class="activity-container">
  <div class="activity-content">

    <div class="tab-container">
      <div class="tab" (click)="setTab('posts')">
        {{ STRINGS.POSTS }}
        <div class="selected" [ngClass]="{'show': selectedTab == 'posts'}"></div>
      </div>
      <div class="tab" (click)="setTab('commentsreplies')">
        {{ STRINGS.COMMENTS_REPLIES }}
        <div class="selected" [ngClass]="{'show': selectedTab == 'commentsreplies'}"></div>
      </div>
    </div>

    <div class="content-container">

      <div class="activity-posts-container" *ngIf="selectedTab == 'posts'">
        <spot-infinite-scroll (scrolled)="onScrollPost()">
          <div *ngIf="postActivity.length > 0; else noPostActivity">
            <div class="activity-post" *ngFor="let activity of postActivity">

              <div class="activity-header">
                <div class="date">
                  {{ STRINGS.DATE_POST_PROMPT }} {{ formatDate(activity.creation_date) }} {{ STRINGS.DATE_PROMPT_END }}
                </div>
                <div class="post-link" (click)="openPost(activity.link)">
                  {{ STRINGS.POSTS_OPEN }}
                </div>
              </div>

              <div class="horiz-bar"></div>

              <div class="post-content">
                <div class="image" *ngIf="activity.image_src">
                  <img [src]="activity.image_src">
                </div>
                <div class="post-info">
                  <div class="content-preview"> {{ activity.content }} </div>
                  <div class="info-bar">
                    <span class="info-bar-item"> {{ STRINGS.POSTS_SCORE }} {{ activity.likes - activity.dislikes }} </span>
                    <span class="info-bar-item"> {{ STRINGS.POSTS_COMMENTS }} {{ activity.comments }}  </span>
                    <span *ngIf="accountMetadata$ | async as accountMetadata" class="info-bar-item">
                      {{ STRINGS.POSTS_LOCATION }}
                      <span *ngIf="activity.distance"> {{ getDistance(activity.distance, accountMetadata.distance_unit) }} - </span>
                      {{ activity.geolocation }}
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <ng-template #noPostActivity>
            <div class="no-post-activity">
              <span class="text"> {{ STRINGS.NO_POST_ACTIVITY }} </span>
              <span class="material-icons icon"> insights </span>
            </div>
          </ng-template>
        </spot-infinite-scroll>
        <div *ngIf="postActivityLoading" class="loading">
          <span class="text"> {{ STRINGS.LOADING_POST_ACTIVITY }} </span>
          <spot-spinner size="medium"></spot-spinner>
        </div>
      </div>

      <div class="activity-comments-container" *ngIf="selectedTab == 'commentsreplies'">
        <spot-infinite-scroll (scrolled)="onScrollComments()">
          <div *ngIf="commentActivity.length > 0; else noCommentActivity">
            <div class="activity-comment" *ngFor="let activity of commentActivity">

              <div class="activity-header">
                <div class="date">
                  <span *ngIf="activity.parent_id == null; else replyDate"> {{ STRINGS.DATE_COMMENT_PROMPT }} </span>
                  <ng-template #replyDate> {{ STRINGS.DATE_REPLY_PROMPT }} </ng-template>
                  {{ formatDate(activity.creation_date) }}
                  {{ STRINGS.DATE_PROMPT_END }}
                </div>
                <div class="comment-link" (click)="openComment(activity.post_link, activity.link)">
                  {{ STRINGS.COMMENTS_OPEN }}
                </div>
              </div>

              <div class="horiz-bar"></div>

              <div class="comment-content">
                <div class="image" *ngIf="activity.image_src">
                  <img [src]="activity.image_src">
                </div>
                <div class="comment-info">
                  <div class="content-preview-comment"> {{ activity.content }} </div>
                </div>
              </div>

            </div>
          </div>
          <ng-template #noCommentActivity>
            <div class="no-comment-activity">
              <span class="text"> {{ STRINGS.NO_COMMENT_ACTIVITY }} </span>
              <span class="material-icons icon"> insights </span>
            </div>
          </ng-template>
        </spot-infinite-scroll>
        <div *ngIf="commentActivityLoading" class="loading">
          <span class="text"> {{ STRINGS.LOADING_COMMENT_ACTIVITY }} </span>
          <spot-spinner size="medium"></spot-spinner>
        </div>
      </div>

    </div>
  </div>
</div>
