@import '../../../styles/colors';
@import '../../../styles/sizes';

spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}

.activity-container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding-top: 60px;
  background-color: $background-grey;
  box-sizing: border-box;
}

.activity-content {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.loading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  spot-spinner {
    margin-top: 25px;
  }
}

// Tabs

.tab-container {
  position: fixed;
  background-color: $background-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.tab {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.selected {
  height: 3px;
  background-color: $button-highlight;
  display: none;
}

.show {
  display: block;
}

// common

.date {
  color: $subtle-grey;
  font-size: 16px;
}

.horiz-bar {
  width: 100%;
  border-bottom: 1px solid $lighter-grey;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
}

img {
  max-height: 100px;
  max-width: 120px;
}

.image-blur {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.image-blur-text {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $background-grey;
  padding: 5px 5px;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  .icon {
    font-size: 42px;
    color: $button-highlight;
  }
}

.content-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 5px;
}

.content-container {
  margin-top: 10px;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 5px 10px;

  .post-link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $subtle-grey;
    margin-left: 10px;
    &:hover {
      color: $button-highlight;
    }

    .icon {
      font-size: 16px;
    }
  }
}

// posts

.activity-posts-container {
  .activity-post {
    margin-bottom: 15px;
  }

  .post-content {
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: white;

    .post-info {
      display: flex;
      flex-flow: column;
      justify-content: center;
      overflow: hidden;

      .info-bar {
        color: $subtle-grey;
      }

      .info-bar-item {
        margin-right: 10px;
      }
    }
  }

  .no-post-activity {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .text {
      text-align: center;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .time {
      text-align: center;
      font-size: 14px;
      color: $subtle-grey;
    }

    .icon {
      font-size: 36px;
      color: $button-highlight;
    }
  }
}

// comments and replies

.activity-comments-container {
  .activity-comment {
    margin-bottom: 15px;
  }

  .comment-content {
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    background-color: white;

    .content-preview-comment {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }

    .comment-info {
      display: flex;
      flex-flow: column;
      justify-content: center;
      overflow: hidden;
    }
  }

  .no-comment-activity {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .text {
      text-align: center;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .time {
      text-align: center;
      font-size: 14px;
      color: $subtle-grey;
    }

    .icon {
      font-size: 36px;
      color: $button-highlight;
    }
  }
}

.comment-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $subtle-grey;
  margin-left: 10px;
  &:hover {
    color: $button-highlight;
  }

  .icon {
    font-size: 16px;
  }
}

// For Mobile
@media screen and (max-width: $mobile-width) {
  .activity-content {
    width: 95%;
  }

  .tab-container {
    width: 95%;
  }

  .info-bar {
    display: flex;
    flex-flow: column;
  }
}
