@import '../../../styles/colors';
@import '../../../styles/sizes';

// Register

.register {
    display: flex;
    flex-flow: column;
    padding-top: 100px;
    align-items: center;
    position: relative;
    height: calc(100vh - 84px - 28px);
    width: 100vw;
    overflow-y: auto;
    box-sizing: border-box;
}

.register-text {
    font-size: 26px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $facebook-blue;
  color: white;
  font-size: 14px;
  padding: 12px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 240px;
}

.facebook-logo {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

fieldset {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.error-message {
    text-align: center;
    color: $error-red;
    margin-bottom: 10px;
    max-width: 300px;
}

input {
    width: 300px;
    padding: 8px 12px;
    margin: 6px 0px;
    box-sizing: border-box;
    border: 1px solid $subtle-grey;
    outline: none;
}

input.ng-dirty.ng-invalid {
    border: 1px solid $error-red;
}

.form-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.sign-up-alternate {
    margin-bottom: 10px;
}

.form-buttons {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;

    button {

      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-black;
      color: $button-font-white;
      padding: 12px 24px;
      font-size: 14px;

      &:hover {
          background-color: lighten($button-black, 10%);
      }

  }

}

.terms-and-conditions {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  input {
    width: auto;
    margin: 0px 3px 0px 0px;
  }

  a {
    text-decoration: none;
    color: $subtle-grey;
    &:hover {
      color: $button-highlight;
    }
  }

}

// EXISTING ACCOUNT

.bar {
    width: 300px;
    border-bottom: 1px solid $button-black;
    margin-bottom: 10px;
}

.existing-account {
    color: black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.sign-in-highlight {
    color: $button-highlight;
}

// COPYRIGHT

.copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
}

// Mobile Stylings
@media screen and (max-width: $mobile-width) {

  .register {
      padding-top: 10px;
  }

}

@media screen and (max-height: 800px) {

  .register {
      padding-top: 10px;
  }

}
