<spot-nav></spot-nav>
<div class="register">
  <div
    class="container col-center background-container container-shadow container-rounded border-box relative"
  >
    <div class="title-lg margin-b-lg">
      {{ 'PRE_AUTH.REGISTER.TITLE' | translate }}
    </div>

    <form
      [formGroup]="registerForm"
      (keyup.enter)="register()"
      autocomplete="off"
      class="form"
    >
      <fieldset class="fieldset">
        <div class="form-field">
          <input
            name="email"
            formControlName="email"
            class="input-border"
            autocomplete="off"
            placeholder="{{
              'PRE_AUTH.REGISTER.EMAIL_PLACEHOLDER' | translate
            }}"
            required
          />
        </div>
        <!-- Email errors -->
        <div
          *ngIf="email.invalid && email.dirty && email.touched"
          class="form-text-error full-width"
        >
          <div *ngIf="email.errors?.['forbiddenName']">
            {{ 'PRE_AUTH.LANDING.EMAIL_INVALID' | translate }}
          </div>
        </div>

        <!-- Username -->
        <div class="form-field">
          <input
            name="username"
            formControlName="username"
            class="input-border"
            autocomplete="off"
            placeholder="{{
              'PRE_AUTH.REGISTER.USERNAME_PLACEHOLDER' | translate
            }}"
            required
          />
        </div>
        <!-- Username errors -->
        <div
          *ngIf="username.invalid && username.dirty && username.touched"
          class="form-text-error full-width"
        >
          <div
            *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']"
          >
            {{ 'PRE_AUTH.LANDING.USERNAME_LENGTH' | translate }}
          </div>
          <div *ngIf="username.errors?.['forbiddenName']">
            {{ 'PRE_AUTH.LANDING.USERNAME_INVALID' | translate }}
          </div>
        </div>

        <!-- Password -->
        <div class="form-field">
          <input
            name="password"
            formControlName="password"
            class="input-border"
            autocomplete="off"
            placeholder="{{
              'PRE_AUTH.REGISTER.PASSWORD_PLACEHOLDER' | translate
            }}"
            type="password"
            required
          />
        </div>
        <!-- Password errors -->
        <div
          *ngIf="password.invalid && password.dirty && password.touched"
          class="form-text-error full-width"
        >
          <div
            *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']"
          >
            {{ 'PRE_AUTH.LANDING.PASSWORD_LENGTH' | translate }}
          </div>
          <div *ngIf="password.errors?.['forbiddenName']">
            {{ 'PRE_AUTH.LANDING.PASSWORD_INVALID' | translate }}
          </div>
        </div>

        <!-- Phone -->
        <div class="form-field">
          <input
            name="phone"
            formControlName="phone"
            class="input-border"
            autocomplete="off"
            placeholder="{{
              'PRE_AUTH.REGISTER.PHONE_PLACEHOLDER' | translate
            }}"
            required
          />
        </div>
        <!-- Phone errors -->
        <div
          *ngIf="phone.invalid && phone.dirty && phone.touched"
          class="form-text-error full-width"
        >
          <div *ngIf="phone.errors?.['forbiddenName']">
            {{ 'PRE_AUTH.LANDING.PHONE_INVALID' | translate }}
          </div>
        </div>
      </fieldset>

      <div class="col-center margin-t-md margin-b-lg text-center">
        <div class="row-v-center full-width">
          <label class="checkbox-container">
            <input
              name="terms"
              formControlName="terms"
              type="checkbox"
              required
            />
            <span class="checkmark"></span>
          </label>
          <span>
            {{ 'PRE_AUTH.REGISTER.TERMS_AND_CONDITIONS' | translate }}
          </span>
        </div>
        <div class="text-secondary-highlight" (click)="openTerms()">
          {{ 'PRE_AUTH.REGISTER.TERMS_AND_CONDITIONS_LINK' | translate }}
        </div>
      </div>
      <!-- Terms error -->
      <div
        *ngIf="terms.invalid && terms.touched"
        class="form-text-error full-width text-center"
      >
        <div *ngIf="terms.errors?.['required']">
          {{ 'PRE_AUTH.LANDING.TERMS_REQUIRED' | translate }}
        </div>
      </div>

      <div class="text-error text-center margin-b-lg">
        {{ errorMessage }}
      </div>

      <div class="col-center full-width margin-b-lg">
        <button
          class="button"
          [class.button-loading]="registerLoading"
          [class.button-disabled]="registerLoading"
          (click)="register()"
        >
          {{ 'PRE_AUTH.REGISTER.SIGN_UP' | translate }}
        </button>
      </div>
      <div class="margin-b-lg">
        <span> {{ 'PRE_AUTH.REGISTER.SIGN_UP_ALTERNATE' | translate }} </span>
      </div>

      <!-- facebook and google login -->
      <div class="col-center full-width margin-b-lg">
        <!-- Google Signin button -->
        <div id="googleButtonRegister"></div>
        <!-- Facebook -->
        <button
          *ngIf="facebookLoaded"
          class="button-facebook margin-t-md"
          (click)="facebookLogin()"
        >
          <img
            src="/assets/images/facebook_logo_white.png"
            class="icon-facebook"
          />
          <span class="text-facebook">{{
            'PRE_AUTH.REGISTER.FACEBOOK_LOGIN' | translate
          }}</span>
        </button>
      </div>
    </form>

    <div class="bar"></div>

    <a class="text-black" [routerLink]="'/login'">
      <span> {{ 'PRE_AUTH.REGISTER.EXISTING_ACCOUNT' | translate }} </span>
      <span class="text-primary">
        {{ 'PRE_AUTH.REGISTER.SIGN_IN' | translate }}
      </span>
    </a>
  </div>
</div>

<div class="footer">
  <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#00BFA5"
      fill-opacity="1"
      d="M0,64L40,106.7C80,149,160,235,240,245.3C320,256,400,192,480,176C560,160,640,192,720,213.3C800,235,880,245,960,245.3C1040,245,1120,235,1200,224C1280,213,1360,203,1400,197.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
    ></path>
  </svg>
  <svg
    class="inner-wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#00dec0"
      fill-opacity="1"
      d="M0,192L21.8,186.7C43.6,181,87,171,131,170.7C174.5,171,218,181,262,197.3C305.5,213,349,235,393,224C436.4,213,480,171,524,165.3C567.3,160,611,192,655,213.3C698.2,235,742,245,785,245.3C829.1,245,873,235,916,229.3C960,224,1004,224,1047,208C1090.9,192,1135,160,1178,176C1221.8,192,1265,256,1309,277.3C1352.7,299,1396,277,1418,266.7L1440,256L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
    ></path>
  </svg>

  <div class="copyright">
    <span> &#169; {{ 'PRE_AUTH.REGISTER.COPYRIGHT' | translate }} </span>
  </div>
</div>
