<div class="nav">
  <span class="title" (click)="navigateHome()"> {{ STRINGS.TITLE }} </span>
  <div *ngIf="account$ | async as myaccount; else noAccount" class="features">
    <div class="score">
      <i class="material-icons hot"> whatshot </i>
      <span> {{ myaccount.score }} </span>
    </div>
    <div class="notifications" #notifications>
      <i class="material-icons" (click)="toggleNotifications()"> notifications_none </i>
      <div *ngIf="unreadNotifications != '0'" class="unread" (click)="toggleNotifications()"> {{ unreadNotifications }} </div>
      <spot-notifications *ngIf="showNotifications"></spot-notifications>
    </div>
    <div #account class="account" (click)="accountSetDropdown(true)">
      <i class="material-icons icon"> person_outline </i>
      <span class="username"> {{ myaccount.username }} </span>
      <div class="dropdown-content" [ngClass]="{'show': accountShowDropdown }">
        <div class="button" (click)="activity()"> {{ STRINGS.ACTIVITY }} </div>
        <div class="button" (click)="friends()"> {{ STRINGS.FRIENDS }} </div>
        <div class="button" (click)="navigateAccount()"> {{ STRINGS.ACCOUNT }} </div>
        <div class="button" (click)="logout()"> {{ STRINGS.LOGOUT }} </div>
      </div>
    </div>
  </div>
  <ng-template #noAccount>
    <div class="login" (click)="navigateLogin()"> {{ STRINGS.LOGIN }} </div>
  </ng-template>
</div>
