<div class="spot-confirm">
  <div class="header">
    {{ 'MAIN.CONFIRM.TITLE' | translate }}
  </div>

  <div *ngIf="data; else default">
    <div class="message">
      {{ data.message }}
    </div>
  </div>
  <ng-template #default>
    <div class="message">
      {{ 'MAIN.CONFIRM.MESSAGE' | translate }}
    </div>
  </ng-template>

  <div class="buttons-container">
    <div class="button confirm" (click)="confirm()">{{ 'MAIN.CONFIRM.CONFIRM' | translate }}</div>
    <div class="button cancel" (click)="cancel()">{{ 'MAIN.CONFIRM.CANCEL' | translate }}</div>
  </div>
</div>
