.spot-confirm {
  display: flex;
  flex-flow: column;

  .header {
    padding: 5px 10px;
    background-color: var(--background-primary);
    width: 100%;
    border-bottom: 1px solid var(--background-secondary);
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .message {
    flex: 1;
    text-align: center;
    padding: 10px;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    button {
      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 75px;
      height: 25px;
      padding: 5px;
      margin: 0px 2px;
    }

    .confirm {
      background-color: var(--primary);

      &:hover {
        background-color: var(--primary-highlight);
      }
    }

    .cancel {
      background-color: var(--error-light);

      &:hover {
        background-color: var(--error-light-highlight);
      }
    }
  }
}
