<div class="spot-confirm">
  <div class="header">
    {{ STRINGS.TITLE }}
  </div>

  <div *ngIf="data; else default">
    <div class="message">
      {{ data.message }}
    </div>
  </div>
  <ng-template #default>
    <div class="message">
      {{ STRINGS.MESSAGE }}
    </div>
  </ng-template>

  <div class="buttons-container">
    <div class="button confirm" (click)="confirm()">{{ STRINGS.CONFIRM }}</div>
    <div class="button cancel" (click)="cancel()">{{ STRINGS.CANCEL }}</div>
  </div>
</div>
