@import '../../../styles/colors';
@import '../../../styles/sizes';

.spot-auth-modal {

  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: $lighter-grey;

    .title {
      color: black;
    }

    .close {
      display: flex;
      align-items: center;
      color: $subtle-grey;
      &:hover {
        cursor: pointer;
        color: $error-red;
      }
    }

  }

  .content {

    padding: 10px 10px;

    .tab-container {

      display: flex;
      width: 100%;

      .tab {

        background-color: $lighter-grey;
        color: $subtle-grey;
        text-align: center;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        cursor: pointer;

      }

      .selected {
        background-color: $button-highlight;
        color: white;
      }

    }

    .login {

    }

    .register {

    }


  }

}


// Common form models

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-options {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $facebook-blue;
  color: white;
  font-size: 14px;
  padding: 12px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 240px;
}

.facebook-logo {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

fieldset {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.error-message {
  text-align: center;
  color: $error-red;
}

input.ng-dirty.ng-invalid {
  border: 1px solid $error-red;
}

.form-field {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

a {

  text-decoration: none;
  color: $subtle-grey;
  &:hover {
    color: $button-highlight;
  }

}

.button {
  background-color: $button-black;
  width: 100px;
  border: none;
  color: $button-font-white;
  padding: 12px 12px;
  text-decoration: none;
  margin: 4px 2px;
  outline: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
      background-color: lighten($button-black, 10%);
  }
}

input {
  width: 300px;
  padding: 8px 12px;
  margin: 6px 0px;
  box-sizing: border-box;
  border: 1px solid $subtle-grey;
  outline: none;
}

.terms-and-conditions {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  input {
    width: auto;
    margin: 0px 3px 0px 0px;
  }

  a {
    text-decoration: none;
    color: $subtle-grey;
    &:hover {
      color: darken($subtle-grey, 5%);
    }
  }

}
