@import '../../../styles/sizes';

.spot-auth-modal {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--background-primary);

    .title {
      color: black;
    }

    .close {
      display: flex;
      align-items: center;
      color: var(--icon-secondary);
      &:hover {
        cursor: pointer;
        color: var(--error);
      }
    }
  }

  .content {
    padding: 10px 10px;

    .tab-container {
      display: flex;
      width: 100%;

      .tab {
        background-color: var(--background-primary);
        color: var(--text-secondary);
        text-align: center;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 20px;
        cursor: pointer;
      }

      .selected {
        background-color: var(--primary);
        color: white;
      }
    }

    .login {
    }

    .register {
    }
  }
}

// Common form models

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-options {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--facebook);
  color: white;
  font-size: 14px;
  padding: 12px 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 240px;
}

.facebook-logo {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

fieldset {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.error-message {
  text-align: center;
  color: var(--error);
}

input.ng-dirty.ng-invalid {
  border: 1px solid var(--error);
}

.form-field {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  &:hover {
    color: var(--primary);
  }
}

button {
  background-color: var(--button-background);
  width: 100px;
  border: none;
  color: var(--button-text);
  padding: 12px 12px;
  text-decoration: none;
  margin: 4px 2px;
  outline: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--button-background-highlight);
  }

  button.disabled {
    background-color: var(--button-disabled);
    cursor: not-allowed;
  }
}

.disabled {
  background-color: var(--background-secondary);
  cursor: not-allowed;
}

input {
  width: 300px;
  padding: 8px 12px;
  margin: 6px 0px;
  box-sizing: border-box;
  border: 1px solid var(--input-border);
  outline: none;
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  flex-flow: column;

  .checkbox-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .text {
    cursor: pointer;
    color: var(--text-secondary);
    &:hover {
      color: var(--primary);
    }
  }
}

// Checkbox stuff

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 23px;
  margin-top: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid var(--input-border);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
