<div class="spot-auth-modal">

  <div class="header">
    <span class="title"> {{ STRINGS.TITLE }} </span>
    <span class="close" (click)="close()"> <span class="material-icons"> clear </span> </span>
  </div>

  <div class="content">

    <div class="tab-container">
      <div class="tab" (click)="selectTab('login')" [ngClass]="{'selected': selectedTab == 'login'}"> {{ STRINGS.LOGIN }} </div>
      <div class="tab" (click)="selectTab('register')" [ngClass]="{'selected': selectedTab == 'register'}"> {{ STRINGS.REGISTER }} </div>
    </div>

    <div *ngIf="selectedTab == 'login'" class="login">

      <form [formGroup]="loginForm" (keyup.enter)="login()">
        <fieldset>
          <div class="form-field">
              <input name="emailOrUsername" formControlName="emailOrUsername" [placeholder]="STRINGS.EMAIL_OR_USERNAME_PLACEHOLDER" required>
          </div>
          <div class="form-field">
              <input name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" type="password" required>
          </div>
        </fieldset>
        <div class="error-message">
          {{ errorMessage }}
        </div>
        <div class="form-buttons">
          <button type="button" class="button" (click)="login()"> {{ STRINGS.LOGIN_BUTTON }} </button>
        </div>
        <a (click)="close()" [routerLink]="'/password-reset'"> {{ STRINGS.FORGOT_PASSWORD }} </a>
      </form>

    </div>

    <div *ngIf="selectedTab == 'register'" class="register">

      <form [formGroup]="registerForm" (keyup.enter)="register()">
        <fieldset>
          <div class="form-field">
              <input name="email" formControlName="email" [placeholder]="STRINGS.EMAIL_PLACEHOLDER" required>
          </div>
          <div class="form-field">
              <input name="username" formControlName="username" [placeholder]="STRINGS.USERNAME_PLACEHOLDER" required>
          </div>
          <div class="form-field">
              <input name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" type="password" required>
          </div>
          <div class="form-field">
              <input name="phone" formControlName="phone" [placeholder]="STRINGS.PHONE_PLACEHOLDER" required>
          </div>
        </fieldset>

        <div class="terms-and-conditions">
          <div>
            <input name="terms" formControlName="terms" type="checkbox" required/>
            <span> {{ STRINGS.TERMS_AND_CONDITIONS }} </span>
          </div>
          <a (click)="close()" [routerLink]="'/terms'"> {{ STRINGS.TERMS_AND_CONDITIONS_LINK }} </a>
        </div>

        <div class="error-message">
          {{ registerErrorMessage }}
        </div>

        <div class="form-buttons">
          <button type="button" class="button" (click)="register()"> {{ STRINGS.REGISTER_BUTTON }} </button>
        </div>
      </form>

    </div>

    <div class="login-options">
      <div type="button" class="facebook" (click)="facebookLogin()">
        <img src="../../../assets/images/facebook_logo_white.png" class="facebook-logo">
        {{ STRINGS.FACEBOOK_LOGIN }}
      </div>
      <!-- GOOGLE -->
      <div id="my-signin2"></div>
    </div>

  </div>

</div>
