doctype html

html(lang='en')
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Welcome to Spot
        style(type='text/css').
            * {
                margin: 0;
                font-family: 'Noto Sans JP', sans-serif;
                box-sizing: border-box;
            }
            body {
                -webkit-font-smoothing: antialiased;
                -webkit-text-size-adjust: none;
                width: 100% !important;
                height: 100%;
                line-height: 1.6em;
            }
            /* -------------------------------
            CONTAINER
            -------------------------------- */
            .container {
                align-items: center;
                background-color: #EEEEEE;
                width: 100%;
                min-width: 300px;
            }

            /* -------------------------------
            TITLE
            -------------------------------- */
            .title {
                font-size: 32px;
                text-align: center;
                background-color: #202124;
                padding: 12px;
            }
            img {
                width: 125px;
            }

            /* -------------------------------
            CONTENT
            -------------------------------- */
            .content {
                padding: 12px;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                max-width: 475px;
                background-color: white;
            }
            .content__text {
                text-align: center;
            }
            .big-text {
                font-size: 22px;
                padding-top: 10px;
                padding-bottom: 25px;
            }
            .small-text {
                font-size: 14px;
                margin-bottom: 15px;
            }
            .highlight {
                color: #00BFA5;
            }
            .link {
                margin-top: 15px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
            }
            a {
                color: white;
                padding: 10px 20px;
                text-decoration: none;
                width: 250px;
                background-color: #00BFA5;
                border-radius: 25px;
                text-align: center;
            }
            .link-text {
                font-size: 14px;
                margin-top: 15px;
            }
            .link-text-highlight {
                font-size: 14px;
                margin-bottom: 15px;
                color: blue;
                text-decoration: underline;
            }


            /* -------------------------------
            FOOTER
            -------------------------------- */
            .footer {
                padding: 12px;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                max-width: 475px;
                background-color: #202124;
            }
            .footer__text {
                color: white;
                font-size: 14px;
                text-align: center;
            }

            /* -------------------------------
            Small Screens
            -------------------------------- */
            @media only screen and (max-width: 550px) {
                .content {
                    width: 100%;
                }
                .footer {
                    width: 100%;
                }
            }

    body

        div.container

            div.title
                img(src="cid:spotlogo")

            div.content

                div.content__text 
                    div.big-text 
                        span Welcome to 
                        span.highlight Spot
                        span <strong> #{username} </strong>
                    div.small-text Thank you for joining Spot. After your account is verified you will be able to start making your own spots and comments
                    div.big-text Click the link below to verify your account

                div.link
                    a(href=`${link}`) Click to verify your account

                div.content__text
                    div.link-text If the above link does not work, please visit
                    div.link-text-highlight #{link}

            div.footer

                div.footer__text Spottables.com
