<div class="row-h-center full-size margin-t-xl background-container border-box">
  <div class="col-center margin-lg flex-fill">
    <span class="text-center"> There is a spot chat near you</span>
    <span class="text-center text-secondary">Location: QNC (0.5 km)</span>
  </div>
  <div class="col-center margin-lg flex-fill">
    <button class="button" (click)="joinRoom()">Join Room</button>
    <span class="row-center margin-t-sm">
      <span class="material-icons icon-secondary"> person </span>
      <span class="text-secondary margin-l-sm">4 chatting now</span>
    </span>
  </div>
</div>
