
<spot-main-nav></spot-main-nav>
<div class="post-detailed">
  <div class="loading" *ngIf="loadingPost && (showLoadingIndicator$ | async); else post">
    <span class="text"> {{ STRINGS.LOADING }} </span>
    <spot-spinner size="medium" type="dot"></spot-spinner>
  </div>
  <ng-template #post>
    <div class="content" *ngIf="post$ | async as post">
      <meta property="og:url"           content="{{ getPostLink(post) }}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Spot" />
      <meta property="og:description"   content="A friend has sent you a spot" />
      <meta property="og:image"         content="{{ post.image_src }}" />
      <spot-post [post]="post" [detailed]="true"></spot-post>
    </div>
  </ng-template>
  <div class="error" *ngIf="error">
    <span class="material-icons icon"> error_outline </span>
    <span class="text"> {{ STRINGS.NO_POST }} </span>
   </div>
</div>
