<spot-main-nav></spot-main-nav>
<div class="post-detail">
  <!-- Location is denied-->
  <div *ngIf="locationFailure === 'prompt'" class="col-center margin-v-xl">
    <span class="material-icons icon-primary"> place </span>
    <span class="">{{ 'MAIN.POST_DETAILED.LOCATION' | translate }} </span>
    <span class="text-secondary-highlight" (click)="getLocation()">
      {{ 'MAIN.POST_DETAILED.RELOAD' | translate }}
    </span>
  </div>

  <!-- Location is loading -->  
  <div *ngIf="locationLoading && !loadingSpot" class="col-center margin-v-xl">
    <span class="text">
      {{ 'MAIN.POST_DETAILED.LOCATION_LOADING' | translate }}
    </span>
    <span class="text-secondary-highlight" (click)="skipLocation()">
      {{ 'MAIN.POST_DETAILED.LOCATION_SKIP' | translate }}
    </span>
    <spot-spinner class="margin-t-sm" size="medium" type="dot"></spot-spinner>
  </div>

  <!-- Loading Spot -->
  <div
    class="col-center margin-v-xl"
    *ngIf="loadingSpot && (showLoadingIndicator$ | async); else loaded"
  >
    <span class="margin-b-sm"> {{ 'MAIN.POST_DETAILED.LOADING' | translate }} </span>
    <spot-spinner size="medium" type="dot"></spot-spinner>
  </div>
  <!-- The Spot -->
  <ng-template #loaded>
    <div class="content" *ngIf="spot && !locationLoading">
      <meta property="og:url" content="{{ getSpotLink(spot) }}" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Spot" />
      <meta property="og:description" content="A friend has sent you a spot" />
      <meta property="og:image" content="{{ spot.imageSrc }}" />
      <spot-post [spot]="spot" [detailed]="true"></spot-post>
    </div>
  </ng-template>

  <!-- Error Loading Spot -->
  <div class="col-center margin-v-xl" *ngIf="error">
    <span class="material-icons icon-error"> error_outline </span>
    <span class="padding-t-md"> {{ 'MAIN.POST_DETAILED.NO_SPOT' | translate }} </span>
  </div>
</div>
