<spot-nav></spot-nav>
<div class="new-password">
  <div class="container">
    <div class="title">{{ STRINGS.TITLE }}</div>

    <div class="description">
      <i class="material-icons icon"> security </i>
      <div *ngIf="token; else validTokenDescription">
        <span class="text"> {{ STRINGS.CREATE_PASSWORD }} </span>
      </div>
      <ng-template #validTokenDescription>
        <span class="text"> {{ STRINGS.DESCRIPTION }} </span>
      </ng-template>
    </div>

    <div class="form-container" *ngIf="!token; else validToken">
      <form [formGroup]="formToken" (keyup.enter)="validateToken()">
        <div class="form-group">
          <input
            type="text"
            name="token"
            formControlName="token"
            [placeholder]="STRINGS.TOKEN_PLACEHOLDER"
            required
          />
          <div *ngIf="tokenLoading" class="loading">
            <spot-spinner size="small"></spot-spinner>
          </div>
        </div>

        <div class="error-message">{{ errorMessage }}</div>

        <div class="success-message">{{ successMessage }}</div>

        <button
          (click)="validateToken()"
          [ngClass]="{ disabled: buttonsDisabled }"
        >
          {{ STRINGS.VALIDATE }}
        </button>
      </form>
    </div>

    <ng-template #validToken>
      <form [formGroup]="formPassword">
        <div class="form-group">
          <input
            type="text"
            name="password"
            formControlName="password"
            [placeholder]="STRINGS.PASSWORD_PLACEHOLDER"
            type="password"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            name="confirm"
            formControlName="confirm"
            [placeholder]="STRINGS.CONFIRM_PLACEHOLDER"
            type="password"
            required
          />
        </div>

        <div class="error-message">{{ errorMessage }}</div>

        <div class="success-message">{{ successMessage }}</div>

        <button
          *ngIf="!successMessage"
          (click)="resetPassword()"
          [ngClass]="{ disabled: buttonsDisabled }"
        >
          {{ STRINGS.RESET_PASSWORD }}
        </button>
      </form>
    </ng-template>
  </div>
</div>
