.new-password {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-page);
  min-height: calc(100% - 84px);
  box-sizing: border-box;
}

.container {
  z-index: 9;
  margin-bottom: 50px;
  max-width: 600px;
  min-width: min(50%, 500px);
}

.form-text-error {
  width: 300px;
}

// FOOTER
.footer {
  height: 500px;
  width: 100%;
  display: table;
  overflow: hidden;
  background-color: var(--background-page);
  position: fixed;
  bottom: 0px;
  left: 0px;

  .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .inner-wave {
    position: absolute;
    bottom: -50px;
    left: 0px;
  }

  .copyright {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
    color: white;
  }
}
