<spot-nav></spot-nav>
<div class="new-password">

  <div class="form-container" *ngIf="token == ''; else validToken">

    <form [formGroup]="formToken">

      <div class="form-group">
        <input type="text" name="token" formControlName="token" [placeholder]="STRINGS.TOKEN_PLACEHOLDER" required>
      </div>

      <div class="button" (click)="validateToken()"> {{ STRINGS.VALIDATE }} </div>

      <div class="error-message"> {{ errorMessage }} </div>

      <div class="success-message"> {{ successMessage }} </div>

    </form>

  </div>

  <ng-template #validToken>

    <form [formGroup]="formPassword">

      <div class="form-group">
        <input type="text" name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" required>
      </div>

      <div class="form-group">
        <input type="text" name="confirm" formControlName="confirm" [placeholder]="STRINGS.CONFIRM_PLACEHOLDER" required>
      </div>

      <div class="button" (click)="resetPassword()" > {{ STRINGS.RESET_PASSWORD }} </div>

      <div class="error-message"> {{ errorMessage }} </div>

      <div class="success-message"> {{ successMessage }} </div>

    </form>

  </ng-template>


</div>
