.new-password {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-page);
  min-height: calc(100% - 84px);
  box-sizing: border-box;
}

.container {
  z-index: 9;
  margin-bottom: 50px;
  max-width: 600px;
  min-width: min(50%, 500px);
}

.form-text-error {
  width: 300px;
}

