@import '../../../styles/colors';
@import '../../../styles/sizes';

.new-password {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $background-grey;
  min-height: calc(100% - 84px);
  box-sizing: border-box;

  .container {
    display: flex;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    flex-flow: column;
    align-items: center;
    margin: 25px;
    padding: 25px;
    background-color: white;
    max-width: 600px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 300px;

    .text {
      font-size: 16px;
      text-align: center;
      color: $subtle-grey;
    }

    .icon {
      font-size: 42px;
      color: $button-highlight;
      margin-bottom: 10px;
    }
  }

  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .form-group {
      position: relative;

      .loading {
        position: absolute;
        top: 9px;
        right: 10px;
        z-index: 100;
      }

      input {
        width: 300px;
        box-sizing: border-box;
        padding: 7px;
        outline: 0;
        border: 1px solid $subtle-grey;
      }

      input.ng-dirty.ng-invalid {
        border: 1px solid $error-red;
      }

      margin-bottom: 10px;
    }

    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      padding: 12px;
      background-color: $button-black;
      color: white;
      margin-bottom: 10px;

      &:hover {
        background-color: lighten($button-black, 10%);
      }
    }

    button.disabled {
      background-color: $subtle-grey;
      cursor: not-allowed;
    }

    .error-message {
      text-align: center;
      color: $error-red;
      padding-bottom: 5px;
    }

    .success-message {
      text-align: center;
      color: $success-green;
      padding-bottom: 5px;
    }
  }
}
