<spot-nav></spot-nav>
<div class="new-password">

  <div class="title"> {{ STRINGS.TITLE }} </div>

  <div class="description">
    <i class="material-icons icon"> security </i>
    <span class="text"> {{ STRINGS.DESCRIPTION }} </span>
  </div>

  <div class="form-container" *ngIf="!token; else validToken">

    <form [formGroup]="formToken" (keyup.enter)="validateToken()">

      <div class="form-group">
        <input type="text" name="token" formControlName="token" [placeholder]="STRINGS.TOKEN_PLACEHOLDER" required>
        <div *ngIf="tokenLoading" class="loading">
          <spot-spinner size="small"></spot-spinner>
        </div>
      </div>

      <div class="error-message"> {{ errorMessage }} </div>

      <div class="success-message"> {{ successMessage }} </div>

      <button (click)="validateToken()"> {{ STRINGS.VALIDATE }} </button>

    </form>

  </div>

  <ng-template #validToken>

    <form [formGroup]="formPassword">

      <div class="form-group">
        <input type="text" name="password" formControlName="password" [placeholder]="STRINGS.PASSWORD_PLACEHOLDER" required>
      </div>

      <div class="form-group">
        <input type="text" name="confirm" formControlName="confirm" [placeholder]="STRINGS.CONFIRM_PLACEHOLDER" required>
      </div>

      <div class="error-message"> {{ errorMessage }} </div>

      <div class="success-message"> {{ successMessage }} </div>

      <button (click)="resetPassword()" > {{ STRINGS.RESET_PASSWORD }} </button>

    </form>

  </ng-template>

</div>
