spot-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
}


.chat-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 60px;
  height: 100%;
  box-sizing: border-box;

  .container {
    max-width: 500px;
    min-width: min(95%, 700px);
    height: calc(100% - 60px);
    display: flex;
    flex-flow: column;
    flex: 1;
    box-sizing: border-box;
  }
}

.chat-room-container {
  height: calc(100% - 84px);
}

spot-chat-room {
  height: calc(100% - 40px);
  box-sizing: border-box;
}

spot-chat-friend {
  height: calc(100% - 40px);
  box-sizing: border-box;
}

spot-chat-page-menu {
  height: calc(100% - 84px);
  display: flex;
  flex: 1;
  overflow: hidden;
}

.minimized-chat {
  cursor: pointer;
}

.top-margin {
  margin-top: 50px;
}

.line-height {
  line-height: 15px;
}

.no-chats-placeholder {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  border: 2px dashed var(--background-primary);
  cursor: pointer;
}

.header-button {
  display: flex;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: var(--background-header);
  border: none;
  padding: 0;
}

.dropdown-content {
  top: 25px;
}
