<spot-main-nav></spot-main-nav>
<div class="chat-page background-page">
  <div
    class="container background-container container-shadow container-rounded margin-xl"
  >
    <!-- Minimized chat list -->
    <div class="row-h-center justify-content-end padding-lg">
      <!-- No chats -->
      <div class="no-chats-placeholder" (click)="openMenu()">
        <span class="material-icons icon-secondary icon-md"> add </span>
      </div>

      <!-- Minimized chats -->
      <div
        *ngFor="let chatRoom of chatPageMinimizedChats"
        class="row-center margin-l-md"
        (click)="openMinimizedChat(chatRoom)"
      >
        <span
          class="profile-md"
          [ngClass]="
            chatRoom.imageSrc ? '' : 'chat-' + chatRoom.defaultImageNum
          "
        >
          <img
            *ngIf="!chatRoom.imageSrc"
            [src]="'/assets/images/chat/' + chatRoom.defaultImageSrc"
          />
          <img *ngIf="chatRoom.imageSrc" [src]="chatRoom.imageSrc" />
        </span>
      </div>

      <!-- Show the open chat on far right -->
      <div
        *ngIf="chatPageOpenChat"
        class="profile-md margin-l-md"
        [ngClass]="
          chatPageOpenChat.imageSrc
            ? ''
            : 'chat-' + chatPageOpenChat.defaultImageNum
        "
      >
        <img
          *ngIf="!chatPageOpenChat.imageSrc"
          [src]="'/assets/images/chat/' + chatPageOpenChat.defaultImageSrc"
        />
        <img
          *ngIf="chatPageOpenChat.imageSrc"
          [src]="chatPageOpenChat.imageSrc"
        />
      </div>
    </div>

    <!-- Show the chat or show the menu -->
    <div *ngIf="chatPageOpenChat; else menu" class="chat-room-container col-h-center">
      <div class="text-secondary-highlight background-header padding-md" (click)="backToMenu()">Back</div>
      <spot-chat-room
        [chatRoom]="chatPageOpenChat"
        [isTab]="false"
      ></spot-chat-room>
    </div>
    <ng-template #menu>
      <spot-chat-page-menu></spot-chat-page-menu>
    </ng-template>
  </div>
</div>
