<spot-main-nav></spot-main-nav>
<div class="chat-page background-page">
  <div
    class="container background-container container-shadow container-rounded margin-md"
  >
    <!-- Minimized chat list -->
    <div #minimized class="row-h-center justify-content-end padding-lg">
      <!-- No chats -->
      <div
        *ngIf="chatPageMinimizedChats.length <= maximumMinimized - 2"
        class="no-chats-placeholder"
        (click)="openMenu()"
      >
        <span class="material-icons icon-secondary icon-md"> add </span>
      </div>

      <!-- Minimized chats -->
      <div
        *ngFor="let chatRoom of chatPageMinimizedChats"
        class="minimized-chat row-center margin-l-md"
        (click)="openMinimizedChat(chatRoom)"
      >
        <span
          class="profile-md"
          [ngClass]="
            chatRoom.data.imageSrc ? '' : 'chat-' + chatRoom.data.defaultImageNum
          "
        >
          <img
            *ngIf="!chatRoom.data.imageSrc"
            [src]="'/assets/images/chat/' + chatRoom.data.defaultImageSrc"
          />
          <img *ngIf="chatRoom.data.imageSrc" [src]="chatRoom.data.imageSrc" />
        </span>
      </div>

      <!-- Show the open chat on far right -->
      <div
        *ngIf="chatPageOpenChat"
        class="profile-md owned margin-l-md"
        [ngClass]="
          chatPageOpenChat.data.imageSrc
            ? ''
            : 'chat-' + chatPageOpenChat.data.defaultImageNum
        "
      >
        <img
          *ngIf="!chatPageOpenChat.data.imageSrc"
          [src]="'/assets/images/chat/' + chatPageOpenChat.data.defaultImageSrc"
        />
        <img
          *ngIf="chatPageOpenChat.data.imageSrc"
          [src]="chatPageOpenChat.data.imageSrc"
        />
      </div>
    </div>

    <!-- Show the chat or show the menu -->
    <div
      *ngIf="chatPageOpenChat; else menu"
      class="chat-room-container col-h-center"
    >
      <!-- Chat Header -->
      <div
        class="background-header row-h-center justify-content-between padding-sm"
      >
        <div class="row-h-center">
          <span
            class="material-icons icon-md icon-secondary-highlight"
            (click)="backToMenu()"
          >
            arrow_back
          </span>
          <!-- Chat photo-->
          <span
            class="profile-sm margin-h-md"
            [ngClass]="
              chatPageOpenChat.data.imageSrc
                ? ''
                : 'chat-' + chatPageOpenChat.data.defaultImageNum
            "
          >
            <img *ngIf="chatPageOpenChat.data.imageSrc" [src]="chatPageOpenChat.data.imageSrc" />
            <img
              *ngIf="!chatPageOpenChat.data.imageSrc"
              [src]="'/assets/images/chat/' + chatPageOpenChat.data.defaultImageSrc"
            />
          </span>

          <!-- Name and location with distance -->
          <div class="line-height col-h-center">
            <span class="text-md"> {{ chatPageOpenChat.data.name }}</span>
            <div class="row-h-center">
              <span class="material-icons icon-xs icon-primary">
                location_on
              </span>
              <span class="text-xs">
                {{ chatPageOpenChat.data.geolocation }} ({{
                  getDistance(chatPageOpenChat.data.distance)
                }})</span
              >
            </div>
          </div>
        </div>

        <!-- Settings Dropdown -->
        <div class="relative">
          <button
            #settings
            class="header-button margin-h-md"
            (click)="toggleDropdown()"
          >
            <span class="material-icons icon-md icon-secondary-highlight"
              >settings</span
            >
          </button>
          <div class="dropdown-content" [class.show-dropdown]="showDropdown">
            <div class="dropdown-button" (click)="leaveChatRoom()">
              <span class="material-icons icon-lg margin-r-md">
                directions_run
              </span>
              {{ 'MAIN.CHAT_TAB.LEAVE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- The chat -->
      <spot-chat-room
        [chatRoom]="chatPageOpenChat.data"
        [isTab]="false"
      ></spot-chat-room>
    </div>
    <ng-template #menu>
      <spot-chat-page-menu
        (chatSelectedEvent)="openChat($event)"
      ></spot-chat-page-menu>
    </ng-template>
  </div>
</div>
