.container {
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 0;
}

// MENU

.menu.show {
  opacity: 1;
  width: 230px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--background-container);
  width: 1px;
  height: 100%;
  opacity: 0;
  transition: all 0.75s ease;
  border: 1px solid var(--background-primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  .header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-primary);
    padding: 3px 5px;
    justify-content: space-between;
    align-items: center;

    .close {
      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;
      background-color: var(--background-primary);
      margin: 0;
      padding: 0;

      .icon {
        color: var(--error);
      }

      &hover .icon {
        color: var(--error-light-highlight);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .list-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid var(--background-primary);

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        background-color: var(--background-container);
        margin: 0;
        padding: 15px 10px;
        flex: 1;
        font-size: var(--text-large);

        // &:hover {
        //   background-color: darken(white, 10%);
        // }
      }

      button.selected {
        color: var(--primary);
      }
    }

    .list-body {
      flex: 1;
    }
  }
}

// FRIENDS

.friend {
  padding: 10px 10px;
}

// ROOMS

// TABS

.mini-tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  transition: all .75s ease;
  bottom: 0px;
  right: 5px;
}

.mini-tabs.show {
  right: 235px;
}

.mini-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--background-container);
  margin-top: 3px;
}

.tabs {
  position: absolute;
  bottom: 0px;
  right: 35px;
  transition: all .75s ease;
  display: flex;
  justify-content: flex-end;
}

.tabs.show {
  right: 265px;
}

.tab {
  margin-right: 35px;
}

// EXPAND

.toggle {
  position: fixed;
  top: 150px;
  right: 0;
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: var(--background-container);
  padding: 10px 5px;
  border: 1px solid var(--background-primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  // &:hover {
  //   background-color: darken(white, 10%);
  // }
  .icon {
  }
}
