.container {
  position: fixed;
  bottom: 0;
  right: 0;
}

// MENU

.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 500px;
  border: 1px solid var(--background-primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 4px;
  margin-right: 25px;

  .header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-primary);
    padding: 3px 5px;
    justify-content: space-between;
    align-items: center;

    .close {
      border: none;
      text-decoration: none;
      outline: none;
      cursor: pointer;
      background-color: var(--background-primary);
      margin: 0;
      padding: 0;

      .icon {
        color: var(--error);
      }

      &hover .icon {
        color: var(--error-light-highlight);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;

    .chat {
      flex: 1;
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 175px;
      border-left: 1px solid var(--background-primary);

      .list-header {
        display: flex;
        flex-direction: row;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          text-decoration: none;
          outline: none;
          cursor: pointer;
          background-color: white;
          margin: 0;
          padding: 10px 10px;
          flex: 1;

          &hover {
            color: darken(white, 10%);
          }
        }

        button.selected {
          color: var(--primary);
        }
      }

      .list-body {
        flex: 1;
      }
    }
  }
}

// EXPAND

.toggle {
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  padding: 10px 18px;
  border: 1px solid var(--background-primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 4px;
  margin-right: 25px;
  &:hover {
    background-color: darken(white, 10%);
  }
}
