<div class="container">
  <div class="menu" [class.show]="menuExpanded">
    <div class="header">
      <span>Spot Chat</span>
      <button class="close" (click)="toggleMenu()">
        <i class="material-icons icon">close</i>
      </button>
    </div>
    <div class="body">
      <div class="list-header">
        <button
          class="rooms"
          [ngClass]="{ selected: selectedChatOption === chatOptions.ROOMS }"
          (click)="selectRooms()"
        >
          Rooms
        </button>
        <button
          class="friends"
          [ngClass]="{ selected: selectedChatOption === chatOptions.FRIENDS }"
          (click)="selectFriends()"
        >
          Friends
        </button>
      </div>
      <div
        *ngIf="selectedChatOption === chatOptions.ROOMS"
        class="list-body"
      ></div>
      <div *ngIf="selectedChatOption === chatOptions.FRIENDS" class="list-body">
        <div *ngIf="friends$ | async as friends">
          <div *ngFor="let friend of friends">
            <span (click)="openTab(friend.username)">{{ friend.username }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="!menuExpanded" class="toggle" (click)="toggleMenu()">
    <i class="material-icons icon">comment</i>
  </button>
</div>
