/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
// @import '~material-icons/css/material-icons.scss';

html {
    height:100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow-y: overlay
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

// Modal styles

spot-modal {
  /* modals are hidden by default */
  display: none;
}

body.spot-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
